<div class="section section-works">
  <div class="wrapper wrapper pv lg-pv+ tc">
    <div class="section-header">
      <h1 class="section-heading mb-- md-mb- lg-mb">Selected Clients</h1>
    </div>
    <div class="section-main">
      <table class="table table-border table-border-cells">
        <tbody>
          {% for item in include.clients limit:12 | sort:'order' %}
          {% capture logoPath %}/assets/images/work/clients/{% endcapture %}
          {% capture logoFileName %}{{ logoPath }}{{ item.logo }}{% endcapture %}
          {% cycle '<tr>', '', '', '' %}
            <td class="client vam 1/4">
              <img data-src="{{ logoFileName }}" class="lazyload" alt="{{ item.name }}">
            </td>
          {% cycle '', '', '', '</tr>' %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
