<div class="section section-works">
  <div class="wrapper pt lg-pt++">
    <div class="section-main">
      <ul class="grid gutter-1/2 sm-gutter-1">
        {% assign workItems = site.categories['work'] limit:12 | sort: 'order' %}
        {% for item in workItems %}
        {% capture photoPath %}/assets/images/work/{% endcapture %}
        {% capture photoFileName %}{{ photoPath }}{{ item.images.archive_grid }}{% endcapture %}
        <li class="grid-item 1/2 xs-1/3 mb- sm-mb">
          <a href="{{ item.url }}" class="work tc">
            {% if item.images %}
            <img data-src="{{ photoFileName }}" class="lazyload" alt="{{ item.title }}">
            {% else %}
            <img data-src="http://placehold.it/360x360/dedede" class="lazyload" alt="{{ item.title }}">
            {% endif %}
            <div class="work-overlay">
              <div class="dt h100">
                <div class="dtc vam p-- sm-p- md-p">
                  <h1 class="work-heading">{{ item.title }}</h1>
                  {% if item.tags %}
                  <ul class="work-meta list-bare">
                    {% for item in item.tags %}
                    <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
