---
layout: default
body_class: "archive-blog"
---

{% if page.header_bg_image %}
<style>
  .page-header {
    position: relative;
    background-color: transparent;
    background-image: url("/assets/images/{{ page.header_bg_image }}");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .page-header:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.15);
    content: "";
  }

  .page-header .wrapper {
    position: relative;
    z-index: 2;
  }
</style>
{% endif %}

<div class="page-header">
  <div class="wrapper wrapper-xl pv sm-pv+ md-pv++">
    <h1 class="page-heading mb0">{{ page.title }}</h1>
  </div>
</div>

{{ content }}
