---
layout: default
body_class: "page"
---

<div class="page-header">
  <div class="wrapper{% if page.title == 'Hire Us' %} wrapper-md{% else %} wrapper-xl{% endif %} pv sm-pv+ md-pv++">
    <h1 class="page-heading mb0">{{ page.title }}</h1>
    {% if page.title == 'Hire Us' %}
    <p class="lg-mb+ lg-fz++">We’d love to work with you. Please contact us in any of the following ways:</p>
    {% elsif page.title == 'Thank You!' %}
    <p class="lg-fz++">We will be in touch with you very shortly. Have a great day.</p>
    <p class="lg-mb+"><a href="/" id="cta-phone" class="btn btn-round btn-hollow btn-hollow-inverse">Back to Home</a></p>
    {% endif %}
  </div>
</div>

{{ content }}
