---
layout: default
body_class: "single-blog"
---

{% if page.header_bg_image %}
<style>
  .page-header {
    position: relative;
    background-color: transparent;
    background-image: url("/assets/images/{{ page.header_bg_image }}");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .page-header:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.15);
    content: "";
  }

  .page-header .wrapper {
    position: relative;
    z-index: 2;
  }
</style>
{% endif %}

<div class="page-header">
  <div class="wrapper wrapper-lg pv sm-pv+ md-pv++">
    <h1 class="page-heading">{{ page.title }}</h1>
    <ul class="post-meta list-bare pt">
      {% if page.teaser %}
      <li class="post-meta-item db"><h2 class="post-teaser">{{ page.teaser }}</h2></li>
      {% endif %}
      {% if page.author %}
      <li class="post-meta-item db xs-dib ph-- sm-ph"><span class="post-author">{{ page.author }}</span></li>
      {% endif %}
      {% if page.date %}
      <li class="post-meta-item db xs-dib ph-- sm-ph"><span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span></li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="section section-post">
  <div class="wrapper wrapper-sm pt+ pb sm-pt++">
    <div class="section-main">
      {% include snippets/post_sharing.html %}
      <div class="post-content">
        {{ content }}
      </div>
      {% include snippets/post_sharing_horizontal.html %}
    </div>
  </div>
</div>
{% for post in site.categories["blog"] %}
  {% if post.url == page.url %}
    {% assign post_index0 = forloop.index0 %}
    {% assign post_index1 = forloop.index %}
  {% endif %}
{% endfor %}
{% for post in site.categories["blog"] %}
  {% if post_index0 == forloop.index %}
    {% assign next_post = post.url %}
    {% assign next_post_title = post.title %}
    {% assign next_post_date = post.date | date: "%b %-d, %Y" %}
  {% endif %}
  {% if post_index1 == forloop.index0 %}
    {% assign prev_post = post.url %}
    {% assign prev_post_title = post.title %}
    {% assign prev_post_date = post.date | date: "%b %-d, %Y" %}
  {% endif %}
{% endfor %}
<div class="section section-paging">
  <div class="wrapper wrapper-md pb sm-pt sm-pb+">
    <div class="section-main">
      <div class="paging paging-single dt">
        {% if prev_post %}
        <a href="{{ prev_post }}" class="paging-prev paging-link dtc vat 1/3">
          <span class="sm-dn">
            <svg class="icon-arrow-left icon icon- mr--" role="presentation"><use xlink:href="#icon-arrow-left"></use></svg>
            Prev
          </span>
          <span class="paging-date dn sm-db mb-- lg-mb-">{{ prev_post_date }}</span>
          <h3 class="paging-title dn sm-db">{{ prev_post_title }}</h3>
        </a>
        {% else %}
          <span class="paging-link paging-inactive dtc vat 1/3">&nbsp;</span>
        {% endif %}
        <a href="/blog/" class="paging-index paging-link dtc vam 1/3 tc">
          <span class="db sm-mb--">
            <svg class="icon-home icon sm-icon++" role="presentation"><use xlink:href="#icon-home"></use></svg>
          </span>
          <span class="dn sm-di">Blog Index</span>
        </a>
        {% if next_post %}
        <a href="{{ next_post }}" class="paging-next paging-link dtc vat 1/3 tr">
          <span class="sm-dn">
            Next
            <svg class="icon-arrow-right icon icon- ml--" role="presentation"><use xlink:href="#icon-arrow-right"></use></svg>
          </span>
          <span class="paging-date dn sm-db mb-- lg-mb-">{{ next_post_date }}</span>
          <h3 class="paging-title dn sm-db">{{ next_post_title }}</h3>
        </a>
        {% else %}
          <span class="paging-link paging-inactive dtc vat 1/3 tr">&nbsp;</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="section section-comments">
  <div class="wrapper wrapper-sm pb+ sm-pb++">
    <div class="section-main">
      <div id="disqus_thread"></div>
      <script>
        var disqus_shortname = '{{ site.disqus.shortname }}';
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the comments on this page.</noscript>
    </div>
  </div>
</div>
