---
layout: default
body_class: "single-services"
---

{% if page.header_bg_image %}
<style>
  .page-header {
    position: relative;
  }

  .bg-mouseover-effect-container {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
  }

  .bg-mouseover-effect-container:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.35);
    content: "";
  }

  .page-header .wrapper {
    position: relative;
    z-index: 2;
  }
</style>
{% endif %}

{% for post in site.categories["services"] %}
  {% if post.url == page.url %}
    {% assign post_index0 = forloop.index0 %}
    {% assign post_index1 = forloop.index %}
  {% endif %}
{% endfor %}
{% for post in site.categories["services"] %}
  {% if post_index0 == forloop.index %}
    {% assign next_post = post.url %}
    {% assign next_post_title = post.title %}
    {% assign next_post_date = post.date | date: "%b %-d, %Y" %}
  {% endif %}
  {% if post_index1 == forloop.index0 %}
    {% assign prev_post = post.url %}
    {% assign prev_post_title = post.title %}
    {% assign prev_post_date = post.date | date: "%b %-d, %Y" %}
  {% endif %}
{% endfor %}

<div class="page-header{% if page.header_bg_image %} js-bg-mouseover-effect{% endif %}"{% if page.header_bg_image %} data-bg-mouseover-effect="/assets/images/{{ page.header_bg_image }}"{% endif %}>
  <div class="wrapper tc pv sm-pv+ md-pv++">
    <h1 class="page-heading">{{ page.title }}</h1>
    <h2 class="page-subheading h4 mb0">{{ page.subtitle }}</h2>
  </div>
  <div class="paging paging-overlay" role="navigation">
    <ul class="paging-menu">
      {% if prev_post %}
      <li class="paging-item paging-prev" rel="prev">
        <a href="{{ prev_post }}" class="paging-link">
          <svg class="icon-arrow-left icon sm-icon+ lg-icon++" role="presentation"><use xlink:href="#icon-arrow-left"></use></svg>
        </a>
      </li>
      {% endif %}
      {% if next_post %}
      <li class="paging-item paging-next" rel="next">
        <a href="{{ next_post }}" class="paging-link">
          <svg class="icon-arrow-right icon sm-icon+ lg-icon++" role="presentation"><use xlink:href="#icon-arrow-right"></use></svg>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>

<div class="section section-work">
  <div class="section-header">
    <div class="wrapper pv sm-pt+ md-pt++">
      {% comment %}<h1 class="section-heading">{{ page.tagline }}</h1>{% endcomment %}
    </div>
  </div>
  <div class="section-main">
    <div class="wrapper wrapper-sm sm-pb lg-pt lg-pb+">
      <h2>{{ page.tagline }}</h2>
      {{ content }}
      <p class="md-mt+ md-tc">
        <a href="/contact" class="btn btn-primary btn-lg btn-round" target="_blank">Tell Us About Your Project</a>
      </p>
    </div>
  </div>
</div>
