---
layout: default
body_class: "single-work"
---

{% if page.header_bg_image %}
<style>
  .page-header {
    position: relative;
    background-color: transparent;
    background-image: url("/assets/images/{{ page.header_bg_image }}");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .page-header:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.15);
    content: "";
  }

  .page-header .wrapper {
    position: relative;
    z-index: 2;
  }
</style>
{% endif %}

<div class="page-header">
  <div class="wrapper pv sm-pv+ md-pt++">
  <h1 class="page-heading md-mb++">Work</h1>
  <h2 class="page-subheading h5 mb0"><a href="/work"><svg class="icon-arrow-left icon icon- mr-" role="presentation"><use xlink:href="#icon-arrow-left"></use></svg>Back to Work Index</a></h2>
  </div>
</div>

<div class="section section-work">
  <div class="section-header">
    <div class="wrapper pv sm-pt+ md-pt++">
      <ul class="sharing list-bare fr ml">
        <li class="sharing-item">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url | remove: 'index.html' }}" title="Share on Facebook" class="sharing-link" target="_blank">
            <svg class="sharing-icon icon-facebook icon icon-" role="presentation">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="sharing-item">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | prepend: site.baseurl | prepend: site.url | remove: 'index.html' }}&via={{ site.twitter.username }}" title="Share on Twitter" class="sharing-link" target="_blank">
            <svg class="sharing-icon icon-twitter icon icon-" role="presentation">
              <use xlink:href="#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="sharing-item">
          <a href="mailto:?subject={{ page.title | replace: '&', '%26' }}&body=Hey friend, I thought you’d be interested in this work by {{ site.title }}: {{ page.url | prepend: site.baseurl | prepend: site.url | remove: 'index.html' }}. Have a great day!" title="Email a Friend" class="sharing-link" target="_blank">
            <svg class="sharing-icon icon-email icon icon-" role="presentation">
              <use xlink:href="#icon-email"></use>
            </svg>
          </a>
        </li>
      </ul>
      <h1 class="section-heading">{{ page.title }}</h1>
      {% if page.tags || page.project_url %}
      <ul class="section-tagline list-inline-block">
        {% for item in page.tags %}
        <li{% if forloop.last %} class="mr-"{% endif %}>{{ item }}</li>
        {% unless forloop.last %}<li class="ph--"> | </li>{% endunless %}
        {% endfor %}
        {% if page.project_url %}
        <li><a href="{{ page.project_url }}" target="_blank">{{ page.project_url }}</a></li>
        {% endif %}
      </ul>
      {% endif %}
      <div class="section-image">
        {% if page.images.single_main %}
        {% capture photoMainPath %}/assets/images/work/{% endcapture %}
        {% capture photoMainFileName %}{{ photoMainPath }}{{ page.images.single_main }}{% endcapture %}
        <img data-src="{{ photoMainFileName }}" class="lazyload" alt="{{ page.title }}">
        {% endif %}
      </div>
    </div>
  </div>
  <div class="section-main">
    <div class="wrapper wrapper-sm lg-pt">
      {{ content }}
    </div>
    <div class="wrapper">
      {% if page.images.single_grid1 && page.images.single_grid2 && page.images.single_grid3 %}
      {% capture photoGrid1Path %}/assets/images/work/{% endcapture %}
      {% capture photoGrid1FileName %}{{ photoGrid1Path }}{{ page.images.single_grid1 }}{% endcapture %}
      {% capture photoGrid2Path %}/assets/images/work/{% endcapture %}
      {% capture photoGrid2FileName %}{{ photoGrid2Path }}{{ page.images.single_grid2 }}{% endcapture %}
      {% capture photoGrid3Path %}/assets/images/work/{% endcapture %}
      {% capture photoGrid3FileName %}{{ photoGrid3Path }}{{ page.images.single_grid3 }}{% endcapture %}
      {% capture photoGrid4Path %}/assets/images/work/{% endcapture %}
      {% capture photoGrid4FileName %}{{ photoGrid4Path }}{{ page.images.single_grid4 }}{% endcapture %}
      {% capture photoGrid5Path %}/assets/images/work/{% endcapture %}
      {% capture photoGrid5FileName %}{{ photoGrid5Path }}{{ page.images.single_grid5 }}{% endcapture %}
      <div class="grid md-mt+">
        {% if page.images.single_grid1 %}
        <div class="grid-item sm-1/2 mb">
          <img data-src="{{ photoGrid1FileName }}" class="lazyload" alt="{{ page.title }}">
        </div>
        {% endif %}
        {% if page.images.single_grid2 %}
        <div class="grid-item sm-1/2 mb">
          <img data-src="{{ photoGrid2FileName }}" class="lazyload" alt="{{ page.title }}">
        </div>
        {% endif %}
        {% if page.images.single_grid3 %}
        <div class="grid-item mb">
          <img data-src="{{ photoGrid3FileName }}" class="lazyload" alt="{{ page.title }}">
        </div>
        {% endif %}
        {% if page.images.single_grid4 %}
        <div class="grid-item sm-1/2 mb">
          <img data-src="{{ photoGrid4FileName }}" class="lazyload" alt="{{ page.title }}">
        </div>
        {% endif %}
        {% if page.images.single_grid5 %}
        <div class="grid-item sm-1/2 mb">
          <img data-src="{{ photoGrid5FileName }}" class="lazyload" alt="{{ page.title }}">
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% if page.project_url %}
        <p class="mb md-mt md-mb+ tc"><a href="{{ page.project_url }}" class="btn btn-primary btn-lg btn-round" target="_blank">View Project ></a></p>
      {% endif %}
    </div>
  </div>
</div>

{% for post in site.categories["work"] %}
  {% if post.url == page.url %}
    {% assign post_index0 = forloop.index0 %}
    {% assign post_index1 = forloop.index %}
  {% endif %}
{% endfor %}
{% for post in site.categories["work"] %}
  {% if post_index0 == forloop.index %}
    {% assign next_post = post.url %}
    {% assign next_post_title = post.title %}
    {% assign next_post_date = post.date | date: "%b %-d, %Y" %}
  {% endif %}
  {% if post_index1 == forloop.index0 %}
    {% assign prev_post = post.url %}
    {% assign prev_post_title = post.title %}
    {% assign prev_post_date = post.date | date: "%b %-d, %Y" %}
  {% endif %}
{% endfor %}
<div class="section section-paging">
  <div class="wrapper wrapper-md pb sm-pb+ md-pb++">
    <div class="section-main">
      <div class="paging paging-single dt">
        {% if prev_post %}
        <a href="{{ prev_post }}" class="paging-prev paging-link dtc vat 1/3">
          <span class="sm-dn">
            <svg class="icon-arrow-left icon icon- mr--" role="presentation"><use xlink:href="#icon-arrow-left"></use></svg>
            Prev
          </span>
          <span class="paging-date dn sm-db mb-- lg-mb-">Prev</span>
          <h3 class="paging-title dn sm-db">{{ prev_post_title }}</h3>
        </a>
        {% else %}
          <span class="paging-link paging-inactive dtc vat 1/3">&nbsp;</span>
        {% endif %}
        <a href="/work/" class="paging-index paging-link dtc vam 1/3 tc">
          <span class="db sm-mb--">
            <svg class="icon-work icon sm-icon++" role="presentation"><use xlink:href="#icon-work"></use></svg>
          </span>
          <span class="dn sm-di">Work Index</span>
        </a>
        {% if next_post %}
        <a href="{{ next_post }}" class="paging-next paging-link dtc vat 1/3 tr">
          <span class="sm-dn">
            Next
            <svg class="icon-arrow-right icon icon- ml--" role="presentation"><use xlink:href="#icon-arrow-right"></use></svg>
          </span>
          <span class="paging-date dn sm-db mb-- lg-mb-">Next</span>
          <h3 class="paging-title dn sm-db">{{ next_post_title }}</h3>
        </a>
        {% else %}
          <span class="paging-link paging-inactive dtc vat 1/3 tr">&nbsp;</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
