/* ========================================================================== *\
   Project -> Pages -> Single Work ($project-pages-single-work)
\* ========================================================================== */

.single-work {
  .section-work {
    .section-heading {
      line-height: 1.333;
      .to-rem(margin-bottom, @spacing-sixth);
    }

    .section-tagline {
      color: @color-gray-dark;
      .to-rem(font-size, @font-size-x-small);
      .to-rem(margin-bottom, @spacing-base);
    }
  }
}

.screen-md-min({
  .single-work {
    .section-work {
      .section-tagline {
        .to-rem(font-size, @font-size-x-large);
      }
    }
  }
});
