/* ========================================================================== *\
   Project -> Pages -> Services ($project-pages-services)
\* ========================================================================== */

@service-border-width: 1;
@service-border-style: solid;
@service-border-color: @color-gray-light;

.page-services {
  .service {
    .to-rem(border-bottom, @service-border-width, @service-border-style @service-border-color);

    &:first-child {
      .to-rem(border-top, @service-border-width, @service-border-style @service-border-color);
    }
  }

  .service-icon {
    .to-rem(margin-bottom, @spacing-half);

    .icon {
      .to-rem(width, @icon-size-xxx-large);
      .to-rem(height, @icon-size-xxx-large);
    }
  }

  .service-subheading {
    color: @color-gray-dark;
  }

  .services-other {
    font-weight: 400;
    .to-rem(font-size, @font-size-heading-5);
  }
}

.screen-xs-min({
  .page-services {
    .service-heading {
      .to-rem(font-size, @font-size-deca);
    }
    
    .service-icon {
      .icon {
        .to-rem(width, @icon-size-deca);
        .to-rem(height, @icon-size-deca);
      }
    }
  }
});

.screen-sm-min({
  .page-services {
    .services-other {
      .to-rem(font-size, @font-size-heading-3);
    }
  }
});

.screen-lg-min({
  .page-services {
    .service-icon {
      .icon {
        .to-rem(width, @icon-size-hecto);
        .to-rem(height, @icon-size-hecto);
      }
    }
  }
});
