/* ========================================================================== *\
   Project -> Pages -> Home ($project-pages-home)
\* ========================================================================== */

@page-error-text-color: @color-white;

.page-error {

  .antialiasing();

  &,
  & .page-heading,
  & .page-tagline {
    color: @page-error-text-color;
  }

  &,
  & .site,
  & .site-main {
    height: 100%;
  }

  .site-main {
    background-repeat: no-repeat;
    background-image: url("/assets/images/error/error.gif");
    background-position: 50% 50%;
    background-size: 100% 100%;
  }

  .section-error {
    position: relative;
    z-index: 2;
  }
}
