/* ========================================================================== *\
   Project -> Pages -> Single Blog ($project-pages-single-blog)
\* ========================================================================== */

.single-blog {
  .page-heading {
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.333;
  }
}

.screen-xl-min({
  .single-blog {
    .page-heading {
      .to-rem(font-size, @font-size-mega);
    }
  }
});
