/* ========================================================================== *\
   Project -> Pages ($project-pages)
\* ========================================================================== */

@page-header-background-color: @color-primary;
@page-header-text-color: @color-white;

// Page headers
.page-header {
  background-color: @page-header-background-color;
  text-align: center;

  .antialiasing();

  &,
  & a,
  & .page-heading,
  & .page-subheading,
  & .post-teaser {
    color: @page-header-text-color;
    line-height: 1.333;
  }

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .location-heading {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: @page-header-text-color;
  }
}

.page-heading {
  .to-rem(font-size, @font-size-deca);
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.page-subheading {
  font-weight: 400;
}

.screen-sm-min({
  .page-heading {
    .to-rem(font-size, @font-size-hecto);
  }
});

.screen-lg-min({
  .page-heading {
    .to-rem(font-size, @font-size-mega);
  }
});

.screen-xl-min({
  .page-heading {
    .to-rem(font-size, @font-size-giga);
  }
});
