/* ========================================================================== *\
   Project -> Pages -> Single Services ($project-pages-single-services)
\* ========================================================================== */

@single-services-page-subheading-text-color: @color-white;
@single-services-page-subheading-padding-top: @spacing-base-plus-half;
@single-services-page-subheading-border-top: 1px solid @color-white;
@single-services-page-subheading-font-weight: 400;

.single-services {
  .page-subheading {
    display: inline-block;
    .to-rem(padding-top, @single-services-page-subheading-padding-top);
    border-top: @single-services-page-subheading-border-top;
    color: @single-services-page-subheading-text-color;
    font-weight: @single-services-page-subheading-font-weight;
  }
}
