/* ========================================================================== *\
   Project -> Pages -> Home ($project-pages-home)
\* ========================================================================== */

@home-section-heading-margin-bottom: @spacing-base;
@home-service-border-width: 2;
@home-service-border-style: solid;
@home-service-border-color: @color-white;
@home-service-border-radius: 5;
@home-service-background-color-hover: #fdf6e3;
@home-team-video-fallback-overlay-background-color: @video-overlay-background-color;

.page-home {

  &,
  & .site {
    height: 100%;
  }

  //
  // Site
  //

  // 1. Transparent background color `.site-intro` is active
  .site-header {
    background-color: transparent; // 1
    transition: background-color 0.35s ease;
  }

  // 1. Add background color after scrolling past `.site-intro`
  &.pageover .site-header {
    background-color: @color-primary; // 1
  }

  // Remove top padding on `.site-intro`
  .site-intro {
    padding-top: 0;
  }

  //
  // Sections
  //

  .section-heading {
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }

  .section-tagline {
    color: @color-gray-dark;
  }

  .section-footer {
    color: @color-gray-darkest;
  }

  //
  // Services
  //

  .section-services {
    .service {
      display: block;
      text-decoration: none;
      .to-rem(padding, @spacing-base @spacing-half);
      .to-rem(border-radius, @home-service-border-radius);
      .to-rem(border, @home-service-border-width, @home-service-border-style @home-service-border-color);
      transition: border-color 0.35s ease;
    }

    .service-icon {
      .to-rem(margin-bottom, @spacing-half);

      .icon {
        .to-rem(width, @icon-size-x-large);
        .to-rem(height, @icon-size-x-large);
      }
    }

    .service-heading {
      .to-rem(font-size, @font-size-x-large);
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    .service-subheading {
      color: @color-gray-dark;
      .to-rem(font-size, @font-size-xxx-small);
      margin-bottom: 0;
    }

    .service-more {
      font-weight: 700;
      .to-rem(font-size, @font-size-xx-small);
      margin-bottom: 0;

      .antialiasing();
    }
  }

  //
  // Team
  //

  .section-team {
    position: relative;
    background-color: @color-black;
    overflow: hidden;

    .antialiasing();

    &,
    .section-heading,
    .section-tagline {
      color: @color-white;
    }

    .wrapper {
      position: relative;
      z-index: @z-index-2;
    }

    &.video-fallback {
      background-image: url("/assets/images/home/bg-home-team.jpg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;

      .video {
        display: none;
      }
    }
  }

  //
  // Work / Play / Team
  //

  .section-work,
  .section-play,
  .section-team {
    .section-heading {
      .to-rem(margin-bottom, @spacing-half);
    }
  }

  //
  // Play
  // 1. Prevent flickering
  //

  .instagram-spinner {
    .to-rem(margin, @spacing-quadruple auto);
  }

  .instagram {
    display: block;
    text-decoration: none;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0); // 1

    .antialiasing();
  }

  .instagram-photo {
    position: relative;
    &:hover .instagram-overlay {
      visibility: visible;
      transition: opacity 0.35s ease;
      opacity: 1;
    }
  }

  .instagram-photo,
  .instagram-heading {
    color: @color-white;
  }

  .instagram-overlay {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    transition: opacity 0.35s ease, visibility 0s 0.35s ease;
    opacity: 0;
    background-color: fade(@color-secondary, 80%);
  }

  .instagram-heading,
  .instagram-date {
    .to-rem(font-size, @font-size-xxx-small);
  }

  .instagram-heading {
    margin-bottom: 0;
  }
}

.screen-sm-min({
  .page-home {
    // Sections
    .section-heading {
      .to-rem(font-size, @font-size-hecto);
    }

    // Work / Play
    .section-work,
    .section-play {
      .section-heading {
        margin-bottom: 0;
        line-height: 0.95;
      }
    }

    // Play
    .instagram-heading {
      .to-rem(font-size, @font-size);
    }
  }
});

.screen-md-min({
  .page-home {
    // Sections
    .section-heading {
      .to-rem(font-size, @font-size-kilo);
    }

    .section-tagline,
    .section-footer {
      .to-rem(font-size, @font-size-heading-4);
    }

    // Services
    .section-services {
      .service {
        &.service-origin:hover {
          border-color: @color-tertiary;
        }

        &.service-identity:hover {
          border-color: @color-secondary;
        }

        &.service-catalyst:hover {
          border-color: @color-primary;
        }

        &.service-infinity:hover {
          border-color: @color-quaternary;
        }
      }

      .service-icon {
        .icon {
          .to-rem(width, @icon-size-xx-large);
          .to-rem(height, @icon-size-xx-large);
        }
      }

      .service-heading {
        .to-rem(font-size, @font-size-heading-3);
      }

      .service-subheading {
        .to-rem(margin-bottom, @spacing-half);
        .to-rem(font-size, @font-size-x-small);
      }

      .service-more {
        .to-rem(font-size, @font-size);
        line-height: 1;
      }
    }

    // Team
    .section-team {
      .btn {
        .to-rem(font-size, @font-size-xx-large);
      }
    }
  }
});

.screen-lg-min({
  .page-home {
    // Site
    .site-intro {
      padding-top: 0;
    }

    // Sections
    .section-footer {
      .to-rem(font-size, @font-size-heading-2);
    }

    .section-services {
      // Services
      .service-icon {
        .icon {
          .to-rem(width, @icon-size-xxx-large);
          .to-rem(height, @icon-size-xxx-large);
        }
      }

      .service-heading {
        .to-rem(font-size, @font-size-heading-1);
      }
    }

    // Team
    .section-team {
      .btn {
        .to-rem(font-size, @font-size-heading-4);
      }
    }
  }
});

.screen-xl-min({
  .page-home {
    // Sections
    .section-heading {
      .to-rem(font-size, @font-size-mega);
    }

    .section-tagline {
      .to-rem(font-size, @font-size-heading-3);
    }

    // Team
    .section-team {
      .section-heading {
        .to-rem(font-size, @font-size-giga);
      }
    }

    // Play
    .instagram-heading {
      .to-rem(font-size, @font-size-heading-4);
    }

    .instagram-date {
      .to-rem(font-size, @font-size-x-small);
    }
  }
});

.screen-xxl-min({
  .page-home {
    // Play
    .instagram-heading {
      .to-rem(font-size, @font-size-heading-2);
    }

    .instagram-date {
      .to-rem(font-size, @font-size);
    }
  }
});
