/* ========================================================================== *\
   Project -> Animations ($project-animations)
\* ========================================================================== */

// Animations
//
// Make things move!
//
// Styleguide 3.

.animation {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

// Slides
//
// I slide things up and then I slide them down.
//
// .slide-up - Slide something up 100%
// .slide-down - Slide something down 100%
//
// Markup:
// <div class="animation {$modifiers}">Sliding!</div>
//
// Styleguide 3.1

.slide-up {
  animation-name: slideUp;
}

.slide-down {
  animation-name: slideDown;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

// Fades
//
// I fade things in and then I fade them out.
//
// .fade-in - Fade something in from 0% to 100% opacity
// .fade-out - Fade something out from 100% to 0% opacity
//
// Markup:
// <div class="animation {$modifiers}">Fading!</div>
//
// Styleguide 3.2

.fade-in {
  animation-name: fadeIn;
}

.fade-out {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Blinks
//
// Toggle opacity of an element very quickly.
//
// .blink - Toggle opacity rapidly from 0% to 100%.
// .blink-rainbow - Toggle color rapidly to represent a rainbow
//
// Markup:
// <div class="animation {$modifiers}">Blinking!</div>
//
// Styleguide 3.3

.blink {
  animation-name: blink;
  animation-duration: 0.15s !important;
  animation-iteration-count: infinite;
}

.blink-rainbow {
  animation-name: blinkRainbow;
  animation-duration: 1.5s !important;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blinkRainbow {
  0% {
    color: red;
    opacity: 1;
  }

  13% {
    opacity: 0;
  }

  14% {
    color: green;
    opacity: 1;
  }

  27% {
    opacity: 0;
  }

  28% {
    color: blue;
    opacity: 1;
  }

  41% {
    opacity: 0;
  }

  42% {
    color: indigo;
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  56% {
    color: yellow;
    opacity: 1;
  }

  69% {
    opacity: 0;
  }

  70% {
    color: orange;
    opacity: 1;
  }

  83% {
    opacity: 0;
  }

  84% {
    color: darkviolet;
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    color: red;
    opacity: 1;
  }
}
