// 
// Solarized Light
// 
// For use with Jekyll and Pygments
// 
// http://ethanschoonover.com/solarized
// 
// SOLARIZED HEX      ROLE
// --------- -------- ------------------------------------------
// base01    #586e75  body text / default code / primary content
// base1     #93a1a1  comments / secondary content
// base3     #fdf6e3  background
// orange    #cb4b16  constants
// red       #dc322f  regex, special keywords
// blue      #268bd2  reserved keywords
// cyan      #2aa198  strings, numbers
// green     #859900  operators, other keywords
// 

.highlight {
  pre {
    color: #586e75;
    background-color: #fdf6e3;
  }

  // Comment
  .c {
    color: #93a1a1;
  }

  // Error
  .err {
    color: #586e75;
  }

  // Generic
  .g {
    color: #586e75;
  }

  // Keyword
  .k {
    color: #859900;
  }

  // Literal
  .l {
    color: #586e75;
  }

  // Name
  .n {
    color: #586e75;
  }

  // Operator
  .o {
    color: #859900;
  }

  // Other
  .x {
    color: #cb4b16;
  }

  // Punctuation
  .p {
    padding: 0 !important;
    color: #586e75;
  }

  // Comment.Multiline
  .cm {
    color: #93a1a1;
  }

  // Comment.Preproc
  .cp {
    color: #859900;
  }

  // Comment.Single
  .c1 {
    color: #93a1a1;
  }

  // Comment.Special
  .cs {
    color: #859900;
  }

  // Generic.Deleted
  .gd {
    color: #2aa198;
  }

  // Generic.Emph
  .ge {
    font-style: italic;
    color: #586e75;
  }

  // Generic.Error
  .gr {
    color: #dc322f;
  }

  // Generic.Heading
  .gh {
    color: #cb4b16;
  }

  // Generic.Inserted
  .gi {
    color: #859900;
  }

  // Generic.Output
  .go {
    color: #586e75;
  }

  // Generic.Prompt
  .gp {
    color: #586e75;
  }

  // Generic.Strong
  .gs {
    font-weight: bold;
    color: #586e75;
  }

  // Generic.Subheading
  .gu {
    color: #cb4b16;
  }

  // Generic.Traceback
  .gt {
    color: #586e75;
  }

  // Keyword.Constant
  .kc {
    color: #cb4b16;
  }

  // Keyword.Declaration
  .kd {
    color: #268bd2;
  }

  // Keyword.Namespace
  .kn {
    color: #859900;
  }

  // Keyword.Pseudo
  .kp {
    color: #859900;
  }

  // Keyword.Reserved
  .kr {
    color: #268bd2;
  }

  // Keyword.Type
  .kt {
    color: #dc322f;
  }

  // Literal.Date
  .ld {
    color: #586e75;
  }

  // Literal.Number
  .m {
    margin: 0 !important;
    color: #2aa198;
  }

  // Literal.String
  .s {
    color: #2aa198;
  }

  // Name.Attribute
  .na {
    color: #586e75;
  }

  // Name.Builtin
  .nb {
    color: #b58900;
  }

  // Name.Class
  .nc {
    color: #268bd2;
  }

  // Name.Constant
  .no {
    color: #cb4b16;
  }

  // Name.Decorator
  .nd {
    color: #268bd2;
  }

  // Name.Entity
  .ni {
    color: #cb4b16;
  }

  // Name.Exception
  .ne {
    color: #cb4b16;
  }

  // Name.Function
  .nf {
    color: #268bd2;
  }

  // Name.Label
  .nl {
    color: #586e75;
  }

  // Name.Namespace
  .nn {
    color: #586e75;
  }

  // Name.Other
  .nx {
    color: #586e75;
  }

  // Name.Property
  .py {
    color: #586e75;
  }

  // Name.Tag
  .nt {
    color: #268bd2;
  }

  // Name.Variable
  .nv {
    color: #268bd2;
  }

  // Operator.Word
  .ow {
    color: #859900;
  }

  // Text.Whitespace
  .w {
    color: #586e75;
  }

  // Literal.Number.Float
  .mf {
    color: #2aa198;
  }

  // Literal.Number.Hex
  .mh {
    color: #2aa198;
  }

  // Literal.Number.Integer
  .mi {
    color: #2aa198;
  }

  // Literal.Number.Oct
  .mo {
    color: #2aa198;
  }

  // Literal.String.Backtick
  .sb {
    color: #93a1a1;
  }

  // Literal.String.Char
  .sc {
    color: #2aa198;
  }

  // Literal.String.Doc
  .sd {
    color: #586e75;
  }

  // Literal.String.Double
  .s2 {
    color: #2aa198;
  }

  // Literal.String.Escape
  .se {
    color: #cb4b16;
  }

  // Literal.String.Heredoc
  .sh {
    color: #586e75;
  }

  // Literal.String.Interpol
  .si {
    color: #2aa198;
  }

  // Literal.String.Other
  .sx {
    color: #2aa198;
  }

  // Literal.String.Regex
  .sr {
    color: #dc322f;
  }

  // Literal.String.Single
  .s1 {
    color: #2aa198;
  }

  // Literal.String.Symbol
  .ss {
    color: #2aa198;
  }

  // Name.Builtin.Pseudo
  .bp {
    color: #268bd2;
  }

  // Name.Variable.Class
  .vc {
    color: #268bd2;
  }

  // Name.Variable.Global
  .vg {
    color: #268bd2;
  }

  // Name.Variable.Instance
  .vi {
    color: #268bd2;
  }

  // Literal.Number.Integer.Long
  .il {
    color: #2aa198;
  }
}
