// Colors
//
// The purpose of defining color variables is to maintain design consistency
// throughout the project. Ideally, all subsequent styles should only reference
// the color values defined below.
//
// Styleguide 1.

// Grayscale
//
// Grayscale values are stored in LESS variables below, and available for
// use throughout the entire project.
//
// <h4>Example Usage:</h4>
//
// <pre><code class="css">.my-selector {
//   color: @color-gray-dark;
// }</code></pre>
//
// Markup:
// <div style="background-color: #000000; color: #fff; padding: 15px;">@color-black: #000000</div>
// <div style="background-color: #222222; color: #fff; padding: 15px;">@color-gray-darkest: #222222</div>
// <div style="background-color: #444444; color: #fff; padding: 15px;">@color-gray-darker: #444444</div>
// <div style="background-color: #777777; color: #fff; padding: 15px;">@color-gray-dark: #777777</div>
// <div style="background-color: #aaaaaa; color: #fff; padding: 15px;">@color-gray: #aaaaaa</div>
// <div style="background-color: #dedede; padding: 15px;">@color-gray-light: #dedede</div>
// <div style="background-color: #efefef; padding: 15px;">@color-gray-lighter: #efefef</div>
// <div style="background-color: #f8f8f8; padding: 15px;">@color-gray-lightest: #f8f8f8</div>
// <div style="background-color: #ffffff; padding: 15px;">@color-white: #ffffff</div>
//
// Styleguide 1.1

//
// Colors -> Grayscale
//

@color-black:         #000000;
@color-gray-darkest:  lighten(@color-black, 13.5%);  // #222222
@color-gray-darker:   lighten(@color-black, 26.5%);  // #444444
@color-gray-dark:     lighten(@color-black, 46.7%);  // #777777
@color-gray:          lighten(@color-black, 66.5%);  // #aaaaaa
@color-gray-light:    lighten(@color-black, 87%);    // #dedede
@color-gray-lighter:  lighten(@color-black, 93.75%); // #efefef
@color-gray-lightest: lighten(@color-black, 97.25%); // #f8f8f8
@color-white:         #ffffff;

// Brand
//
// Brand color values are stored in LESS variables below, and available for
// use throughout the entire project.
//
// <h4>Example Usage:</h4>
//
// <pre><code class="css">.my-selector {
//   background-color: @color-primary;
// }</code></pre>
//
// Markup:
// <div style="background: #e6158d; color: #fff; padding: 15px;">@color-primary: #e6158d</div>
// <div style="background: #89c12d; color: #fff; padding: 15px;">@color-secondary: #89c12d</div>
// <div style="background: #2aa4de; color: #fff; padding: 15px;">@color-tertiary: #2aa4de</div>
// <div style="background: #f79f34; color: #fff; padding: 15px;">@color-quaternary: #f79f34</div>
//
// Styleguide 1.2

//
// Colors -> Brand
//

@color-highlight: @color-white;
@color-shadow: @color-gray-darkest;

@color-primary: #e6158d;
@color-secondary: #89c12d;
@color-tertiary: #2aa4de;
@color-quaternary: #f79f34;

// Selections
//
// The color value below is stored as a LESS variable, and applied to the
// <code>backround-color</code> of text selections.
//
// <h4>Example Usage:</h4>
//
// Highlight this text with your mouse cursor to see
// <code>@selection-background-color</code>. The inactive color,
// <code>@selection-inactive-background-color</code> is used when you have a
// browser window open, but you are currently using a different app.
//
//
// Markup:
// <div style="background: #cae8f7; padding: 15px;">@selection-background-color: #cae8f7</div>
// <div style="background: #dedede; padding: 15px;">@selection-inactive-background-color: @color-gray-light</div>
//
// Styleguide 1.3

//
// Colors -> Selections
//

@selection-background-color: mix(@color-tertiary, @color-white, 25%); // #cae8f7
@selection-inactive-background-color: @color-gray-lighter;
