/* ========================================================================== *\
   Project -> Fonts ($project-fonts)
\* ========================================================================== */

/* Effra: Regular */
@font-face {
  font-family: "Effra";
  src: url("/assets/fonts/Effra-Regular.eot");
  src: url("/assets/fonts/Effra-Regular.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/Effra-Regular.woff2") format("woff2"),
       url("/assets/fonts/Effra-Regular.woff") format("woff"),
       url("/assets/fonts/Effra-Regular.ttf") format("truetype"),
       url("/assets/fonts/Effra-Regular.svg#Effra") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Effra: Italic */
@font-face {
  font-family: "Effra";
  src: url("/assets/fonts/Effra-Italic.eot");
  src: url("/assets/fonts/Effra-Italic.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/Effra-Italic.woff2") format("woff2"),
       url("/assets/fonts/Effra-Italic.woff") format("woff"),
       url("/assets/fonts/Effra-Italic.ttf") format("truetype"),
       url("/assets/fonts/Effra-Italic.svg#Effra") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* Effra: Bold */
@font-face {
  font-family: "Effra";
  src: url("/assets/fonts/Effra-Bold.eot");
  src: url("/assets/fonts/Effra-Bold.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/Effra-Bold.woff2") format("woff2"),
       url("/assets/fonts/Effra-Bold.woff") format("woff"),
       url("/assets/fonts/Effra-Bold.ttf") format("truetype"),
       url("/assets/fonts/Effra-Bold.svg#Effra") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* Effra: Bold Italic */
@font-face {
  font-family: "Effra";
  src: url("/assets/fonts/Effra-BoldItalic.eot");
  src: url("/assets/fonts/Effra-BoldItalic.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/Effra-BoldItalic.woff2") format("woff2"),
       url("/assets/fonts/Effra-BoldItalic.woff") format("woff"),
       url("/assets/fonts/Effra-BoldItalic.ttf") format("truetype"),
       url("/assets/fonts/Effra-BoldItalic.svg#Effra") format("svg");
  font-weight: 700;
  font-style: italic;
}
