/* ========================================================================== *\
   Project -> Pet Mode ($project-pet-mode)
\* ========================================================================== */

@pet-mode-background-color: #172a48;
@pet-mode-background-image: url("/assets/images/stars.gif");
@pet-mode-background-repeat: repeat;
@pet-mode-text-color: #fff;

body {
  transition: 
    background-color 0.25s ease,
    color 0.25s ease;
}

.is-pet-mode {
  background-color: @pet-mode-background-color;
  background-image: @pet-mode-background-image;
  background-repeat: @pet-mode-background-repeat;
  color: @pet-mode-text-color;

  .antialiasing();

  &,
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color: @pet-mode-text-color;
  }
}
