// Typography
//
// Fonts and base styles for common text elements that can be used in this project.
//
// Styleguide 2.

// Fonts
//
// These are various font families and weights used in this project.
//
// @font-family-sans-serif - "effra", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
// @font-family-serif - Georgia, Cambria, "Times New Roman", Times, serif;
// @font-family-monospace - Monaco, Consolas, "Liberation Mono", Courier, monospace;
//
// Markup:
// <small>Regular 400</small>
// <p style="font-size: 24px; font-weight: 400;">The quick brown fox jumps over the lazy dog.</p>
// <small>Regular 400 Italic</small>
// <p style="font-size: 24px; font-weight: 400; font-style: italic;">The quick brown fox jumps over the lazy dog.</p>
// <small>Bold 700</small>
// <p style="font-size: 24px; font-weight: 700;">The quick brown fox jumps over the lazy dog.</p>
// <small>Bold 700 Italic</small>
// <p style="font-size: 24px; font-weight: 700; font-style: italic;">The quick brown fox jumps over the lazy dog.</p>
//
// Styleguide 2.1

//
// Typography -> Font Sizes
//

@font-size-deca: 48;
@font-size-hecto: 64;
@font-size-kilo: 72;
@font-size-mega: 96;
@font-size-giga: 118;
@font-size-tera: 144;

//
// Typography -> Fonts
//

@font-family-sans-serif: "Effra", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
@font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Consolas, "Liberation Mono", Courier, monospace;

// Headings
//
// These are the base styles for heading elements that are commonly used to
// separate paragraph text into digestible blocks.
//
// Markup:
// <h1>Heading 1</h1>
// <h2>Heading 2</h2>
// <h3>Heading 3</h3>
// <h4>Heading 4</h4>
// <h5>Heading 5</h5>
// <h6>Heading 6</h6>
// <h1 class="h6">Heading 1</h1>
// <h2 class="h5">Heading 2</h2>
// <h3 class="h4">Heading 3</h3>
// <h4 class="h3">Heading 4</h4>
// <h5 class="h2">Heading 5</h5>
// <h6 class="h1">Heading 6</h6>
//
// Styleguide 2.2

//
// Typography -> Headings
//

@font-size-heading-1: 36;
@font-size-heading-2: 30;
@font-size-heading-3: 24;
@font-size-heading-4: 20;
@font-size-heading-5: 16;
@font-size-heading-6: 14;

@heading-font-family: @font-family-sans-serif;
@heading-font-weight: 700;
@heading-text-color: @color-gray-darkest;

// Blockquotes
//
// Styleguide 2.3

@blockquote-font-family: @font-family-sans-serif;
@blockquote-font-style: normal;
@blockquote-font-size: @font-size-heading-3;
@blockquote-text-color: @color-gray-dark;
@blockquote-margin-left: 0;
@blockquote-padding-left: @spacing-base;
@blockquote-border-width: @spacing-fourth;
@blockquote-border-style: solid;
@blockquote-border-color: @color-primary;
@blockquote-cite-font-family: @font-family-sans-serif;
@blockquote-cite-font-style: normal;
@blockquote-cite-font-size: @font-size-x-small;
@blockquote-cite-text-color: @color-gray-dark;
@blockquote-cite-anchor-color: @color-gray-dark;

// Inline Elements
//
// These are the base styles for inline text elements that are commonly
// used inside paragraph text.
//
// Markup:
// <p>This is some plain paragraph text.</p>
// <p><a href="#!">This is a text link</a>.</p>
// <p><strong>Strong is used to indicate strong importance.</strong></p>
// <p><em>This text has added emphasis.</em></p>
// <p>The <b>b element</b> is stylistically different text from normal text, without any special importance.</p>
// <p>The <i>i element</i> is text that is offset from the normal text.</p>
// <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation.</p>
// <p><del>This text is deleted</del> and <ins>This text is inserted</ins>.</p>
// <p><s>This text has a strikethrough</s>.</p>
// <p>Superscript<sup>®</sup>.</p>
// <p>Subscript for things like H<sub>2</sub>O.</p>
// <p><small>This small text is small for things like fine print, etc.</small></p>
// <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
// <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation.</q></p>
// <p><cite>This is a citation.</cite></p>
// <p>The <dfn>dfn element</dfn> indicates a definition.</p>
// <p>The <mark>mark element</mark> indicates a highlight.</p>
// <p>The <var>variable element</var>, such as <var>x</var> = <var>y</var>.</p>
// <p>The time element: <time datetime="2013-04-06T12:32+00:00">2 weeks ago</time></p>
//
// Styleguide 2.3

//
// Base -> Anchors
//

@anchor-text-color: @color-secondary;
@strong-text-color: @color-gray-darkest;

b, strong {
  color: @strong-text-color;
}
