<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="icon-arrow-down" viewBox="0 0 512 512">
    <path d="m256 512l194-192c4-4 4-9 4-13 0-4-2-8-4-13-6-6-19-6-25 0l-152 150 0-427c2-8-6-17-17-17-11 0-19 9-19 17l0 425-152-150c-6-6-19-6-25 0-7 7-7 19 0 26z"/>
  </symbol>

  <symbol id="icon-arrow-left" viewBox="0 0 512 512">
    <path d="m0 256l192 194c4 4 9 4 13 4 4 0 8-2 13-4 6-6 6-19 0-25l-150-152 425 0c10 0 17-8 17-19 0-11-9-19-17-19l-425 0 150-152c6-6 6-19 0-25-7-3-17-3-26 4z"/>
  </symbol>

  <symbol id="icon-arrow-right" viewBox="0 0 512 512">
    <path d="m320 62c-6-7-19-7-26 0-6 6-6 19 0 25l150 152-427 0c-8-2-17 6-17 17 0 11 9 19 17 19l425 0-150 152c-6 6-6 19 0 25 5 5 9 5 13 5 4 0 9-3 13-5l192-194z"/>
  </symbol>

  <symbol id="icon-arrow-up" viewBox="0 0 512 512">
    <path d="m62 192c-7 6-7 19 0 26 6 6 19 6 25 0l152-150 0 425c0 10 8 17 19 17 11 0 19-9 19-17l0-425 152 150c6 6 19 6 25 0 5-5 5-9 5-13 0-4-2-9-5-13l-198-192z"/>
  </symbol>

  <symbol id="icon-cat" viewBox="0 0 512 512">
    <path d="m330 222c19-2 39-4 58-4 13 0 25 5 37-1 39-21 71-64 48-109-11-21-39-54-54-71-2-3-13-22-5-27 18-12 64 50 78 72 26 39 29 84 0 120-11 15-19 27-34 38-11 9-15 12-8 27 12 26-4 47-4 74 1 9 1 14 6 21 6 7 8 17 10 26 4 33-19 78-40 99-9 10-18 7-32 7-8 0-32-5-12-15 6-3 12-2 16-7 7-7 14-18 17-27 6-15 2-35-11-43-6-4-8-3-15-4-8 0-9 8-13 14-10 14-22 28-38 35-16 7-24 18-36 31-4 3-12 16-17 16-6 0-45 3-40-8 3-8 12-6 18-9 24-11 61-99 44-115-30 8-67 0-89 8-34 13-59 83-71 112-9 22-22 21-33 21-10 0-8 0-11-1-6-8 14-21 15-24 4-4 11-18 15-28 4-9 13-48 8-51-5-2-9 8-10 10-12 22-28 44-43 65-10 14-12 14-28 14-18 0-14-12-5-21 18-16 30-35 41-56 6-13 18-33 10-45-12-16-14-28-16-48-2-12 3-32-12-40-14-7-37-10-52-16-9-4-12-7-17-15-8-12-4-17 4-28 9-13 11-30 25-41 16-12 10-21 7-37-1-5-7-33 5-23 3 3 4 6 7 9 7 10 15 19 22 29 5-10 11-19 15-30 10-19 15 0 17 9 6 23 20 39 34 56 9 12 19 23 35 33 47 32 98 5 154-2z"/>
  </symbol>

  <symbol id="icon-catalyst" viewBox="0 0 512 512">
    <path d="m147 331l218 0-109-190z m109-331c-141 0-256 115-256 256 0 141 115 256 256 256 141 0 256-115 256-256 0-141-115-256-256-256z m0 450c-107 0-194-87-194-194 0-107 87-194 194-194 107 0 194 87 194 194 0 107-87 194-194 194z"/>
  </symbol>

  <symbol id="icon-dog" viewBox="0 0 512 512">
    <path d="m455 369c-13-4-21-15-30-26-7 7-7 16-7 25-1 4-3 6-6 9-4 3-5 8-7 12-5 7-23 6-31 4-13-3 5-15 9-18 6-4 13-8 12-16-1-9-5-6-13-5-6 0-12 0-17-4-7-5-15-15-24-14-13 1-26 7-38 10-24 5-49 10-74 12-11 1-23 0-35 1-16 1-16 6-25 19-4 5-6 11-13 12-4 0-28 2-30-4 0-2 3-4 4-5 4-3-2-5 0-10 1-3 7-4 10-5 6-3 10-7 14-10-29-17-77-38-77-78 0-19 8-36 5-55-2-9-8-17-12-25-2-4-5-16-12-16-20 0-33 3-50-9-3-3-14-15-6-19 10-3 20-8 30-11 8-3 15-5 22-10 5-5 8-12 17-13 11-1 21-2 31-2 12 0 16 5 21 16 9 18 17 36 23 56 5 23 16 34 36 45 16 10 36 9 54 8 22-1 43-2 65-3 19-1 39-2 58 2 10 1 18 7 27 10 8 4 18 7 25 14 14 14 15 32 19 49 4 18 15 32 32 39 12 4 49 10 49 10 0 0-22 16-56 5z"/>
  </symbol>

  <symbol id="icon-email" viewBox="0 0 512 512">
    <path d="m0 86l0 341 512 0 0-341z m441 43l-185 142-185-142z m28 256l-426 0 0-224 187 143 26 20 26-20 187-143z"/>
  </symbol>

  <symbol id="icon-evolution" viewBox="0 0 512 512">
    <path d="m256 0c-141 0-256 115-256 256 0 141 115 256 256 256 141 0 256-115 256-256 0-141-115-256-256-256z m0 457c-111 0-201-90-201-201 0-111 90-201 201-201 111 0 201 90 201 201 0 111-90 201-201 201z m27-338l-54 0 0 110-110 0 0 54 110 0 0 110 54 0 0-110 110 0 0-54-110 0z"/>
  </symbol>

  <symbol id="icon-facebook" viewBox="0 0 512 512">
    <path d="m233 12c2-2 5-3 9-5 3-1 6-2 10-3l21-4 14 0 97 7 0 0-10 87 0 0-54-6-1 0-6 1-1 1-7 3c-1 0-2 0-3 1l-4 5c-1 1-2 3-3 5-1 1-1 3-2 4 0 2-1 4-1 6 0 2 0 3 0 5l0 54 79 1-11 86-68 2 0 250-1 0-106 0 0-252-57 0 0-86 55 0 0-1 0-1 2-91 1-6 0-2 1-3c0-2 1-4 1-5 1-2 2-3 3-5 1-4 2-7 4-10 1-3 3-6 6-9 1-3 3-5 6-8 2-2 5-5 7-7l0 0z"/>
  </symbol>

  <symbol id="icon-facebook-circle" viewBox="0 0 512 512">
    <path d="m256 10c68 0 126 24 174 72c48 48 72 106 72 174c0 68-24 125-72 174c-48 48-106 72-174 72c-68 0-126-24-174-72c-48-49-72-106-72-174c0-68 24-126 72-174c48-48 106-72 174-72m58 169c0 0 0-40 0-40c0 0-36 0-36 0c-16 0-28 6-38 17c-11 11-16 25-16 42c0 0 0 22 0 22c0 0-39 0-39 0c0 0 0 38 0 38c0 0 39 0 39 0c0 0 0 114 0 114c0 0 44 0 44 0c0 0 0-114 0-114c0 0 46 0 46 0c0 0 0-38 0-38c0 0-46 0-46 0c0 0 0-26 0-26c0-10 3-15 10-15c0 0 36 0 36 0"/>
  </symbol>

  <symbol id="icon-github" viewBox="0 0 512 512">
    <path d="m338 289c9 0 16 4 23 13c6 9 10 20 10 33c0 13-4 24-10 33c-7 8-14 13-23 13c-10 0-18-5-24-13c-7-9-10-20-10-33c0-13 3-24 10-33c6-9 14-13 24-13m116-120c25 27 38 60 38 99c0 26-3 48-9 68c-6 21-13 37-22 50c-9 12-20 23-33 33c-13 9-25 16-36 21c-11 4-23 8-37 10c-14 2-25 4-32 4c-7 0-15 1-23 1c-2 0-8 0-18 0c-11 1-19 1-26 1c-7 0-15 0-26-1c-10 0-16 0-18 0c-8 0-16-1-23-1c-7 0-18-2-32-4c-14-2-26-6-37-10c-11-5-23-12-36-21c-13-10-24-21-33-33c-9-13-16-29-22-50c-6-20-9-42-9-68c0-39 13-72 38-99c-2-1-3-15 0-41c2-26 8-50 17-72c31 4 70 21 116 54c16-5 38-7 65-7c29 0 50 2 65 7c21-15 41-26 60-35c20-9 34-14 43-16c0 0 13-3 13-3c9 22 15 46 17 72c3 26 2 40 0 41m-197 263c57 0 100-7 129-20c29-14 43-42 43-84c0-25-9-45-28-62c-9-9-20-14-33-16c-12-2-32-2-58 0c-26 2-43 3-53 3c0 0-1 0-1 0c0 0-1 0-1 0c-11 0-25-1-43-2c-17-1-31-2-40-3c-10 0-21 1-33 4c-11 3-21 7-28 14c-18 16-27 36-27 62c0 42 14 70 43 84c29 13 71 20 128 20c0 0 2 0 2 0m-82-143c9 0 17 4 23 13c7 9 10 20 10 33c0 13-3 24-10 33c-6 8-14 13-23 13c-9 0-17-5-24-13c-6-9-10-20-10-33c0-13 4-24 10-33c7-9 15-13 24-13"/>
  </symbol>

  <symbol id="icon-github-circle" viewBox="0 0 512 512">
    <path d="m256 254c5 0 13 0 22-1c8-1 15-1 20-1c6 0 11 1 17 2c6 1 11 4 15 7c9 9 13 19 13 31c0 22-7 36-22 43c-15 7-36 10-65 10c-29 0-50-3-65-10c-15-7-22-21-22-43c0-12 4-22 13-31c4-3 9-6 15-7c6-1 11-2 17-2c5 0 12 0 20 1c9 1 17 1 22 1m-41 65c5 0 9-2 12-7c3-4 4-10 4-16c0-16-5-24-16-24c-11 0-16 8-16 24c0 6 1 12 4 16c3 5 7 7 12 7m82 0c5 0 9-2 12-7c4-4 5-10 5-16c0-7-1-13-5-17c-3-4-7-7-12-7c-11 0-16 8-16 24c0 6 1 12 4 16c3 5 7 7 12 7m-41-309c68 0 126 24 174 72c48 48 72 106 72 174c0 68-24 125-72 174c-48 48-106 72-174 72c-68 0-125-24-174-72c-48-49-72-106-72-174c0-68 24-126 72-174c49-48 106-72 174-72m23 346c64 0 96-31 96-94c0-19-7-36-20-50c2-1 2-8 1-21c-1-13-4-25-9-36c-15 2-34 11-58 26c-7-2-18-3-33-3c-14 0-25 1-33 3c-10-7-20-12-30-17c-10-4-17-7-21-8c0 0-7-1-7-1c-5 11-8 23-9 36c-1 13-1 20 1 21c-13 14-20 31-20 50c0 63 32 94 96 94c0 0 23 0 23 0c0 0 23 0 23 0"/>
  </symbol>

  <symbol id="icon-google-plus-circle" viewBox="0 0 512 512">
    <path d="m232 186c3 11 3 20 0 30c-3 9-8 14-16 16c0 0-5 0-5 0c-14 0-25-10-31-30c-2-11-1-20 1-28c4-8 9-13 16-15c0-1 2-1 5-1c15 0 25 9 30 28m24-176c68 0 126 24 174 72c48 48 72 106 72 174c0 68-24 125-72 174c-48 48-106 72-174 72c-68 0-125-24-174-72c-48-49-72-106-72-174c0-68 24-126 72-174c49-48 106-72 174-72m-14 351c20-10 30-26 30-50c0-15-8-30-26-47c-9-7-14-13-14-16c0-4 4-9 11-14c11-11 17-25 17-40c0-20-6-34-18-40c0-1 2-2 5-2c3 0 4 0 5 0c14-2 20-5 20-9c0 0 0-2 0-2c0 0-59 0-59 0c-4 0-10 1-17 2c-7 2-16 7-27 17c-11 9-16 22-16 39c0 19 6 32 19 41c8 5 17 8 29 8c0 0 3 0 3 0c-2 8 1 17 8 25c0 0-1 0-1 0c-47 0-71 16-71 49c0 13 5 24 15 32c9 8 18 12 25 14c7 1 14 2 20 2c0 0 2 0 2 0c0 0 2 0 2 0c13 0 26-3 38-9m130-106c0 0 0-25 0-25c0 0-39 0-39 0c0 0 0-39 0-39c0 0-25 0-25 0c0 0 0 39 0 39c0 0-39 0-39 0c0 0 0 25 0 25c0 0 39 0 39 0c0 0 0 39 0 39c0 0 25 0 25 0c0 0 0-39 0-39c0 0 39 0 39 0m-161 30c11 0 20 3 27 8c6 6 10 14 11 22c1 9-3 17-10 23c-7 6-16 9-28 10c-12 2-22 0-31-5c-9-6-13-13-14-21c0-9 4-18 11-25c7-7 17-11 30-12c0 0 4 0 4 0"/>
  </symbol>

  <symbol id="icon-gpg-circle" viewBox="0 0 512 512">
    <path d="m254 119c-30 0-56 22-62 50l0 78 126 0 0-78c-7-28-32-50-64-50z m183-44c-49-49-111-75-181-75-70 0-130 26-181 75-49 49-75 111-75 181 0 70 26 130 75 181 49 49 111 75 181 75 70 0 130-26 181-75 49-51 75-111 75-181 0-70-26-130-75-181z m-326 268l0-96 19 0 0-81c0-19 36-104 128-104 103 0 124 107 124 107l0 78c-36 20-45 26-68 30-69 13-109 11-143 22-26 8-56 38-60 44z m288 99l-258 0c4-3 47-32 60-32 0 0 115 23 170-22 0 0-89 26-138-17 0 0 102 19 151-40-17 2-49 30-124 4 9 0 71-2 141-60z"/>
  </symbol>

  <symbol id="icon-heart" viewBox="0 0 512 512">
    <path d="m256 497c-190-181-243-247-254-316-15-83 49-166 147-166 43 0 81 15 107 43 26-26 64-43 107-43 98 0 162 83 147 166-11 66-62 133-254 316z m-107-433c-38 0-72 19-89 53-43 86 53 171 196 312 145-141 239-226 196-312-17-34-51-53-89-53-64 0-92 49-107 73-15-22-38-73-107-73z"/>
  </symbol>

  <symbol id="icon-home" viewBox="0 0 512 512">
    <path d="m480 263c6 6 8 10 6 14c-2 4-6 6-14 6c0 0-43 0-43 0c0 0 0 158 0 158c0 5 0 9 0 11c-1 2-2 5-4 7c-3 2-7 3-12 3c0 0-105 0-105 0c0 0 0-159 0-159c0 0-104 0-104 0c0 0 0 159 0 159c0 0-99 0-99 0c-10 0-16-2-18-5c-3-4-4-9-4-16c0 0 0-158 0-158c0 0-43 0-43 0c-7 0-12-2-14-6c-1-4 0-8 6-14c0 0 205-206 205-206c5-5 12-8 19-8c8 0 14 3 20 8c0 0 204 206 204 206"/>
  </symbol>

  <symbol id="icon-identity" viewBox="0 0 512 512">
    <path d="m256 0c-141 0-256 115-256 256 0 141 115 256 256 256 141 0 256-115 256-256 0-141-115-256-256-256z m0 450c-107 0-194-87-194-194 0-107 87-194 194-194 107 0 194 87 194 194 0 107-87 194-194 194z m-30-55l62 0 0-278-62 0z"/>
  </symbol>

  <symbol id="icon-infinity" viewBox="0 0 512 512">
    <path d="m738 256c0 141-115 256-256 256-147 0-256-111-256-256 0-113-83-196-196-196-109 0-196 87-196 196 0 109 87 196 196 196 62 0 117-27 156-77l34 52c-49 53-118 85-190 85-141 0-256-115-256-256 0-141 115-256 256-256 147 0 256 111 256 256 0 113 83 196 196 196 109 0 196-87 196-196 0-109-87-196-196-196-60 0-115 27-153 74l-37-51c49-53 118-83 190-83 141 0 256 115 256 256z"/>
  </symbol>

  <symbol id="icon-instagram-circle" viewBox="0 0 512 512">
    <path d="m363 201l0-47-47 0 0 47z m-107 108c28 0 49-21 49-49 0-10-4-21-8-27-9-13-24-22-41-22-17 0-30 9-41 22-6 8-8 17-8 27 0 26 21 49 49 49z m0-309c-141 0-256 115-256 256 0 141 115 256 256 256 141 0 256-115 256-256 0-141-113-256-256-256z m139 230l0 113c0 30-24 54-54 54l-170 0c-30 0-54-24-54-54l0-168c0-30 24-53 54-53l170 0c30 0 54 23 54 53 0 0 0 55 0 55z m-62 30c0 43-34 77-77 77-43 0-77-34-77-77 0-10 2-19 7-27l-43 0 0 113c0 15 13 25 26 25l170 0c15 0 26-13 26-25l0-113-41 0c7 6 9 17 9 27z"/>
  </symbol>

  <symbol id="icon-linkedin" viewBox="0 0 512 512">
    <path d="m136 179l0 283l-94 0l0-283z m6-88c0 14-4 26-14 35c-10 9-23 14-39 14l0 0c-16 0-29-5-38-14c-10-9-14-21-14-35c0-14 4-26 14-35c10-9 23-14 39-14c16 0 28 5 38 14c9 9 14 21 14 35z m333 208l0 163l-94 0l0-152c0-20-3-35-11-47c-8-11-20-17-36-17c-12 0-22 4-30 10c-9 7-15 15-19 25c-2 5-3 13-3 23l0 158l-94 0c1-76 1-138 1-185c0-47 0-76 0-85l-1-13l94 0l0 41l0 0c4-6 7-12 11-16c4-5 10-10 17-15c6-5 15-10 24-13c10-3 21-4 33-4c33 0 59 11 79 32c20 22 29 54 29 95z"/>
  </symbol>

  <symbol id="icon-linkedin-circle" viewBox="0 0 512 512">
    <path d="m256 10c68 0 126 24 174 72c48 48 72 106 72 174c0 68-24 125-72 174c-48 48-106 72-174 72c-68 0-125-24-174-72c-48-49-72-106-72-174c0-68 24-126 72-174c49-48 106-72 174-72m-60 347c0 0 0-159 0-159c0 0-50 0-50 0c0 0 0 159 0 159c0 0 50 0 50 0m-25-180c18 0 27-8 27-24c0-17-9-25-27-25c-7 0-14 2-19 7c-5 5-8 11-8 18c0 16 9 24 27 24m207 180c0 0 0-94 0-94c0-22-5-40-16-52c-11-11-24-17-41-17c-23 0-39 8-50 25c0 0-1 0-1 0c0 0-3-21-3-21c0 0-43 0-43 0c1 9 1 26 1 51c0 0 0 108 0 108c0 0 50 0 50 0c0 0 0-92 0-92c0-6 1-10 3-12c4-13 12-20 25-20c16 0 25 12 25 35c0 0 0 89 0 89c0 0 50 0 50 0"/>
  </symbol>

  <symbol id="icon-logo" viewBox="0 0 512 512">
    <path d="m457 105l-170-97c-9-5-20-8-31-8-11 0-22 3-31 8l-170 97c-18 10-31 33-31 53l0 196c0 20 13 43 31 53l170 98c9 4 20 7 31 7 11 0 22-3 31-7l170-98c18-10 31-33 31-53l0-196c0-20-13-43-31-53z m-159 276l-2 0c-5 0-9-4-10-8-1-6 3-11 9-12 23-3 41-24 41-47 0-27-22-48-49-48l-21 0 0 105c0 6-4 10-10 10-6 0-10-4-10-10l0-105-20 0-50 109c-2 4-6 6-10 6-1 0-2 0-4-1-5-2-7-8-5-13l48-104c-28-8-49-34-49-65 0-33 24-61 57-67l1 0c6-1 11 3 12 8 0 6-3 11-9 12l-1 0c-23 4-39 24-39 47 0 27 21 48 48 48l62 0c27 0 49-22 49-48 0-26-22-48-49-48l-21 0 0 66c0 6-4 10-10 10-5 0-10-4-10-10l0-76c0-5 4-10 10-10l31 0c38 0 69 31 69 68 0 25-14 46-33 58 20 12 33 33 33 58 0 33-25 62-58 67z"/>
  </symbol>

  <symbol id="icon-origin" viewBox="0 0 512 512">
    <path d="m256 0c-141 0-256 115-256 256 0 141 115 256 256 256 141 0 256-115 256-256 0-141-115-256-256-256z m0 450c-107 0-194-87-194-194 0-107 87-194 194-194 107 0 194 87 194 194 0 107-87 194-194 194z m0-237c-23 0-43 20-43 43 0 23 20 43 43 43 23 0 43-20 43-43 0-23-20-43-43-43z"/>
  </symbol>

  <symbol id="icon-phone" viewBox="0 0 512 512">
    <path d="m429 464l-79 43c-11 6-24 6-36 2-52-17-92-58-124-94-54-68-97-145-111-229-7-34-11-79 0-111 4-13 10-23 21-30l79-42c17-7 28 0 32 15l22 109c2 12-5 23-15 29l-30 18c-2 2-2 4-5 6-2 36 15 75 32 105 18 27 35 64 65 81 4 2 8 4 12 2l35-19c10-5 25-5 32 6l74 79c11 9 9 24-4 30z"/>
  </symbol>

  <symbol id="icon-trixel-circle" viewBox="0 0 512 512">
    <path d="m256 0c-141 0-256 115-256 256 0 141 115 256 256 256 141 0 256-115 256-256 0-141-115-256-256-256z m149 341l-149 86-149-86 0-170 149-86 149 86z m-202-170l149 85-149 85z"/>
  </symbol>

  <symbol id="icon-twitter" viewBox="0 0 512 512">
    <path d="m492 110c-13 18-29 35-49 50c0 0 0 12 0 12c0 44-10 87-30 128c-21 41-53 76-96 104c-43 28-92 42-148 42c-55 0-104-14-149-43c5 1 13 1 24 1c45 0 85-13 120-40c-21-1-40-8-56-20c-17-12-28-28-34-48c3 1 9 2 17 2c9 0 18-1 26-3c-23-5-41-16-56-34c-14-18-21-38-21-61c0 0 0-1 0-1c12 6 27 11 43 12c-29-20-43-47-43-81c0-16 4-32 13-48c53 64 119 98 200 100c-2-6-3-13-3-21c0-27 9-50 28-68c19-19 42-28 69-28c28 0 51 9 70 29c20-4 41-11 61-22c-7 22-21 40-42 53c19-3 38-8 56-15"/>
  </symbol>

  <symbol id="icon-twitter-circle" viewBox="0 0 512 512">
    <path d="m256 10c68 0 126 24 174 72c48 48 72 106 72 174c0 68-24 125-72 174c-48 48-106 72-174 72c-68 0-125-24-174-72c-48-49-72-106-72-174c0-68 24-126 72-174c49-48 106-72 174-72m100 201c11-8 18-16 24-25c-11 4-20 7-28 8c10-7 18-15 22-27c-10 5-21 9-31 11c-10-9-21-14-36-14c-13 0-25 5-34 14c-9 10-14 21-14 34c0 1 0 2 1 5c0 3 0 5 0 6c-41-2-74-19-99-51c-5 8-7 16-7 25c0 17 7 30 22 40c-9 0-16-3-22-7c0 0 0 1 0 1c0 12 3 22 10 31c8 9 17 14 29 17c-6 1-10 2-13 2c-4 0-7-1-9-1c7 22 22 33 45 33c-17 14-37 21-60 21c0 0-12 0-12 0c24 14 48 21 74 21c42 0 75-14 100-42c26-28 38-60 38-96c0 0 0-6 0-6"/>
  </symbol>

  <symbol id="icon-stack-overflow-circle" viewBox="0 0 512 512">
    <path d="m256 0c-141 0-256 115-256 256 0 141 115 256 256 256 141 0 256-115 256-256 0-141-115-256-256-256z m-36 181l109 64-15 24-109-64z m-30 62l121 34-6 26-124-34z m-13 58l128 10-2 26-128-11z m124 47l0 27-128 0 0-27z m45 64l0 6-212 0 0-132 22 0 0 111 168 0 0-111 22 0z m-11-171l-73-107 22-15 72 105z m28-17l-22-126 26-4 21 126z"/>
  </symbol>

  <symbol id="icon-work" viewBox="0 0 512 512">
    <path d="m79 176c-3 3-4 7-6 11c-1 5-1 9-1 13c0 4 0 6-1 6c-1 1-4 3-9 8c-5 4-8 7-9 8c-6 5-11 4-15-2c0 0-36-39-36-39c-3-4-3-8 1-12c1-1 4-3 10-7c5-4 8-7 10-8c2-2 6-3 14-3c7 0 13-3 19-8c4-4 7-11 9-19c1-8 3-13 5-15c1 0 2-2 5-4c2-2 6-6 13-11c6-5 13-11 21-16c46-31 77-47 95-49c42 0 67 0 76 1c4 0 3 1-4 4c-41 18-67 31-78 39c-27 19-34 38-19 58c12 16 19 24 20 25c3 2 2 5-1 7c-1 1-7 6-20 18c-12 11-18 17-19 18c-5 2-8 3-9 2c-15-17-27-27-37-31c-9-4-21-2-34 6m147 13c0 0 209 244 209 244c7 8 6 14-1 20c0 0-24 21-24 21c-8 5-14 4-20-2c0 0-212-242-212-242c-2-2-2-6 0-10c0 0 37-32 37-32c4-2 8-2 11 1m283-103c6 36 3 64-8 85c-17 30-43 41-79 32c-19-4-36 1-51 16c0 0-42 40-42 40c0 0-35-40-35-40c0 0 35-36 35-36c8-8 13-17 16-27c2-10 3-21 3-33c0-12 0-22 2-30c5-19 28-38 72-57c4-2 7-2 9 1c2 3 3 6 1 8c-4 4-12 18-23 41c-5 3-7 9-6 18c0 8 7 18 20 27c20 14 36 10 49-11c2-4 7-11 14-21c6-10 10-16 11-17c1-3 4-5 7-5c3 1 5 4 5 9m-439 350c0 0 130-127 130-127c0 0 39 44 39 44c0 0-126 124-126 124c-7 7-13 8-20 2c0 0-23-23-23-23c-8-6-8-13 0-20"/>
  </symbol>
</svg>
