<!-- Open Graph -->
<meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}
<meta content="{{ page.title }}" property="og:title">
{% else %}
<meta content="{{ site.title }}" property="og:title">
{% endif %}
{% if page.title %}
<meta content="article" property="og:type">
{% else %}
<meta content="website" property="og:type">
{% endif %}
{% if page.description %}
<meta content="{{ page.description }}" property="og:description">
{% else %}
<meta content="{{ site.description }}" property="og:description">
{% endif %}
{% if page.url %}
<meta content="{{ page.url | prepend: site.baseurl | prepend: site.url | remove: 'index.html' }}" property="og:url">
{% endif %}
{% if page.date %}
<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
<meta content="{{ site.url }}/about/" property="article:author">
{% endif %}
{% if page.header_bg_image %}
<meta content="{{ site.url }}/assets/images/{{ page.header_bg_image }}" property="og:image">
{% else %}
<meta content="{{ site.url }}/assets/images/avatar.jpg" property="og:image">
{% endif %}
