<!-- Twitter Summary Cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@bigroomstudios">
<meta name="twitter:creator" content="@bigroomstudios">
{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}">
{% else %}
<meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
<meta name="twitter:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url | remove: 'index.html' }}">
{% endif %}
{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.header_bg_image %}
<meta name="twitter:image:src" content="{{ site.url }}/assets/images/{{ page.header_bg_image }}">
{% else %}
<meta name="twitter:image:src" content="{{ site.url }}/assets/images/avatar.jpg">
{% endif %}
