<div class="section section-play">
  <div class="section-header bg-gray-lightest">
    <div class="wrapper pv lg-pv+ xl-pv++">
      <div class="grid gutter-none">
        <div class="grid-item vab sm-2/5 lg-1/3">
          <h1 class="section-heading">Play</h1>
        </div>
        <div class="grid-item vab sm-3/5 lg-2/3">
          <div class="section-tagline">Working hard and having fun are essential to great outcomes. You simply can’t have one without the other!</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-main">
    <div class="wrapper wrapper-full-bleed">
      <div class="instagram-spinner spinner js-spinner">
        <svg class="spinner-circle">
          <circle class="spinner-path" cx="50%" cy="50%" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
        </svg>
      </div>
      <div class="instagram cf"></div>
    </div>
  </div>
</div>
