<div class="section section-services">
  <div class="section-main">
    <div class="wrapper tc pv- md-pv lg-pv+">
      <div class="grid gutter-none md-gutter-1 lg-gutter-1/2 xl-gutter-1">
        {% assign serviceItems = site.categories['services'] | sort: 'order' %}
        {% for item in serviceItems limit:4 %}
        <div class="grid-item vam 1/2 sm-1/4">
          <a href="{{ item.url }}" class="service service-{{ item.title | downcase }}">
            <p class="service-icon"><svg class="icon icon-{{ item.title | downcase }}" role="presentation"><use xlink:href="#icon-{{ item.title | downcase }}"></use></svg></p>
            <h1 class="service-heading mb0">{{ item.title }}</h1>
            <p class="service-subheading lg-fz+">{{ item.subtitle }}</p>
            <p class="service-more">Learn More ></p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
