<div class="section section-team">
  <div class="video video-bg video-overlay">
    <video id="bg-home-team" autoplay loop muted poster="/assets/images/home/bg-home-team.jpg">
      <source src="http://d1km38pnxzew95.cloudfront.net/bg-home-team.webm" type="video/webm">
      <source src="http://d1km38pnxzew95.cloudfront.net/bg-home-team.ogv" type="video/ogg">
      <source src="http://d1km38pnxzew95.cloudfront.net/bg-home-team.mp4" type="video/mp4">
    </video>
  </div>
  <div class="section-header">
    <div class="wrapper tc pv sm-pv+ md-pv++">
      <div class="lg-pv+ xl-pv++">
        <h1 class="section-heading">Team</h1>
        <div class="section-tagline"><p>We are a group of passionate problem-solvers with unique skillsets, who are dedicated to building awesome products. You might be surprised by what you learn.</p></div>
        <a href="/about/#about-team" class="btn btn-round btn-hollow btn-hollow-inverse">Meet the Team</a>
      </div>
    </div>
  </div>
</div>
