<div class="section section-work">
  <div class="section-header bg-gray-lightest">
    <div class="wrapper pv lg-pv+ xl-pv++">
      <div class="grid gutter-none">
        <div class="grid-item vab sm-2/5 lg-1/3">
          <h1 class="section-heading">Work</h1>
        </div>
        <div class="grid-item vab sm-3/5 lg-2/3">
          <div class="section-tagline">Here are a few selected examples of work that speak to what we do. See our <a href="/work/">full portfolio</a> for more details.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-main">
    <div class="wrapper wrapper-full-bleed">
      {% assign workItems = site.categories['work'] limit:3 | sort: 'order' %}
      {% for item in workItems %}
      {% if item.featured == true %}
      {% capture triptychTitle %}{{ item.title }}{% endcapture %}
      {% capture triptychBaseUrl %}/assets/images/work/{% endcapture %}
      {% capture triptychMain %}{{ triptychBaseUrl }}{{ item.images.triptych.main }}{% endcapture %}
      {% capture triptychAside1 %}{{ triptychBaseUrl }}{{ item.images.triptych.aside1 }}{% endcapture %}
      {% capture triptychAside2 %}{{ triptychBaseUrl }}{{ item.images.triptych.aside2 }}{% endcapture %}
      <a href="{{ item.url | prepend: site.baseurl }}" class="triptych triptych-hover-effect {% cycle '', 'triptych-reverse' %}">
        <div class="triptych-main">
          <div class="triptych-image">
            <img data-src="{{ triptychMain }}" class="lazyload" alt="{{ triptychTitle }}">
            <div class="triptych-caption">
              <h1 class="triptych-heading">{{ item.title }}</h1>
              <span class="triptych-more">View Project</span>
            </div>
          </div>
        </div>
        <div class="triptych-aside">
          <div class="triptych-image">
            <img data-src="{{ triptychAside1 }}" class="lazyload" alt="{{ triptychTitle }}">
          </div>
          <div class="triptych-image">
            <img data-src="{{ triptychAside2 }}" class="lazyload" alt="{{ triptychTitle }}">
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="section-footer">
    <div class="wrapper tc pv lg-pv+ xl-pv++">Want to see more? Have a look at our <a href="/work/">full portfolio.<span class="dib pl-- md-pl-"><svg class="icon-arrow-right icon icon- md-icon lg-icon+" role="presentation"><use xlink:href="#icon-arrow-right"></use></svg></span></a></div>
  </div>
</div>
