/* ========================================================================== *\
   Project -> Sections -> Call-to-Action ($project-sections-cta)
\* ========================================================================== */

@section-cta-background-color: @color-primary;
@section-cta-text-color: @color-white;

.section-cta {
  background-color: @section-cta-background-color;
  color: @section-cta-text-color;

  .antialiasing();

  .section-heading {
    color: @section-cta-text-color;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 1.333;
    margin-bottom: 0;
  }
}

.screen-sm-min({
  .section-cta {
    .section-heading {
      .to-rem(font-size, @font-size-hecto);
    }
  }
});

.screen-md-min({
  .section-cta {
    .section-heading {
      .to-rem(font-size, @font-size-kilo);
    }
  }
});

.screen-xl-min({
  .section-cta {
    .section-heading {
      .to-rem(font-size, @font-size-mega);
    }
  }
});
