/* ========================================================================== *\
   Project -> Sections ($project-sections)
\* ========================================================================== */

.section-main {
  position: relative;
}

.screen-md-min({
  .section-heading {
    .to-rem(font-size, @font-size-deca);
  }
});

.screen-lg-min({
  .section-heading {
    .to-rem(font-size, @font-size-kilo);
  }
});
