<div class="site-footer" role="contentinfo">
  <div class="wrapper pv md-pv+">
    <div class="grid">
      <div class="grid-item md-two-thirds lg-one-half">
        <div class="grid lg-gutter-double">
          <div class="grid-item sm-one-half">
            <div class="menu">
              <h3 class="menu-heading">{{ site.title }}</h3>
              <ul class="list-bare">
                {% assign navurl = page.url | remove: 'index.html' %}
                {% for item in include.nav %}
                <li class="menu-item">
                  <a href="{{ item.url }}" class="menu-link{% if item.url == navurl %} is-current{% endif %}" {% if item.target %} target="{{ item.target }}"{% endif %}>
                    {{ item.text }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="grid-item sm-one-half">
            <div class="menu">
              <h3 class="menu-heading">Choose a Path</h3>
              <ul class="list-bare">
                {% assign serviceItems = site.categories['services'] | sort: 'order' %}
                {% for item in serviceItems limit:4 %}
                <li class="menu-item">
                  <a href="{{ item.url }}" class="menu-link">
                    {{ item.title }}: {{ item.subtitle }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item md-one-third lg-one-half md-tr">
        <p class="love mb0">Made with <svg class="icon icon-heart" role="presentation"><use xlink:href="#icon-heart"></use></svg> in Portland, Maine</p>
        <p class="location mv-">{{ site.location_full }}</p>
      </div>
    </div>
    <p class="copyright">&copy; {{ site.title }}, Inc.</p>
  </div>
</div>
