<div class="site-header toolbar toolbar-primary toolbar-fixed">
  <div class="toolbar-container">
    <div class="toolbar-item 1/2 xs-2/3 sm-1/2 md-2/5 lg-1/2">
      <a href="/" class="logo logo-inverse logo-rotate-hover dib vam">
        <svg class="logo-image dib vam icon icon-logo icon+ lg-icon++" role="presentation"><use xlink:href="#icon-logo"></use></svg>
        <h1 class="logo-text dn xs-dib vam mb0 ml-">
          {{ site.title }}
          <span class="logo-tagline dn xl-dib ml- fz-">{{ site.tagline }}</span>
        </h1>
      </a>
    </div>
    <div class="toolbar-item 1/2 xs-1/3 sm-1/2 md-3/5 lg-1/2 tr">
      <ul class="contact list-bare list-inline-block dib vam mb0 mr-">
        <li class="mr">
          <a href="mailto:{{ site.email }}?subject=Hello, {{ site.title }}!" id="header-email">
            <svg class="icon icon-email md-dn" role="presentation"><use xlink:href="#icon-email"></use></svg>
            <span class="dn md-dib">{{ site.email }}</span>
          </a>
        </li>
        <li>
          <a href="tel:{{ site.phone_alt }}" id="header-phone">
            <svg class="icon icon-phone md-dn" role="presentation"><use xlink:href="#icon-phone"></use></svg>
            <span class="dn md-dib">{{ site.phone }}</span>
          </a>
        </li>
      </ul>
      <button id="header-hamburger" class="btn btn-bare nav-toggle js-nav-toggle">
        <span class="icon-hamburger">
          <span class="icon-hamburger-layers"></span>
        </span>
      </button>
    </div>
  </div>
</div>
