<div class="site-intro slides">
  <div id="slide-0" class="slide slide-intro">
    <div class="slide-wrapper wrapper ph wrapper-md">
      <div class="slide-content">
        <h1 class="slide-heading">Let’s<br>Make<br>Awesome.</h1>
        <p class="mb0 fz--- sm-fz lg-fz++">“Making Awesome” is our person-first process for realizing remarkable ideas. It’s a lean, agile, no-nonsense approach to creating the outcomes that matter to you.</p>
      </div>
    </div>
  </div>
  {% assign serviceItems = site.categories['services'] | sort: 'order' %}
  {% for item in serviceItems limit:4 %}
  <div id="slide-{{ forloop.index }}" class="slide slide-service slide-service-{{ item.title | downcase }}">
    <div class="slide-wrapper wrapper wrapper-sm ph tc">
      <div class="slide-content">
        <p><svg class="icon icon-{{ item.title | downcase }}" role="presentation"><use xlink:href="#icon-{{ item.title | downcase }}"></use></svg></p>
        <h1 class="slide-heading">{{ item.title }}</h1>
        <p class="fz--- sm-fz lg-fz++">{{ item.description }}</p>
        <p class="slide-action"><a href="{{ item.url }}" class="btn btn-hollow btn-hollow-inverse btn-round">Learn More</a></p>
        <p class="slide-tagline">{{ item.tagline }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
