<div class="site-nav nav nav-overlay" role="navigation">
  <div class="nav-wrapper">
    <div class="nav-wrapper-inner dt">
      <div class="dtc vam">
        {% assign navurl = page.url | remove: 'index.html' %}
        <ul class="nav-menu menu list-bare">
          {% for item in include.nav %}
          <li class="menu-item">
            <a href="{{ item.url }}" class="menu-link{% if item.url == navurl %} is-current{% endif %}" {% if item.target %} target="{{ item.target }}"{% endif %}>
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="nav-footer">
    <ul class="nav-social menu list-bare list-inline-block">
      {% for item in include.social %}
      <li class="menu-item">
        <a href="{{ item.url }}" class="menu-link">
          <svg class="icon icon-{{ item.title | downcase }}" role="presentation"><use xlink:href="#icon-{{ item.title | downcase }}"></use></svg>
          <div class="mt--">{{ item.title }}</div>
        </a>
      </li>
      {% endfor%}
    </ul>
  </div>
</div>
