---
layout: blog
title: "Blog"
header_bg_image: "blog/header-bg-image.jpg"
---

<div class="section section-posts">
  <div class="section-main">
    <ul class="posts list-bare tc mb0 pv lg-pv+">
      {% for post in paginator.posts %}
      <li class="post">
        <a href="{{ post.url }}" class="post-link">
          <div class="wrapper wrapper-xl pv lg-pv+">
            <h1 class="post-title">{{ post.title }}</h1>
            <ul class="post-meta list-bare pt">
              {% if post.teaser %}
              <li class="post-meta-item db"><h2 class="post-teaser">{{ post.teaser }}</h2></li>
              {% endif %}
              {% if post.author %}
              <li class="post-meta-item db xs-dib ph-- sm-ph"><span class="post-author">{{ post.author }}</span></li>
              {% endif %}
              {% if post.date %}
              <li class="post-meta-item db xs-dib ph-- sm-ph"><span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span></li>
              {% endif %}
            </ul>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="section section-paging">
  <div class="wrapper wrapper-sm">
    <div class="section-main">
      <ul class="paging list-bare mb0 cf">
        {% if paginator.next_page %}
          <li class="paging-item pb+ lg-pb++ fl">
            <a href="/blog/page{{paginator.next_page}}" class="paging-next paging-link btn btn-tertiary fz- sm-fz lg-fz++">
              <svg class="icon icon-arrow-left icon- lg-icon mr--" role="presentation"><use xlink:href="#icon-arrow-left"></use></svg>
              Older
            </a>
          </li>
        {% endif %}
        {% if paginator.previous_page %}
          <li class="paging-item pb+ lg-pb++ fr">
            <a href="/blog/{% if paginator.previous_page != 1 %}page{{paginator.previous_page}}{% endif %}" class="paging-prev paging-link btn btn-tertiary fz- sm-fz lg-fz++">
              Newer
              <svg class="icon icon-arrow-right icon- lg-icon ml--" role="presentation"><use xlink:href="#icon-arrow-right"></use></svg>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

