<div id="calls-to-action" class="section section-cta">
  <div class="wrapper wrapper-md tc pv sm-pv+ md-pv++">
    <div class="section-header">
      <h1 class="section-heading">Hire Us</h1>
    </div>
    <div class="section-main">
      <p class="lg-mb+">We’d love to work with you. Head over to the contact page and say hello today!</p>
      <div class="grid lg-gutter-double">
        <div class="grid-item xs-one-half sm-two-fifths lg-one-third">
          <p><a href="/contact" id="cta-contact" class="btn btn-block btn-round btn-hollow btn-hollow-inverse btn-cta">Contact Us<br><small>Tell us about your project</small></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
