---
layout: error
title: "(404) Page Not Found"
body_class: error
error_page: true
error_page_404: true
sitemap:
  exclude: "yes"
---

{% comment %}
<div class="section section-error">
  <div class="section-heading">
    <div class="wrapper">
      <h1 class="page-heading mb-">Zoink! 404 Error</h1>
    </div>
  </div>
  <div class="section-main">
    <div class="wrapper wrapper-xs">
      <h4 class="page-tagline">We’re awful sorry, but this page does not exist. Kindly turn back, and head to <a href="{{ site.url }}">the homepage</a> to restart your adventure.</h4>
    </div>
  </div>
</div>
{% endcomment %}
