---
layout: error
title: "(500) Internal Server Error"
body_class: error
error_page: true
error_page_500: true
sitemap:
  exclude: "yes"
---

{% comment %}
<div class="section section-error">
  <div class="section-heading">
    <div class="wrapper">
      <h1 class="page-heading mb-">Zoink! 500 Error</h1>
    </div>
  </div>
  <div class="section-main">
    <div class="wrapper wrapper-xs">
      <h4 class="page-tagline">We seem to be experiencing some server troubles right now. Please be patient while we work out the kinks.</h4>
      <h4 class="page-tagline">Thank you!</h4>
    </div>
  </div>
</div>
{% endcomment %}
