---
layout: about
title: "About"
permalink: "/about/"
header_bg_image: "about/header-bg-image.jpg"
---

{% include about/mission.html %}
{% include about/brotherkiss.html %}
{% include about/story.html %}
{% include about/team.html team=site.data.team %}
{% include about/people_first.html %}
{% comment %}
<div class="section">
  <div class="wrapper wrapper-flush">
    <div class="section-main">
      <figure class="image-full-bleed">
        <img data-src="http://placehold.it/1280x540/ccc/777/&text=Diarrhea-gram" class="lazyload" alt="">
      </figure>
    </div>
  </div>
</div>
{% endcomment %}
{% include about/build_measure_learn.html %}
