---
layout: page
title: "Hire Us"
body_class: "page-contact"
permalink: /contact/
---
<div class="section bg-gray-lightest">
  <div class="wrapper tc pv lg-pv+">
    <div class="grid">
      <div class="grid-item lg-1/4">
        <div class="contact-method mb lg-mb0">
          <div class="contact-method-heading">Call Us</div>
          <div class="contact-method-body"><a href="tel:{{ site.phone_alt }}" id="contact-phone">{{ site.phone }}</a></div>
        </div>
      </div>
      <div class="grid-item lg-2/4">
        <div class="contact-method mb lg-mb0">
          <div class="contact-method-heading">Get Directions</div>
          <div class="contact-method-body"><a href="{{ site.location_directions_url }}" target="_blank" id="contact-directions">{{ site.location_full }}</a></div>
        </div>
      </div>
      <div class="grid-item lg-1/4">
        <div class="contact-method">
          <div class="contact-method-heading">Email Us</div>
          <div class="contact-method-body"><a href="mailto:{{ site.email }}?subject=Hello, {{ site.title }}!" id="contact-email">{{ site.email }}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="wrapper wrapper-md pv lg-pv+">
    <div class="section-header">
      <h1 class="section-heading tc mb-- md-mb- lg-mb">Tell Us About Your Project</h1>
    </div>
    <div class="section-main">
      <form action="//formspree.io/{{ site.email }}" method="POST" id="formContact" class="form form-animate-inputs">
       <input type="hidden" name="_next" value="/thanks">
       <input type="hidden" name="_subject" value="New BRS.com contact form submission">
       <input type="text" name="_gotcha" style="display:none">
       <div class="grid gutter-double">
         <div class="grid-item sm-1/2">
           <div class="form-field form-field-input">
             <input name="First Name" id="firstName2" class="form-input" type="text">
             <label for="firstName2" class="form-label">
               <span class="form-label-content">First Name</span>
             </label>
           </div>
         </div>
         <div class="grid-item sm-1/2">
           <div class="form-field form-field-input">
             <input name="Last Name" id="lastName2" class="form-input" type="text">
             <label for="lastName2" class="form-label">
               <span class="form-label-content">Last Name</span>
             </label>
           </div>
         </div>
         <div class="grid-item sm-1/2">
           <div class="form-field form-field-input">
             <input id="emailAddress2" name="Email" class="form-input" type="email" required>
             <label for="emailAddress2" class="form-label">
               <span class="form-label-content">Email Address <span class="form-required">*</span></span>
             </label>
           </div>
         </div>
         <div class="grid-item sm-1/2">
           <div class="form-field form-field-input">
             <input name="Phone Number" id="phoneNumber2" class="form-input" type="tel">
             <label for="phoneNumber2" class="form-label">
               <span class="form-label-content">Phone Number</span>
             </label>
           </div>
         </div>
         <div class="grid-item sm-1/2">
           <div class="form-field form-field-select">
             <label for="projectType2" class="form-label vh">Type of Project <span class="form-required">*</span></label>
             <select name="Project Type" id="projectType2" class="form-select" type="text" required>
               <option value="">Type of Project *</option>
               <option value="Origin (Website)">Origin (Website)</option>
               <option value="Identity (Branding)">Identity (Branding)</option>
               <option value="Infinity (Consulting)">Infinity (Consulting)</option>
               <option value="Catalyst (Startup)">Catalyst (Startup)</option>
               <option value="Other">Other</option>
             </select>
           </div>
         </div>
         <div class="grid-item sm-1/2">
           <div class="form-field form-field-input">
             <input name="Project Budget" id="projectBudget2" class="form-input" type="text">
             <label for="projectBudget2" class="form-label">
               <span class="form-label-content">Anticipated Budget</span>
             </label>
           </div>
         </div>
         <div class="grid-item">
           <div class="form-field form-field-input">
             <input name="Industry" id="industry" class="form-input" type="text">
             <label for="industry" class="form-label">
               <span class="form-label-content">What is your industry?</span>
             </label>
           </div>
         </div>
         <div class="grid-item">
           <div class="form-field form-field-textarea">
             <label name="Message" for="tellMore2" class="form-label">Tell us about your project (1000 characters max)</label>
             <textarea id="tellMore2" class="form-textarea" rows="8" maxlength="1000"></textarea>
           </div>
         </div>
         <div class="grid-item">
           <div class="form-actions tr">
             <button class="btn btn-primary" type="submit">Send Message</button>
           </div>
         </div>
       </div>
     </form>
    </div>
  </div>
</div>
<div class="section section-map">
  <div class="wrapper wrapper-full-bleed">
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
      function initGoogleMap() {
        // Create map object
        var latlng = new google.maps.LatLng({{ site.location_lat }}, {{ site.location_long }});

        // Set map options
        var options = {
            zoom: 16, // initial zoom level
            center: latlng, // map center
            mapTypeId: google.maps.MapTypeId.ROADMAP, // ROADMAP | SATELLITE | HYBRID | TERRAIN
            scrollwheel: false, // disable scroll-to-zoom because annoying
            styles: [ // https://snazzymaps.com/style/84/pastel-tones
              {
                "featureType": "landscape",
                "stylers": [
                  {
                    "saturation": -100
                  },
                  {
                    "lightness": 60
                  }
                ]
              },
              {
                "featureType": "road.local",
                "stylers": [
                  {
                    "saturation": -100
                  },
                  {
                    "lightness": 40
                  },
                  {
                    "visibility": "on"
                  }
                ]
              },
              {
                "featureType": "transit",
                "stylers": [
                  {
                    "saturation": -100
                  },
                  {
                    "visibility": "simplified"
                  }
                ]
              },
              {
                "featureType": "administrative.province",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "water",
                "stylers": [
                  {
                    "visibility": "on"
                  },
                  {
                    "lightness": 30
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [
                  {
                    "color": "#ef8c25"
                  },
                  {
                    "lightness": 40
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "geometry.fill",
                "stylers": [
                  {
                    "color": "#b6c54c"
                  },
                  {
                    "lightness": 40
                  },
                  {
                    "saturation": -40
                  }
                ]
              },
              {}
            ]
          };

        // Calling the constructor, thereby initializing the map
        var map = new google.maps.Map(document.getElementById('gmap'), options);

        // Define Marker properties
        var image = new google.maps.MarkerImage('/assets/images/pin.png',
            // Set image dimensions of custom marker
            new google.maps.Size(24, 23),
            // Set origin of custom marker
            new google.maps.Point(0, 0),
            // Set anchor of custom marker
            new google.maps.Point(12, 23)
        );

        // Add Marker
        var marker1 = new google.maps.Marker({
          position: new google.maps.LatLng({{ site.location_lat }}, {{ site.location_long }}),
          map: map,
          icon: image // This path is the custom pin to be shown. Remove this line and the proceeding comma to use default pin
        });

        // Add listener for a click on the pin
        google.maps.event.addListener(marker1, 'click', function() {
         infowindow1.open(map, marker1);
        });

        // Add information window
        var infowindow1 = new google.maps.InfoWindow({
         content: createInfo('Big Room Studios', '30 Danforth Street<br />Suite 304<br />Portland, Maine 04101<br /><a href="https://goo.gl/maps/1iXkR" target="_blank">Get Directions</a>')
        });

        // Create information window
        function createInfo(title, content) {
         return '<div class="infowindow"><strong>'+ title +'</strong><br />' + content + '</div>';
        }

        // Keep map centered on resize
        var bounds = new google.maps.LatLngBounds();
        var latlng = new google.maps.LatLng(marker1.position.lat(), marker1.position.lng());
        bounds.extend(latlng);

        google.maps.event.addDomListener(window, 'resize', function() {
          map.setCenter(bounds.getCenter());
        });
      }

      google.maps.event.addDomListener(window, 'load', initGoogleMap);
    </script>
    <div id="gmap"></div>
  </div>
</div>
