---
layout: page
title: "Thank You!"
body_class: "page-thanks"
permalink: /thanks/
robots: "noindex,nofollow"
---
<div class="section bg-gray-lightest">
  <div class="wrapper tc pv lg-pv+">
    <div class="grid">
      <div class="grid-item lg-1/4">
        <div class="contact-method mb lg-mb0">
          <div class="contact-method-heading">Call Us</div>
          <div class="contact-method-body"><a href="tel:{{ site.phone_alt }}">{{ site.phone }}</a></div>
        </div>
      </div>
      <div class="grid-item lg-2/4">
        <div class="contact-method mb lg-mb0">
          <div class="contact-method-heading">Get Directions</div>
          <div class="contact-method-body"><a href="{{ site.location_directions_url }}" target="_blank">{{ site.location_full }}</a></div>
        </div>
      </div>
      <div class="grid-item lg-1/4">
        <div class="contact-method">
          <div class="contact-method-heading">Email Us</div>
          <div class="contact-method-body"><a href="mailto:{{ site.email }}?subject=Hello, {{ site.title }}!">{{ site.email }}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-map">
  <div class="wrapper wrapper-full-bleed">
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
      function initGoogleMap() {
        // Create map object
        var latlng = new google.maps.LatLng({{ site.location_lat }}, {{ site.location_long }});

        // Set map options
        var options = {
            zoom: 16, // initial zoom level
            center: latlng, // map center
            mapTypeId: google.maps.MapTypeId.ROADMAP, // ROADMAP | SATELLITE | HYBRID | TERRAIN
            scrollwheel: false, // disable scroll-to-zoom because annoying
            styles: [ // https://snazzymaps.com/style/84/pastel-tones
              {
                "featureType": "landscape",
                "stylers": [
                  {
                    "saturation": -100
                  },
                  {
                    "lightness": 60
                  }
                ]
              },
              {
                "featureType": "road.local",
                "stylers": [
                  {
                    "saturation": -100
                  },
                  {
                    "lightness": 40
                  },
                  {
                    "visibility": "on"
                  }
                ]
              },
              {
                "featureType": "transit",
                "stylers": [
                  {
                    "saturation": -100
                  },
                  {
                    "visibility": "simplified"
                  }
                ]
              },
              {
                "featureType": "administrative.province",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "water",
                "stylers": [
                  {
                    "visibility": "on"
                  },
                  {
                    "lightness": 30
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [
                  {
                    "color": "#ef8c25"
                  },
                  {
                    "lightness": 40
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "geometry.fill",
                "stylers": [
                  {
                    "color": "#b6c54c"
                  },
                  {
                    "lightness": 40
                  },
                  {
                    "saturation": -40
                  }
                ]
              },
              {}
            ]
          };

        // Calling the constructor, thereby initializing the map
        var map = new google.maps.Map(document.getElementById('gmap'), options);

        // Define Marker properties
        var image = new google.maps.MarkerImage('/assets/images/pin.png',
            // Set image dimensions of custom marker
            new google.maps.Size(24, 23),
            // Set origin of custom marker
            new google.maps.Point(0, 0),
            // Set anchor of custom marker
            new google.maps.Point(12, 23)
        );

        // Add Marker
        var marker1 = new google.maps.Marker({
          position: new google.maps.LatLng({{ site.location_lat }}, {{ site.location_long }}),
          map: map,
          icon: image // This path is the custom pin to be shown. Remove this line and the proceeding comma to use default pin
        });

        // Add listener for a click on the pin
        google.maps.event.addListener(marker1, 'click', function() {
         infowindow1.open(map, marker1);
        });

        // Add information window
        var infowindow1 = new google.maps.InfoWindow({
         content: createInfo('Big Room Studios', '30 Danforth Street<br />Suite 304<br />Portland, Maine 04101<br /><a href="https://goo.gl/maps/1iXkR" target="_blank">Get Directions</a>')
        });

        // Create information window
        function createInfo(title, content) {
         return '<div class="infowindow"><strong>'+ title +'</strong><br />' + content + '</div>';
        }

        // Keep map centered on resize
        var bounds = new google.maps.LatLngBounds();
        var latlng = new google.maps.LatLng(marker1.position.lat(), marker1.position.lng());
        bounds.extend(latlng);

        google.maps.event.addDomListener(window, 'resize', function() {
          map.setCenter(bounds.getCenter());
        });
      }

      google.maps.event.addDomListener(window, 'load', initGoogleMap);
    </script>
    <div id="gmap"></div>
  </div>
</div>
