/* ========================================================================== *\
   Project -> Site -> Footer ($project-site-footer)
\* ========================================================================== */

@site-footer-background-color: #191a19;
@site-footer-text-color: @color-white;
@site-footer-heading-text-color: @color-primary;
@site-footer-heading-border-width: 1;
@site-footer-heading-border-style: solid;
@site-footer-heading-border-color: mix(@color-white, @site-footer-background-color, 10%);

.site-footer {
  background-color: @site-footer-background-color;

  .antialiasing();

  &,
  & a {
    color: @site-footer-text-color;
    text-decoration: none;
  }

  .menu-heading {
    color: @site-footer-heading-text-color;
    .to-rem(font-size, @font-size);
    .to-rem(border-bottom, @site-footer-heading-border-width, @site-footer-heading-border-style @site-footer-heading-border-color);
    .to-rem(padding-bottom, @spacing-third);
    .to-rem(margin-bottom, @spacing-half);
  }

  .menu-link {
    &:hover {
      text-decoration: underline;
    }
  }

  .love {
    margin-bottom: 0;

    .icon-heart {
      fill: @color-primary;
      .to-rem(margin, 0 @spacing-sixth);
    }
  }

  .location {
    .to-rem(margin, @spacing-half 0);
    color: @color-primary;
  }

  .copyright {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    .to-rem(font-size, @font-size-xx-small);
    margin-bottom: 0;
  }
}
