/* ========================================================================== *\
   Project -> Site -> Main ($project-site-main)
\* ========================================================================== */

@site-main-font-size: @font-size-x-large;

.site-main {
  // transition: padding-top 0.25s ease;

  .pageover & {
    .to-rem(padding-top, @site-header-height);
  }
}

.screen-sm-min({
  .site-main {
    &,
    & .grid-item {
      .to-rem(font-size, @site-main-font-size);
    }
  }
});

.screen-lg-min({
  .site-main {
    .pageover & {
      .to-rem(padding-top, @site-header-height-large);
    }
  }
});
