/* ========================================================================== *\
   Project -> Site -> Nav ($project-site-nav)
\* ========================================================================== */

@site-nav-background-color: @color-primary;
@site-nav-text-color: @color-white;
@site-nav-z-index: @z-index-9;
@site-nav-menu-link-hover-background-color: fade(@color-white, 25%);
@site-nav-menu-link-color-current: mix(@color-primary, @color-gray-darkest, 50%);
@site-nav-footer-height: 88;
@site-nav-footer-menu-link-hover-background-color: fade(@color-white, 25%);

.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: @site-nav-z-index;
  text-align: center;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s;
  opacity: 0;
  background-color: @site-nav-background-color;

  &,
  & a {
    color: @site-nav-text-color;
    text-decoration: none;
    outline: none;
  }

  // Show site nav
  &.is-open {
    visibility: visible;
    transition: opacity 0.5s;
    opacity: 1;

    // Show site nav menu
    // 1. Rotate effect
    // 2. Scale effect
    .nav-menu {
      transform: rotateX(0deg); // 1
      // transform: scale(1.0); // 2
      opacity: 1;
    }
  }

  .menu {
    margin-bottom: 0;
  }

  //
  // 1. Make room for `.site-header`
  // 2. Make room for `.nav-footer`
  // 3. 3D effect
  //
  .nav-wrapper {
    position: fixed;
    .to-rem(top, @site-header-height); // 1
    .to-rem(bottom, @site-nav-footer-height); // 2
    width: 100%;
    .to-rem(border-top, 1, solid fade(@color-white, 33.333%));
    .momentum-scrolling();
    perspective: 1200px; // 3
  }

  .nav-wrapper-inner {
    height: 100%;
  }

  // 1. Rotate effect
  // 2. Scale effect
  .nav-menu {
    transition: transform 0.5s, opacity 0.5s;
    transform: translateY(-25%) rotateX(35deg); // 1
    // transform: scale(0.15); // 2
    opacity: 0.4;

    .menu-link {
      position: relative;
      display: block;
      .to-rem(padding-top, @spacing-fourth);
      .to-rem(padding-bottom, @spacing-fourth);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      transition: background-color 0.25s;

      .antialiasing();

      // ALTERNATE OPTION: ANIMATED UNDERLINE
      // &,
      // &:visited,
      // &:hover,
      // &:active {
      //   backface-visibility: hidden;
      // }

      // &:after {
      //   position: absolute;
      //   left: 50%;
      //   width: 0;
      //   .to-rem(bottom, @spacing-third);
      //   height: 2px;
      //   content: "";
      //   transform: translateX(-50%);
      //   transition: 0.25s all ease;
      //   background-color: @color-white;
      //   backface-visibility: hidden;

      //   @media (min-height: @screen-md) {
      //     .to-rem(bottom, @spacing-base);
      //   }
      // }

      // &:hover:after {
      //   width: 100%;
      // }

      &:hover {
        background-color: @site-nav-menu-link-hover-background-color;
      }

      &.is-current,
      &.is-current:hover {
        display: inline-block;
        cursor: default;
        background: none;
        color: @site-nav-menu-link-color-current;
      }
    }
  }

  .nav-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    .to-rem(padding, @spacing-half);
    .to-rem(border-top, 1, solid fade(@color-white, 33.333%));

    .menu-link {
      display: inline-block;
      .to-rem(min-width, 68);
      .to-rem(font-size, @font-size-xxx-small);
      .to-rem(padding, @spacing-third);
      .to-rem(border-radius, 3);
      transition: background-color 0.25s;

      &:hover {
        background-color: @site-nav-footer-menu-link-hover-background-color;
      }
    }
  }
}

// Make room for taller `.site-header` on larger devices
.screen-lg-min({
  .site-nav {
    .nav-wrapper {
      .to-rem(top, @site-header-height-large);
    }
  }
});

// Change layout for menu items on small devices in landscape mode
@media (max-width: @screen-md-max) and (orientation: landscape) {
  .site-nav {
    .menu-item {
      display: inline-block;
      width: auto;
    }

    .menu-link {
      .to-rem(padding-left, @spacing-fourth);
      .to-rem(padding-right, @spacing-fourth);
    }
  }
}

// Increase font size and padding on menu links
@media (min-height: @screen-sm) {
  .site-nav {
    .nav-menu {
      .menu-link {
        .to-rem(font-size, @font-size-heading-3);
        .to-rem(padding-top, @spacing-third);
        .to-rem(padding-bottom, @spacing-third);
      }
    }
  }
}

// Increase font size and padding on menu links
@media (min-height: @screen-md) {
  .site-nav {
    .nav-menu {
      .menu-link {
        .to-rem(font-size, @font-size-heading-2);
        .to-rem(padding-top, @spacing-half);
        .to-rem(padding-bottom, @spacing-half);
      }
    }
  }
}

// Increase font size and padding on menu links
@media (min-height: @screen-lg) {
  .site-nav {
    .nav-menu {
      .menu-link {
        .to-rem(font-size, @font-size-heading-1);
        .to-rem(padding-top, @spacing-two-thirds);
        .to-rem(padding-bottom, @spacing-two-thirds);
      }
    }
  }
}

// Increase font size and padding on menu links
@media (min-height: @screen-xl) {
  .site-nav {
    .nav-menu {
      .menu-link {
        .to-rem(font-size, @font-size-deca);
        .to-rem(padding-top, @spacing-base);
        .to-rem(padding-bottom, @spacing-base);
      }
    }
  }
}
