/* ========================================================================== *\
   Project -> Site -> Intro ($project-site-intro)
\* ========================================================================== */

// Prevent flickering on mobile devices
.pp-po-body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 1
}

// 1. Prevent scrolling on <body> while slides are active
// 2. Set scrolling back to normal when user has left slide container
body.pp-po-body {
  overflow: hidden; // 1

  &.pageover.pageover-done {
    overflow: visible; // 2
  }
}

// 1. Animate slide container height to 0 while user is leaving slides
.pageover .pp-po-container {
  height: 0;
}

.pp-po-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.pp-section {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pp-easing,
.pp-po-container {
  transition: all 750ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
  transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
}

.pp-section.pp-table {
  display: table;
}

.pp-tableCell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

// Dot Nav
#pp-nav {
  position: fixed;
  z-index: @z-index-2;
  top: 50%;
  opacity: 1;
  visibility: visible;

  // 1. Hide slide nav if user leaves slides, or activates site nav
  .pageover &,
  .site-nav-open & {
    opacity: 0;
    visibility: hidden;
  }

  &.right {
    .to-rem(right, @spacing-half);
  }

  &.left {
    .to-rem(left, @spacing-half);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    position: relative;
    display: block;
    margin: 0;

    &:last-child span {
      border-radius: 0;
    }
  }

  a {
    display: block;
    line-height: 0;
    cursor: pointer;
    .to-rem(margin, @spacing-third 0);
    text-decoration: none;
    outline: none;
  }

  // 1. Use `!important` to override inline styles
  span {
    display: inline-block;
    .to-rem(padding, @spacing-sixth);
    .to-rem(width, @spacing-third);
    .to-rem(height, @spacing-third);
    .to-rem(border, 2, solid @color-white ~"!important"); // 1
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.35s ease;

    &:hover {
      background-color: fade(@color-white, 40%);
    }
  }

  .active span {
    background: @color-white;
  }
}

.slide {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .to-rem(padding-top, @site-header-height);
  .antialiasing();

  &,
  &.slide-heading,
  &.slide-subheading {
    color: @color-white;
  }

  .icon {
    .to-rem(width, @icon-size-xx-large);
    .to-rem(height, @icon-size-xx-large);
    fill: @color-white;
  }
}

#slide-0 {
  background-color: @color-primary;
  background-image: url("/assets/images/home/intro/bg-slide-0.gif");
}

#slide-1 {
  background-color: @color-tertiary;
  background-image: url("/assets/images/home/intro/bg-slide-1.png");
}

#slide-2 {
  background-color: @color-secondary;
  background-image: url("/assets/images/home/intro/bg-slide-2.jpg");
}

#slide-3 {
  background-color: @color-primary;
  background-image: url("/assets/images/home/intro/bg-slide-3.jpg");
}

#slide-4 {
  background-color: @color-quaternary;
  background-image: url("/assets/images/home/intro/bg-slide-4.jpg");
}

.slide,
.slide-link,
.slide-heading,
.slide-subheading {
  color: @color-white;
}

.slide-heading,
.slide-subheading {
  line-height: 1.333;

  .slide-intro & {
    line-height: 1;
  }
}

.slide-heading {
  text-transform: uppercase;
  letter-spacing: 0.02em;

  .slide-intro & {
    .to-rem(font-size, @font-size-deca);
  }
}

.slide-link {
  display: inline-block;
  text-decoration: none;
}

.slide-tagline {
  .to-rem(font-size, @font-size-xx-small);
}

.slide-service {
  .slide-heading,
  .slide-subheading {
    margin-bottom: 0;
  }

  @media (min-height: @screen-md) {
    .slide-tagline {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
      .to-rem(bottom, @spacing-double);
    }
  }
}

.screen-sm-min({
  // Dot Nav
  #pp-nav {
    &.right {
      .to-rem(right, @spacing-base);
    }

    &.left {
      .to-rem(left, @spacing-base);
    }
  }

  .slide {
    .icon {
      .to-rem(width, @icon-size-deca);
      .to-rem(height, @icon-size-deca);
    }
  }

  .slide-heading {
    .to-rem(font-size, @font-size-deca);

    .slide-intro & {
      .to-rem(font-size, @font-size-kilo);
    }
  }

  .slide-tagline {
    .to-rem(font-size, @font-size);
  }
});

.screen-md-min({
  // Dot Nav
  #pp-nav {
    a {
      .to-rem(margin, @spacing-half 0);
    }

    span {
      .to-rem(padding, @spacing-fourth);
      .to-rem(width, @spacing-half);
      .to-rem(height, @spacing-half);
    }
  }

  .slide {
    .icon {
      .to-rem(width, @icon-size-hecto);
      .to-rem(height, @icon-size-hecto);
    }
  }

  .slide-heading {
    .to-rem(font-size, @font-size-hecto);

    .slide-intro & {
      .to-rem(font-size, @font-size-mega);
    }
  }

  .slide-subheading {
    .to-rem(font-size, @font-size-heading-4);
  }
});

.screen-lg-min({
  // .slide {
  //   .to-rem(padding-top, @site-header-height-large);
  // }

  .slide {
    .icon {
      .to-rem(width, @icon-size-kilo);
      .to-rem(height, @icon-size-kilo);
    }
  }

  .slide-heading {
    .to-rem(font-size, @font-size-mega);

    .slide-intro & {
      .to-rem(font-size, @font-size-tera);
    }
  }
});
