/* ========================================================================== *\
   Project -> Site -> Header ($project-site-header)
\* ========================================================================== */

@site-header-height: 56;
@site-header-height-large: 96;
@site-header-z-index: @z-index-10;

.site-header {
  transition: background-color 0.35s ease;
  
  .antialiasing();

  a {
    font-weight: 700;
    outline: none;
    text-decoration: none;
  }

  // Push down content
  & + * {
    .to-rem(padding-top, @site-header-height);
  }

  .logo {
    .to-rem(padding, @spacing-half);
  }

  .nav-toggle {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    outline: none;
    .to-rem(padding, @spacing-two-thirds @spacing-half);

    &:hover .icon-hamburger-layers:before {
      margin-top: -10px;
    }

    &:hover .icon-hamburger-layers:after {
      margin-top: 10px;
    }

    &.is-active .icon-hamburger-layers {
      background-color: rgba(0, 0, 0, 0);
      transition-delay: 0.15s;
    }

    &.is-active .icon-hamburger-layers:before {
      margin-top: 0;
      transform: rotate(45deg);
      transition-delay: 0, 0.15s;
    }

    &.is-active .icon-hamburger-layers:after {
      margin-top: 0;
      transform: rotate(-45deg);
      transition-delay: 0, 0.15s;
    }
  }

  .contact a {
    text-transform: uppercase;
    .to-rem(font-size, @font-size-x-small);
  }
}

.screen-md-min({
  .site-header {
    .contact a {
      position: relative;

      &,
      &:visited,
      &:hover,
      &:active {
        backface-visibility: hidden;
      }

      &:after {
        position: absolute;
        left: 0;
        width: 0;
        bottom: -0.25em;
        height: 2px;
        content: "";
        transition: 0.25s all ease;
        background-color: @color-white;
        backface-visibility: hidden;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }
});

.screen-lg-min({
  .site-header {

    // Push down content
    & + * {
      .to-rem(padding-top, @site-header-height-large);
    }

    .logo {
      .to-rem(padding, @spacing-base);
    }

    .nav-toggle {
      .to-rem(padding, @spacing-base-plus-half @spacing-base);
    }
  }
});
