/* ========================================================================== *\
   Project -> Site ($project-site)
\* ========================================================================== */

// 1. Prevents scrolling on mobile, but causes page to jump to top
// 2. Prevents scrolling on desktop, will not cause page to jump to top
.site.no-scroll {
  position: fixed;       // 1
  // position: absolute; // 2
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

