html {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.styleguide-reset {
  abbr[title] {
    border-bottom: 1px dotted;
  }

  hr {
    height: 0;
    border: 0;
    border-top: 1px solid #dedede;
    background: none;
  }

  mark {
    color: #000;
    background: #ff0;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: Monaco, Consolas, "Liberation Mono", Courier, monospace;
    font-size: 1em;
  }

  q {
    quotes: \201C \201D \2018 \2019;
  }

  small {
    font-size: 81.25%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
  }

  button,
  select {
    text-transform: none;
  }

  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }

  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  input[type="search"] {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-appearance: textfield;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  textarea {
    overflow: auto;
    vertical-align: top;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  h1 {
    font-size: 36px;
    margin: 24px 0;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
  }

  a img {
    border: none;
  }

  tt,
  code,
  pre {
    font-family: Monaco, Consolas, "Liberation Mono", Courier, monospace;
    font-size: 13px;
  }

  pre {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color: #4183c4;
    &:hover {
      text-decoration: underline;
      color: #4183c4;
    }
    &:focus {
      outline: thin dotted;
    }
    &:active,
    &:hover {
      outline: 0;
    }
  }
}

#styleguide {
  color: #444;
  background-color: #fff;
  margin: 0;

  .styleguide-container {
      width: 980px;
      margin-right: auto;
      margin-left: auto;

      &:before,
      &:after {
        display: table;
        content: " ";
      }

      &:after {
        clear: both;
      }
    }

  .styleguide-header {
    position: relative;
    margin-bottom: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #dedede;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: normal;
    }
  }

  .styleguide-menu {
    float: left;
    width: 200px;
    padding: 3px;
    font-size: 14px;
    background: #efefef;
    border-radius: 2px;

    .styleguide-menu-list {
      background: #fafafb;
      border-radius: 2px;
      border: 1px solid #d8d8d8;
      list-style: none;

      li {
        border-bottom: 1px solid #eee;
        border-top: 1px solid #fff;
        margin-left: 0;

        &:first-child {
          border-top: none;
        }

        &::last-child {
          border-bottom: none;
        }
      }

      a {
        display: block;
        padding: 8px 10px 8px 8px;
        text-shadow: 0 1px 0 #fff;
        border-left: 2px solid #fafafb;
        color: #4183c4;
        text-decoration: none;

        &:hover {
          background: #fdfdfe;
          text-decoration: none;
          color: #4183c4;
        }

        &:focus,
        &:active {
          text-decoration: none;
        }

        &:focus {
          outline:thin dotted;
        }

        &:active,
        &:hover {
          outline:0;
        }

        &.selected {
          background: #fff;
          border-left: 2px solid #d26911;
          font-weight: bold;
          color: #222;
          cursor: default;
          box-shadow: inset 0 0px 1px rgba(0,0,0,0.1);
        }
      }
    }
  }

  .styleguide-content {
    float: left;
    width: 756px;
    margin-left: 24px;
  }

  .example-header {
    h1 {
      margin-top: 0;
      padding-bottom: 8px;
      border-bottom: 1px solid #dedede;
    }
  }

  .styleguide-markdown-body {
    overflow: hidden;
    word-wrap: break-word;

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    pre {
      margin: 24px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
      position: relative;
      margin: 24px 0;
      padding: 0;
      cursor: text;
    }

    ol,
    ul {
      padding-left: 24px;
    }

    & > *:first-child {
      margin-top: 0 !important;
    }

    & > *:last-child {
      margin-bottom: 0 !important;
    }

    pre {
      overflow: auto;
      padding: 0;
      word-wrap: normal;
      border: 1px solid #dedede;
      border-radius: 3px;
      background-color: #fff;

      code,
      tt {
        display: block;
        margin: 0;
        padding: 24px;
        word-wrap: normal;
        border: none;
        background-color: transparent;
      }
    }

    code,
    tt {
      display: inline-block;
      margin: 2px;
      padding: 2px 6px;
      border: 1px solid #dedede;
      border-radius: 3px;
      background-color: #fff;
    }

    h1, h2 {
      padding-bottom: 8px;
      border-bottom: 1px solid #dedede;
    }

    h4 {
      font-size: 1em;
    }
  }

  .styleguide-example {
    margin: 24px auto;
    background: rgba(255,255,255,0.5);
    border: 1px solid #dedede;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

    &:first-child {
      margin-top: 0;
    }

    & > .styleguide-example-header {
      h3 {
        margin: 00;
        padding: 12px;
        color: #fff;
        font-size: 24px;
        background: #333;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    .styleguide-description {
      padding: 24px;
      background: #f8f8f8;
      border-bottom: 1px solid #dedede;

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }

      .styleguide-modifier {
        list-style: none;
        padding-left: 0;
        li {
          margin-left: 0;
        }
      }
    }

    .styleguide-element {
      position: relative;
      padding: 24px;

      & + .styleguide-element {
        border-top: 1px solid #dedede;
      }

      .styleguide-modifier-name {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px 12px;
        margin: 0;
        z-index: 10000;
        font-size: 13px;
        color: #777;
        background: #f8f8f8;
        border: 1px solid #dedede;
        border-right: 0;
        border-top: 0;
        border-radius: 0 0 0 3px;
      }

      & > *:last-child {
        margin-bottom: 0;
      }
    }

    .styleguide-html {
      background: #fdf8eb;
      border-top: 1px solid #dedede;

      .styleguide-html-highlight {
        background: none;
      }

      pre {
        padding: 0;
        background: none;

        code {
          display: block;
          padding: 24px;
          overflow: auto;
        }
      }
    }
  }

  ul.styleguide-modifier {
    list-style-type: disc;
    li {
      strong {
        font-weight: bold;
      }
      p {
        display: inline;
        margin: 0;
      }
    }
  }

  .styleguide-footer {
    position: relative;
    margin-top: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    color: #777;
    border-top: 1px solid #dedede;

    p {
      text-align: right;
    }
  }
}

@import (less) "github.css";
