    {% if site.googleAnalytics.id %}
    <!-- Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.googleAnalytics.id }}', '{{ site.googleAnalytics.domain }}');
      ga('require', 'displayfeatures');
      ga('set', 'anonymizeIp', true);

      {% if page.error_page_404 %}
      ga('send', 'event', 'Error', '404', 'Page: ' + document.location.pathname + document.location.search + ' Referrer: ' + decodeURIComponent(document.referrer));
      {% elsif page.error_page_500 %}
      ga('send', 'event', 'Error', '500', 'Page: ' + document.location.pathname + document.location.search + ' Referrer: ' + decodeURIComponent(document.referrer));
      {% else %}
      ga('send', 'pageview');
      {% endif %}
    </script>
    {% endif %}
    <!-- Scripts -->
    <script src="{{ '/assets/js/application.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
