<ul class="post-sharing sharing list-bare fr ml">
  <li class="sharing-item">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url | remove: 'index.html' }}" title="Share on Facebook" class="sharing-link" target="_blank">
      <svg class="sharing-icon icon-facebook icon icon-" role="presentation">
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="sharing-item">
    <a href="https://twitter.com/intent/tweet?text=Blog Post: {{ page.title }}&url={{ page.url | prepend: site.baseurl | prepend: site.url | remove: 'index.html' }}&via={{ site.twitter.username }}" title="Share on Twitter" class="sharing-link" target="_blank">
      <svg class="sharing-icon icon-twitter icon icon-" role="presentation">
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li class="sharing-item">
    <a href="mailto:?subject=Blog Post: {{ page.title | replace: '&', '%26' }}&body=Hey friend, I thought you’d be interested in this blog post from {{ site.title }}: {{ page.url | prepend: site.baseurl | prepend: site.url | remove: 'index.html' }}. Have a great day!" title="Email a Friend" class="sharing-link" target="_blank">
      <svg class="sharing-icon icon-email icon icon-" role="presentation">
        <use xlink:href="#icon-email"></use>
      </svg>
    </a>
  </li>
</ul>
