<div class="section">
  <div class="wrapper wrapper-sm pv lg-pv+">
    <div class="section-header">
      <h1 class="section-heading tc mb-- md-mb- lg-mb">Our Capabilities</h1>
    </div>
    <div class="section-main">
      <p>We are a soup-to-nuts creative and technology firm who can guide your new company or existing organization through a comprehensive process of strategy, design proper branding and print materials, and develop web and mobile applications of any size.</p>
      <p>Additionally, we can deploy an enterprise-grade, scalable architecture for your product. You can opt into any of our services at any point in time. We’ll happily do a strategy and brand phase, or develop and deploy products designed by other agencies. We take pride in our adaptability and flexibility.</p>
    </div>
  </div>
</div>

<div class="section">
  <div class="wrapper wrapper-sm pb lg-pb+">
    <div class="section-main">
      <table class="table table-border-cells table-inner-grid tc">
        <tbody>
          {% for item in include.capabilities %}
          {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
          {% if thecycle == 'odd' %}<tr>{% endif %}
            <td class="1/2 p- xs-p sm-p+">
              <h3 class="table-heading mb-">{{ item.title }}</h3>
              <ul class="list-bare mb0 fz-- sm-fz+ lg-fz++">
                {% for item in item.capabilities_list %}
                <li>{{ item.capability }}</li>
                {% endfor %}
              </ul>
            </td>
          {% if thecycle == 'even' %}<tr>{% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
