<div class="section">
  <div class="wrapper wrapper-sm pt lg-pt+">
    <div class="section-header">
      <h1 class="section-heading tc mb-- md-mb- lg-mb">Service Packages</h1>
    </div>
    <div class="section-main">
      <div class="services-list list-bare mb0">
        {% assign serviceItems = site.categories['services'] | sort: 'order' %}
        {% for item in serviceItems limit:4 %}
        <div id="service-{{ item.title | downcase }}" class="service service-{{ item.title | downcase }} pt sm-pt+ sm-pb">
          <div class="grid lg-gutter-double">
            <div class="grid-item sm-one-half tc">
              <p class="service-icon"><svg class="icon icon-{{ item.title | downcase }}" role="presentation"><use xlink:href="#icon-{{ item.title | downcase }}"></use></svg></p>
              <h1 class="service-heading mb0">{{ item.title }}</h1>
              <p class="service-subheading">{{ item.subtitle }}</p>
              <p><a href="{{ item.url }}" class="service-cta btn btn-hollow btn-round">Learn More ></a></p>
            </div>
            <div class="grid-item sm-one-half tc sm-tl">
              {% if item.tagline %}
              <p><strong>{{ item.tagline }}</strong></p>
              {% endif %}
              {% if item.description %}
              <p>{{ item.description }}</p>
              {% endif %}
              {% if item.timeline %}<p><strong>Timeline:</strong> {{ item.timeline }}</p>{% endif %}
              {% if item.feature_list %}
              <ul class="list-bare">
              {% for item in item.feature_list %}
                <li>{{ item.feature }}</li>
              {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
