<div class="section">
  <div class="wrapper wrapper-flush wrapper-xl">
    <div class="section-main">
      <figure class="image-full-bleed">
        <img data-src="/assets/images/about/brotherkiss.jpg" class="lazyload" alt="">
      </figure>
    </div>
  </div>
</div>
