<div class="section">
  <div class="wrapper wrapper-sm pv lg-pv+">
    <div class="section-header">
      <h1 class="section-heading tc mb-- md-mb- lg-mb">Build, Measure, Learn</h1>
    </div>
    <div class="section-main">
      <p>We practice an iterative approach to problem solving. For each desired outcome we help you craft and build the simplest solution possible, measure the success of that solution, and learn from the results. Rinse, and repeat.</p>
      <p>This process contrasts the traditional <a href="http://en.wikipedia.org/wiki/Waterfall_model">waterfall</a> strategy model employed for decades by many enterprise solution providers. The traditional method wastes time, energy, and money and often results in poor outcomes. Incorporating <a href="http://en.wikipedia.org/wiki/Lean_software_development">lean, agile development</a> strategies into our process is one of the many ways we do better.</p>
      <p>This way of working required a major change in our firm’s process. However, since that change we have been producing better work and bigger client smiles. We hope that you will choose us to tackle your next big project.</p>
    </div>
  </div>
</div>
