<div class="section">
  <div class="wrapper wrapper-sm pv lg-pv+">
    <div class="section-header">
      <h1 class="section-heading tc mb-- md-mb- lg-mb">Mission</h1>
    </div>
    <div class="section-main">
      <p>Big Room Studios designs and builds distinctive brands, apps, games, sites, and solutions. We can help you create the next influential social media platform or tackle a big hairy problem. You can hire us to design a polished logo or a build a beer-dispensing robot. We can help you make your boss happier and even help bring your personal dreams to life.</p>
      <p>Brothers Tim and Sam Mateosian founded Big Room in 2002, successfully bootstrapping it into the lean but mighty team it is today. We’ve helped build startups like <a href="http://www.nextworth.com/">NextWorth</a> and <a href="https://ruck.us">ruck.us</a>, and worked with renowned brands like <a href="http://www.fairmont.com/">Fairmont</a> and <a href="http://www.target.com/">Target</a>. We choose to operate in Portland, Maine because it is one of the best communities on Earth. We’d love to show you around, get to know one another, and make something awesome together.</p>
    </div>
  </div>
</div>
