<div class="section">
  <div class="wrapper wrapper-sm pv lg-pb+">
    <div class="section-header">
      <h1 class="section-heading tc mb-- md-mb- lg-mb">People-first</h1>
    </div>
    <div class="section-main">
      <p>Here at BRS, we are dedicated to helping people build useful products and services. We study measured analysis based on what people actually want and need, and put it at the forefront of everything we create. </p>
      <p>In the creative process, we focus on solutions that address the emotional and material needs of the intended audience rather than what’s trendy, new, or hip in graphic design. When building applications, we work hard to understand how real people will use the products that we’re creating. We put actual users into the process of development as early and often as possible. People are at the heart of everything we make.</p>
    </div>
  </div>
</div>
