<div class="section">
  <div class="wrapper wrapper-sm pt lg-pt+">
    <div class="section-header">
      <h1 class="section-heading tc mb-- md-mb- lg-mb">Story</h1>
    </div>
    <div class="section-main">
      <p>From a young age, Tim and Sam Mateosian were known to be natural tinkerers, inventors, and hackers. As brothers growing up in rural and coastal Maine, both became voracious <a href="http://en.wikipedia.org/wiki/Autodidacticism">autodidacts</a> with complementary skills and interests. They have over twenty respective years of experience in software, hardware, Internet technology, design, web development, and user experience.</p>
      <p>In 2002, Tim and Sam combined their powers and co-founded Big Room Studios. It was born with a no-nonsense business plan to find solutions to the hard-bitten problems that matter to people. We collect the best and brightest people, and employ them to solve tough problems presented by businesses and individuals alike. In the process, we uncover potential new products, which we offer to the world &mdash; sometimes for free, and sometimes as a completely new business.</p>
      <p>We run lean and believe in rapid iteration. We love entrepreneurs and startups. We love helping big businesses break into new fields. We hate waste, bureaucracy, and political correctness. We love art and technology. We love to work with passionate people and big ideas. We love making people happy. We want to make something awesome with you.</p>
    </div>
  </div>
</div>
