<div id="about-team" class="section">
  <div class="wrapper wrapper-flush wrapper-xl pv lg-pv+">
    <div class="section-header tc">
      <div class="wrapper wrapper-sm">
        <h1 class="section-heading mb-- md-mb- lg-mb">Team</h1>
        <p class="section-tagline lg-mb+">We believe in creating job opportunities for awesome people. Our team of inventive, passionate people is committed to making great ideas come true.</p>
      </div>
    </div>
    <div class="section-main">
      <div class="wrapper wrapper-xl">
        <p class="tr">
          <button class="person-toggle btn btn-bare js-person-toggle">
            <svg class="icon-cat icon sm-icon++" role="presentation"><use xlink:href="#icon-cat"></use></svg>
            <span class="person-toggle-text animation blink-rainbow">Pet Mode</span>
          </button>
        </p>
      </div>
      <div class="grid gutter-1px">
        {% assign team = include.team | sort: 'last_name' %}
        {% for item in team %}
        {% capture photoPath %}/assets/images/about/team/{% endcapture %}
        {% capture photoFileName %}{{ photoPath }}{{ item.image }}{% endcapture %}
        {% capture photoPlaceholder %}{{ photoPath }}placeholder.jpg{% endcapture %}
        {% capture photoPetPath %}/assets/images/about/team/pets/{% endcapture %}
        {% capture photoPetFileName %}{{ photoPetPath }}{{ item.pet_image }}{% endcapture %}
        {% capture photoPetPlaceholder %}{{ photoPetPath }}placeholder.png{% endcapture %}
        <div class="grid-item 1/2 xs-1/3 md-1/4">
          
          <div class="person">
            <div class="person-front">
              <div class="person-image">
                {% if item.image %}
                <img data-src="{{ photoFileName }}" class="lazyload" alt="{{ item.first_name }} {{ item.last_name }}">
                {% else %}
                <img data-src="{{ photoPlaceholder }}" class="lazyload" alt="{{ item.first_name }} {{ item.last_name }}">
                {% endif %}
              </div>
              <div class="person-info p- md-p">
                {% if item.first_name && item.last_name %}
                <h3 class="person-heading mb0">{{ item.first_name }} {{ item.last_name }}</h3>
                {% endif %}
                {% if item.occupation %}
                <div class="person-tagline mb--">{{ item.occupation }}</div>
                {% endif %}
                {% if item.social %}
                <ul class="person-social list-bare list-inline-block mb0">
                  {% for item in item.social %}
                  <li><a href="{{ item.url }}" title="{{ item.network }}" class="dib" target="_blank"><svg class="icon-{{ item.network | replace: ' ', '-' | downcase }}-circle icon icon- md-icon" role="presentation"><use xlink:href="#icon-{{ item.network | replace: ' ', '-' | downcase }}-circle"></use></svg></a></li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
            <div class="person-back">
              <div class="person-image">
                {% if item.pet_image %}
                <img data-src="{{ photoPetFileName }}" class="lazyload" alt="{{ item.pet_name }}">
                {% else %}
                <img data-src="{{ photoPetPlaceholder }}" class="lazyload" alt="{{ item.pet_name }}">
                {% endif %}
              </div>
              <div class="person-info p- md-p">
                <h3 class="person-heading mb0">
                  {% if item.pet_name %}
                  {{ item.pet_name }}
                  {% else %}
                  N/A
                  {% endif %}
                </h3>
                <div class="person-tagline mb--">
                  {% if item.pet_type %}
                  {{ item.first_name }}’s {{ item.pet_type }}
                  {% else %}
                  {{ item.first_name }} does not have any pets.
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          {% comment %}
          <div class="person">
            {% if item.image %}
            <div class="person-image">
              <div class="person-image-front">
                {% if item.image %}
                <img data-src="{{ photoFileName }}" class="lazyload" alt="{{ item.name }}">
                {% else %}
                <img data-src="{{ photoPlaceholder }}" class="lazyload" alt="{{ item.name }}">
                {% endif %}
              </div>
              <div class="person-image-back">
                {% if item.pet_image %}
                <img data-src="{{ photoPetFileName }}" class="lazyload" alt="{{ item.name }}">
                {% else %}
                <img data-src="{{ photoPetPlaceholder }}" class="lazyload" alt="{{ item.name }}">
                {% endif %}
              </div>
            </div>
            {% endif %}
            <div class="person-info p- md-p">
              {% if item.first_name && item.last_name %}
              <h3 class="person-heading mb0">{{ item.first_name }} {{ item.last_name }}</h3>
              {% endif %}
              {% if item.occupation %}
              <div class="person-tagline mb--">{{ item.occupation }}</div>
              {% endif %}
              {% if item.social %}
              <ul class="person-social list-bare list-inline-block mb0">
                {% for item in item.social %}
                <li><a href="{{ item.url }}" title="{{ item.network }}" class="dib" target="_blank"><svg class="icon-{{ item.network | replace: ' ', '-' | downcase }}-circle icon icon- md-icon" role="presentation"><use xlink:href="#icon-{{ item.network | replace: ' ', '-' | downcase }}-circle"></use></svg></a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
          {% endcomment %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
