/* ========================================================================== *\
   Project -> Utilities -> Colors ($project-utilities-colors)
\* ========================================================================== */

// Grayscale
.bg-gray-darkest {
  background-color: @color-gray-darkest;
}

.bg-gray-darker {
  background-color: @color-gray-darker;
}

.bg-gray-dark {
  background-color: @color-gray-dark;
}

.bg-gray-light {
  background-color: @color-gray-light;
}

.bg-gray-lighter {
  background-color: @color-gray-lighter;
}

.bg-gray-lightest {
  background-color: @color-gray-lightest;
}

.color-gray-darkest {
  color: @color-gray-darkest;
}

.color-gray-darker {
  color: @color-gray-darker;
}

.color-gray-dark {
  color: @color-gray-dark;
}

.color-gray-light {
  color: @color-gray-light;
}

.color-gray-lighter {
  color: @color-gray-lighter;
}

.color-gray-lightest {
  color: @color-gray-lightest;
}

// Colors
.bg-primary {
  background-color: @color-primary;
}

.bg-secondary {
  background-color: @color-secondary;
}

.bg-tertiary {
  background-color: @color-tertiary;
}

.bg-quaternary {
  background-color: @color-quaternary;
}

.color-primary {
  color: @color-primary;
}

.color-secondary {
  color: @color-secondary;
}

.color-tertiary {
  color: @color-tertiary;
}

.color-quaternary {
  color: @color-quaternary;
}
