/* ========================================================================== *\
   Project -> Wrappers ($project-wrappers)
\* ========================================================================== */

// Wrappers
//
// A layout area that acts as a container for other layouts, objects, and
// elements.
//
// Styleguide 4.

@wrapper-max-width-x-large: 1440;
@wrapper-max-width-large: 1280;
@wrapper-max-width: 1080;
@wrapper-max-width-medium: 860;
@wrapper-max-width-small: 720;
@wrapper-max-width-x-small: 600;

// Styles
//
// The default wrapper has a fixed, maximum width and fluid, percentage-based
// width that provides some left and right padding. Flush wrappers have a 100%
// width, which removes the default left and right padding on default wrappers.
// Full-bleed wrappers remove all width constraints.
//
// .wrapper-flush - sits 100% flush with its parent
// .wrapper-full-bleed - removes any width constraints on the wrapper
//
// Markup:
// <div class="wrapper {$modifiers}">I am a wrapper!</div>
//
// Styleguide 4.1

// Sizes
//
// You can set different maximum widths for a wrapper by adding the appropriate
// classes to your markup.
//
// .wrapper-xs - Decrease the wrapper’s maximum width
// .wrapper-sm - Decrease the wrapper’s maximum width
// .wrapper-md - Decrease the wrapper’s maximum width
// .wrapper-lg - Increase the wrapper’s maximum width
// .wrapper-xl - Increase the wrapper’s maximum width
//
// Markup:
// <div class="wrapper {$modifiers}">I am a wrapper!</div>
//
// Styleguide 4.2

.wrapper-xs {
  .to-rem(max-width, @wrapper-max-width-x-small);
}

.wrapper-sm {
  .to-rem(max-width, @wrapper-max-width-small);
}

.wrapper-md {
  .to-rem(max-width, @wrapper-max-width-medium);
}

.wrapper-lg {
  .to-rem(max-width, @wrapper-max-width-large);
}

.wrapper-xl {
  .to-rem(max-width, @wrapper-max-width-x-large);
}
