/* ========================================================================== *\
   Project -> Buttons ($project-buttons)
\* ========================================================================== */

@btn-hollow-border-width: 1;
@btn-hollow-border-style: solid;
@btn-hollow-border-color: @color-gray-light;
@btn-hollow-border-radius: 5;
@btn-hollow-hover-background-color: @btn-hollow-border-color;
@btn-hollow-inverse-border-color: @color-white;
@btn-hollow-inverse-text-color: @btn-hollow-inverse-border-color;
@btn-hollow-inverse-hover-text-color: @color-gray-darkest;
@btn-hollow-inverse-hover-background-color: @btn-hollow-inverse-border-color;
@btn-secondary-background-color: @color-secondary;
@btn-secondary-text-color: @color-white;
@btn-tertiary-background-color: @color-tertiary;
@btn-tertiary-text-color: @color-white;
@btn-quaternary-background-color: @color-quaternary;
@btn-quaternary-text-color: @color-white;

// Buttons
//
// Elements that are meant to be clicked on.
//
// Styleguide 9.

// States
//
// Common states for buttons (hover, active, focus).
//
// :hover - Lighten the background color when hovered.
// :active - Darken the background color and add an inner shadow when active.
// :focus - Add an outline when the element is focused.
//
// Markup:
// <a href="#!" class="btn {$modifiers}">Look, a button!</a>
// <button class="btn {$modifiers}">Look, a button!</button>
// <input type="submit" class="btn {$modifiers}" value="Look, a button!">
//
// Styleguide 9.1

// Disabled
//
// Buttons that are non-functional.
//
// .is-disabled - Makes any <code>.btn</code> element non-functional.
//
// Markup:
// <a href="#!" class="btn {$modifiers}">Look, a button!</a>
// <button class="btn {$modifiers}" disabled>Look, a button!</button>
// <input type="submit" class="btn {$modifiers}" value="Look, a button!" disabled>
//
// Styleguide 9.2

// Sizes
//
// Modifier classes for various button sizes.
//
// .btn-xs - Extra-small-sized button
// .btn-sm - Small-sized button
// .btn-lg - Large-sized button
//
// Markup:
// <a href="#!" class="btn {$modifiers}">Look, a button!</a>
// <button class="btn {$modifiers}">Look, a button!</button>
// <input type="submit" class="btn {$modifiers}" value="Look, a button!">
//
// Styleguide 9.3

// Shapes
//
// Modifier classes for various button shapes.
//
// .btn-round - Add a rounded border radius to a button.
//
// Markup:
// <a href="#!" class="btn {$modifiers}">Look, a button!</a>
// <button class="btn {$modifiers}">Look, a button!</button>
// <input type="submit" class="btn {$modifiers}" value="Look, a button!">
//
// Styleguide 9.4

// Styles
//
// Modifier classes for various button colors.
//
// .btn-bare - Remove button styles entirely
// .btn-hollow - Button with a transparent background
// .btn-hollow.btn-hollow-inverse - Button with a transparent background
// .btn-hollow.btn-hollow-inverse.btn-cta - Call-to-action styles
//
// Markup:
// <a href="#!" class="btn {$modifiers}">Look, a button!</a>
// <button class="btn {$modifiers}">Look, a button!</button>
// <input type="submit" class="btn {$modifiers}" value="Look, a button!">
//
// Styleguide 9.5

.btn-bare {
  font-weight: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;

  &,
  &:hover,
  &:active,
  &.is-active {
    background: none;
    box-shadow: none;
  }
}

.btn-hollow {
  background-color: transparent;
  .to-rem(border, @btn-hollow-border-width, @btn-hollow-border-style @btn-hollow-border-color);
  transition: background-color 0.15s, color 0.15s;

  &:hover,
  &:active,
  &.is-active {
    background-color: @btn-hollow-hover-background-color;
  }

  &.btn-hollow-inverse {
    border-color: @btn-hollow-inverse-border-color;
    color: @btn-hollow-inverse-text-color;

    &:hover {
      background-color: @btn-hollow-inverse-hover-background-color;
      color: @btn-hollow-inverse-hover-text-color;
      text-decoration: none;
    }
  }
}

.btn-cta {
  line-height: 1.2;
  text-transform: uppercase;
  .to-rem(font-size, @font-size-x-large);

  small {
    font-weight: 400;
    text-transform: none;
  }
}

// Skins
//
// Modifier classes for various button colors.
//
// .btn-primary - Add the primary brand color as the button background color.
// .btn-secondary - Add the secondary brand color as the button background color.
// .btn-tertiary - Add the tertiary brand color as the button background color.
// .btn-quaternary - Add the quaternary brand color as the button background color.
//
// Markup:
// <a href="#!" class="btn {$modifiers}">Look, a button!</a>
// <button class="btn {$modifiers}">Look, a button!</button>
// <input type="submit" class="btn {$modifiers}" value="Look, a button!">
//
// Styleguide 9.6

.btn-secondary {
  color: @btn-secondary-text-color;
  background-color: @btn-secondary-background-color;

  &:hover {
    background-color: lighten(@btn-secondary-background-color, 4%);
  }

  &:active,
  &.is-active {
    background-color: darken(@btn-secondary-background-color, 4%);
  }
}

.btn-tertiary {
  color: @btn-tertiary-text-color;
  background-color: @btn-tertiary-background-color;

  &:hover {
    background-color: lighten(@btn-tertiary-background-color, 4%);
  }

  &:active,
  &.is-active {
    background-color: darken(@btn-tertiary-background-color, 4%);
  }
}

.btn-quaternary {
  color: @btn-quaternary-text-color;
  background-color: @btn-quaternary-background-color;

  &:hover {
    background-color: lighten(@btn-quaternary-background-color, 4%);
  }

  &:active,
  &.is-active {
    background-color: darken(@btn-quaternary-background-color, 4%);
  }
}

// Calls-to-Action
//
// Buttons designed to catch the user's attention.
//
// .btn-cta.btn-hollow.btn-hollow-inverse.btn-round - Call-to-action styles
//
// Markup:
// <div style="background-color: #333; padding: 15px; text-align: center;">
//   <a href="#!" class="btn {$modifiers}">Look, a button!<br><small>Describe this briefly</small></a>
// </div>
//
// Styleguide 9.7
