/* ========================================================================== *\
   Project -> Clients ($project-clients)
\* ========================================================================== */

// Clients
//
// A visual representation of the organizations that we have done work for in
// the past.
//
// Styleguide 16.

// Grid
//
// Clients are represented with a logo, and the logos are arranged in a grid
// format built with good ol’ fashioned tables.
//
// Markup:
// <table class="table table-border table-border-cells">
//   <tbody>
//     <tr>
//       <td class="client vam 1/4">
//         <img src="http://placehold.it/300x255" alt="">
//       </td>
//       <td class="client vam 1/4">
//         <img src="http://placehold.it/300x255" alt="">
//       </td>
//       <td class="client vam 1/4">
//         <img src="http://placehold.it/300x255" alt="">
//       </td>
//       <td class="client vam 1/4">
//         <img src="http://placehold.it/300x255" alt="">
//       </td>
//     </tr>
//     <tr>
//       <td class="client vam 1/4">
//         <img src="http://placehold.it/300x255" alt="">
//       </td>
//       <td class="client vam 1/4">
//         <img src="http://placehold.it/300x255" alt="">
//       </td>
//       <td class="client vam 1/4">
//         <img src="http://placehold.it/300x255" alt="">
//       </td>
//       <td class="client vam 1/4">
//         <img src="http://placehold.it/300x255" alt="">
//       </td>
//     </tr>
//     <tr>
//       <td class="client vam 1/4">
//         <img src="http://placehold.it/300x255" alt="">
//       </td>
//       <td class="client vam 1/4">
//         <img src="http://placehold.it/300x255" alt="">
//       </td>
//       <td class="client vam 1/4">
//         <img src="http://placehold.it/300x255" alt="">
//       </td>
//       <td class="client vam 1/4">
//         <img src="http://placehold.it/300x255" alt="">
//       </td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide 16.1

td.client {
  picture {
    display: block;
  }

  img {
    .to-rem(max-height, 72);
  }
}

.screen-xs-min({
  td.client {
    .to-rem(padding, @spacing-base @spacing-half);

    img {
      .to-rem(max-height, 96);
    }
  }
});

.screen-lg-min({
  td.client {
    .to-rem(padding, @spacing-base-plus-half @spacing-two-thirds);

    img {
      .to-rem(max-height, 128);
    }
  }
});
