/* ========================================================================== *\
   Project -> Contact Methods ($project-contact-methods)
\* ========================================================================== */

@contact-method-heading-text-color: @color-gray-darkest;
@contact-method-heading-margin-bottom: @spacing-half;
@contact-method-body-anchor-color: @color-primary;

// Contact Methods
// 
// A visual representation of the ways you can contact Big Room Studios.
// 
// Styleguide 21.

// Default
// 
// Markup:
// <div class="contact-method">
//   <div class="contact-method-heading">Email Us</div>
//   <div class="contact-method-body"><a href="#!">person@website.com</a></div>
// </div>
// 
// Styleguide 21.1

.contact-method-heading {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: @contact-method-heading-text-color;
  .to-rem(margin-bottom, @contact-method-heading-margin-bottom);

  .antialiasing();
}

.contact-method-body {
  a {
    color: @contact-method-body-anchor-color;
    text-decoration: none;
    position: relative;

    &:after {
      position: absolute;
      left: 0;
      width: 0;
      bottom: -0.25em;
      height: 2px;
      content: "";
      transition: 0.25s all ease;
      background-color: @color-primary;
      backface-visibility: hidden;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
