/* ========================================================================== *\
   Project -> Forms ($project-forms)
\* ========================================================================== */

@form-margin-bottom: @spacing-base;
@form-field-margin-bottom: @spacing-base;
@form-required-text-color: @color-primary;

@form-animated-form-field-padding-top: @spacing-base;
@form-animated-form-input-border-bottom: @spacing-1px solid @color-gray-light;
@form-animated-form-input-z-index: @z-index-1;
@form-animated-form-input-background-color: transparent;
@form-animated-form-input-text-color: @color-white;
@form-animated-form-input-height: 44px;
@form-animated-form-label-top: @form-animated-form-field-padding-top;
@form-animated-form-label-padding: 8;
@form-animated-form-label-before-background-color: @color-primary;
@form-animated-form-label-before-transition: transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
@form-animated-form-label-before-transform: translate3d(-101%, 0, 0);
@form-animated-form-label-focus-before-transform: translate3d(0, 0, 0);
@form-animated-form-label-after-height: @spacing-1px;
@form-animated-form-label-after-background-color: @color-gray-light;
@form-animated-form-label-after-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
@form-animated-form-label-content-focus-text-color: @color-gray-dark;
@form-animated-form-label-content-transition: transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1), color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1);
@form-animated-form-label-content-translate-x: -8px;

// Forms
// 
// Common styles for form elements (labels, inputs, etc).
// 
// Styleguide 20.

.form {
  .to-rem(margin-bottom, @form-margin-bottom);
}

// Default
// 
// Markup:
// <form action="#" class="form">
//   <div class="grid">
//     <div class="grid-item sm-1/2">
//       <div class="form-field">
//         <label for="firstName" class="form-label">First Name</label>
//         <input id="firstName" class="form-input" type="text" placeholder="Jane">
//       </div>
//     </div>
//     <div class="grid-item sm-1/2">
//       <div class="form-field">
//         <label for="lastName" class="form-label">Last Name</label>
//         <input id="lastName" class="form-input" type="text" placeholder="Dough">
//       </div>
//     </div>
//     <div class="grid-item sm-1/2">
//       <div class="form-field">
//         <label for="emailAddress" class="form-label">Email Address</label>
//         <input id="emailAddress" class="form-input" type="email" placeholder="person@website.com">
//       </div>
//     </div>
//     <div class="grid-item sm-1/2">
//       <div class="form-field">
//         <label for="phoneNumber" class="form-label">Phone Number</label>
//         <input id="phoneNumber" class="form-input" type="tel" placeholder="(555) 555-5555">
//       </div>
//     </div>
//     <div class="grid-item sm-1/2">
//       <div class="form-field">
//         <label for="projectType" class="form-label">Type of Project</label>
//         <select id="projectType" class="form-select" type="text">
//           <option value="Choose a Package">Choose a Package</option>
//           <option value="Origin (Website)">Origin (Website)</option>
//           <option value="Identity (Branding)">Identity (Branding)</option>
//           <option value="Catalyst (Startup)">Catalyst (Startup)</option>
//           <option value="Infinity (Consulting)">Infinity (Consulting)</option>
//           <option value="Other">Other</option>
//         </select>
//       </div>
//     </div>
//     <div class="grid-item sm-1/2">
//       <div class="form-field">
//         <label for="projectBudget" class="form-label">Anticipated Budget</label>
//         <input id="projectBudget" class="form-input" type="text" placeholder="$10,000">
//       </div>
//     </div>
//     <div class="grid-item">
//       <div class="form-field">
//         <label for="tellMore" class="form-label">Tell us about your project (1000 characters max)</label>
//         <textarea id="tellMore" class="form-textarea" rows="8" placeholder="Describe your project" maxlength="1000"></textarea>
//       </div>
//     </div>
//     <div class="grid-item">
//       <div class="form-actions">
//         <button class="btn btn-primary" type="submit">Send Message</button>
//       </div>
//     </div>
//   </div>
// </form>
// 
// Styleguide 20.1

.form-field {
  .to-rem(margin-bottom, @form-field-margin-bottom);
}

.form-required {
  color: @form-required-text-color;
}

// Animated Form Fields
// 
// Override the default form styles for a more intricate user experience, where
// the form labels animate and stay in view when a user focuses on an input
// element.
// 
// Markup:
// <form action="#" class="form form-animate-inputs">
//   <div class="grid">
//     <div class="grid-item sm-1/2">
//       <div class="form-field form-field-input">
//         <input id="firstName2" class="form-input" type="text">
//         <label for="firstName2" class="form-label">
//           <span class="form-label-content">First Name</span>
//         </label>
//       </div>
//     </div>
//     <div class="grid-item sm-1/2">
//       <div class="form-field form-field-input">
//         <input id="lastName2" class="form-input" type="text">
//         <label for="lastName2" class="form-label">
//           <span class="form-label-content">Last Name</span>
//         </label>
//       </div>
//     </div>
//     <div class="grid-item sm-1/2">
//       <div class="form-field form-field-input">
//         <input id="emailAddress2" class="form-input" type="email">
//         <label for="emailAddress2" class="form-label">
//           <span class="form-label-content">Email Address</span>
//         </label>
//       </div>
//     </div>
//     <div class="grid-item sm-1/2">
//       <div class="form-field form-field-input">
//         <input id="phoneNumber2" class="form-input" type="tel">
//         <label for="phoneNumber2" class="form-label">
//           <span class="form-label-content">Phone Number</span>
//         </label>
//       </div>
//     </div>
//     <div class="grid-item sm-1/2">
//       <div class="form-field form-field-select">
//         <label for="projectType2" class="form-label vh">Type of Project</label>
//         <select id="projectType2" class="form-select" type="text">
//           <option value="Type of Project">Type of Project</option>
//           <option value="Origin (Website)">Origin (Website)</option>
//           <option value="Identity (Branding)">Identity (Branding)</option>
//           <option value="Catalyst (Startup)">Catalyst (Startup)</option>
//           <option value="Infinity (Consulting)">Infinity (Consulting)</option>
//           <option value="Other">Other</option>
//         </select>
//       </div>
//     </div>
//     <div class="grid-item sm-1/2">
//       <div class="form-field form-field-input">
//         <input id="projectBudget2" class="form-input" type="text">
//         <label for="projectBudget2" class="form-label">
//           <span class="form-label-content">Anticipated Budget</span>
//         </label>
//       </div>
//     </div>
//     <div class="grid-item">
//       <div class="form-field form-field-textarea">
//         <label for="tellMore2" class="form-label">Tell us about your project (1000 characters max)</label>
//         <textarea id="tellMore2" class="form-textarea" rows="8" maxlength="1000"></textarea>
//       </div>
//     </div>
//     <div class="grid-item">
//       <div class="form-actions">
//         <button class="btn btn-primary" type="submit">Send Message</button>
//       </div>
//     </div>
//   </div>
// </form>
// 
// Styleguide 20.2

.form-animate-inputs {
  /* Remove top margin set by Cardinal */
  .form-label + .form-input,
  .form-label + .form-select {
    margin-top: 0;
  }

  /* All form fields get a top padding */
  .form-field {
    .to-rem(padding-top, @form-animated-form-field-padding-top);
  }

  /* Only animate input fields */
  .form-field-input {
    position: relative;
    overflow: hidden;

    /* Make inputs transparent so we can place its label beneath */
    .form-input {
      position: relative;
      z-index: @form-animated-form-input-z-index;
      display: block;
      width: 100%;
      color: @form-animated-form-input-text-color;
      border: 0;
      background-color: @form-animated-form-input-background-color;

      -webkit-appearance: none;
              appearance: none;

      &:focus {
        outline: none;
      }
    }

    /* Place label beneath its input */
    .form-label {
      position: absolute;
      width: 100%;

      .to-rem(padding, @form-animated-form-label-padding);
      .to-rem(top, @form-animated-form-label-top);

      /* Position psuedo elements */
      &:before,
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        left: 0;
      }
      
      /* Use `:before` as a faux input background */
      &:before {
        top: 0;
        height: 100%;
        transition: @form-animated-form-label-before-transition;
        transform: @form-animated-form-label-before-transform;
        background-color: @form-animated-form-label-before-background-color;
      }

      /* Use `:after` as a faux input border */
      &:after {
        bottom: 0;
        .to-rem(height, @form-animated-form-label-after-height);
        background-color: @form-animated-form-label-after-background-color;
        transition: @form-animated-form-label-after-transition;
      }
    }

    /* Slide in faux input background when focused */
    .form-input.is-filled + .form-label:before {
      transform: @form-animated-form-label-focus-before-transform;
    }

    /* Fade out faux input border when focused */
    .form-input.is-filled + .form-label:after {
      opacity: 0;
    }

    .form-label-content {
      position: relative;
      display: block;
      width: 100%;
      transform-origin: 0 0;
      transition: @form-animated-form-label-content-transition;
    }

    .form-input.is-filled + .form-label .form-label-content {
      color: @form-animated-form-label-content-focus-text-color;
      transform: translate3d(@form-animated-form-label-content-translate-x, -(@form-animated-form-input-height - ((@form-animated-form-input-height - @form-animated-form-field-padding-top) / 2)), 0);
    }
  }

  .form-field-textarea .form-label {
    .to-rem(padding-left, @form-animated-form-label-padding);
  }
}
