/* ========================================================================== *\
   Project -> Icons ($project-icons)
\* ========================================================================== */

// Icons
//
// Symbols typically used to represent common words and phrases.
//
// Styleguide 8.

// SVG
//
// Almost all icons useed in this project are included at the very top of each
// page, inside an <code>&lt;svg&gt;</code> block. They can be referenced with
// HTML classes, as illustrated below.
//
// .icon-arrow-down - arrow, down
// .icon-arrow-left - arrow, left
// .icon-arrow-right - arrow, right
// .icon-arrow-up - arrow, up
// .icon-cat - animal, cat
// .icon-catalyst - service package, Catalyst
// .icon-dog - animal, dog
// .icon-email - envelope, email
// .icon-evolution - service package, Evolution
// .icon-facebook - social network, Facebook
// .icon-facebook-circle - social network, Facebook, circle
// .icon-github - social network, GitHub
// .icon-github-circle - social network, GitHub, circle
// .icon-google-plus-circle - social network, Google+, circle
// .icon-gpg-circle - social network, GPG, circle
// .icon-heart - heart, love
// .icon-home - home, blog index
// .icon-identity - service package, Identity
// .icon-infinity - service package, Infinity
// .icon-instagram-circle - social network, Instagram, circle
// .icon-linkedin - social network, LinkedIn
// .icon-linkedin-circle - social network, LinkedIn, circle
// .icon-logo - logo, filled-in
// .icon-origin - service package, Origin
// .icon-phone - phone, calls
// .icon-twitter - social network, Twitter
// .icon-twitter-circle - social network, Twitter, circle
// .icon-stack-overflow-circle - social network, Stack Overflow, circle
// .icon-work - work
//
// Markup:
// <svg class="icon {$modifiers}" role="presentation">
//   <use xlink:href="#{$modifiers}"></use>
// </svg>
//
// Styleguide 8.1

@icon-size-x-small: 12;
@icon-size-small: 16;
@icon-size-base: 24;
@icon-size-large: 32;
@icon-size-x-large: 48;
@icon-size-xx-large: 64;
@icon-size-xxx-large: 72;
@icon-size-deca: 96;
@icon-size-hecto: 144;
@icon-size-kilo: 192;
@icon-size-mega: 256;

.icon {
  display: inline-block;
  .to-rem(width, @icon-size-base);
  .to-rem(height, @icon-size-base);
  fill: currentColor;
}

//
// Service Packages
//

.icon-origin {
  fill: @color-tertiary;
}

.icon-identity {
  fill: @color-secondary;
}

.icon-evolution,
.icon-catalyst {
  fill: @color-primary;
}

.icon-infinity {
  fill: @color-quaternary;
  // max-width: 100%;
  width: 100% !important;
}

// Hamburger
//
// The "hamburger" menu icon is created with HTML & CSS, not SVG, so that it can
// be properly animated when a user taps or clicks on the icon. This icon is
// only used once, in the <code>.site-header</code>, to toggle the main
// navigation for this project.
//
// The icon uses jQuery to toggle the <code>.is-active</code> class, which
// triggers the animation.
//
// Markup:
// <div class="site-header">
//   <button class="btn btn-bare nav-toggle js-nav-toggle">
//     <span class="icon-hamburger">
//       <span class="icon-hamburger-layers"></span>
//     </span>
//   </button>
// </div>
// <script>
//   $(function() {
//     $('.js-nav-toggle').on('click', function() {
//       $(this).toggleClass('is-active');
//     });
//   });
// </script>
//
// Styleguide 8.2

.icon-hamburger {
  position: relative;
  display: inline-block;
  .to-rem(width, @icon-size-base);
  .to-rem(height, @icon-size-base);
}

.icon-hamburger-layers {
  margin: 0 auto;
  position: relative;
  top: 10px;
  transition-duration: 0s;
  transition-delay: 0.15s;
}

*.is-active > .icon-hamburger-layers {
  background-color: rgba(0, 0, 0, 0);
  transition-delay: 0.15s;
}

.icon-hamburger-layers,
.icon-hamburger-layers:before,
.icon-hamburger-layers:after {
  .to-rem(width, @icon-size-base);
  height: 4px;
  background-color: currentColor;
  display: block;
}

.icon-hamburger-layers:before,
.icon-hamburger-layers:after {
  position: absolute;
  content: "";
}

.icon-hamburger-layers:before {
  margin-top: -8px;
  transition-property: margin, transform;
  transition-duration: 0.15s;
  transition-delay: 0.15s, 0;
}

*:hover > .icon-hamburger-layers:before {
  margin-top: -10px;
}

*.is-active > .icon-hamburger-layers:before {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0, 0.15s;
}

.icon-hamburger-layers:after {
  margin-top: 8px;
  transition-property: margin, transform;
  transition-duration: 0.15s;
  transition-delay: 0.15s, 0;
}

*:hover > .icon-hamburger-layers:after {
  margin-top: 10px;
}

*.is-active > .icon-hamburger-layers:after {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0, 0.15s;
}

// Sizes
//
// Modifier classes for various icon sizes. There are also utility classes
// available at specified project breakpoints to change an icon’s size based on
// the width of the browser viewport.
//
// Resize your browser to see the <code>.\*-icon\*</code> classes in action.
//
// .icon-- - Extra-small
// .icon- - Small
// .icon - Default
// .icon+ - Large
// .icon++ - Extra-large
// .xs-icon-- - Extra-small, beginning at the <code>.xs</code> breakpoint and up
// .xs-icon- - Small, beginning at the <code>.xs</code> breakpoint and up
// .xs-icon - Default, beginning at the <code>.xs</code> breakpoint and up
// .xs-icon+ - Large, beginning at the <code>.xs</code> breakpoint and up
// .xs-icon++ - Extra-large, beginning at the <code>.xs</code> breakpoint and up
// .sm-icon-- - Extra-small, beginning at the <code>.sm</code> breakpoint and up
// .sm-icon- - Small, beginning at the <code>.sm</code> breakpoint and up
// .sm-icon - Default, beginning at the <code>.sm</code> breakpoint and up
// .sm-icon+ - Large, beginning at the <code>.sm</code> breakpoint and up
// .sm-icon++ - Extra-large, beginning at the <code>.sm</code> breakpoint and up
// .md-icon-- - Extra-small, beginning at the <code>.md</code> breakpoint and up
// .md-icon- - Small, beginning at the <code>.md</code> breakpoint and up
// .md-icon - Default, beginning at the <code>.md</code> breakpoint and up
// .md-icon+ - Large, beginning at the <code>.md</code> breakpoint and up
// .md-icon++ - Extra-large, beginning at the <code>.md</code> breakpoint and up
// .lg-icon-- - Extra-small, beginning at the <code>.lg</code> breakpoint and up
// .lg-icon- - Small, beginning at the <code>.lg</code> breakpoint and up
// .lg-icon - Default, beginning at the <code>.lg</code> breakpoint and up
// .lg-icon+ - Large, beginning at the <code>.lg</code> breakpoint and up
// .lg-icon++ - Extra-large, beginning at the <code>.lg</code> breakpoint and up
// .xl-icon-- - Extra-small, beginning at the <code>.xl</code> breakpoint and up
// .xl-icon- - Small, beginning at the <code>.xl</code> breakpoint and up
// .xl-icon - Default, beginning at the <code>.xl</code> breakpoint and up
// .xl-icon+ - Large, beginning at the <code>.xl</code> breakpoint and up
// .xl-icon++ - Extra-large, beginning at the <code>.xl</code> breakpoint and up
// .xxl-icon-- - Extra-small, beginning at the <code>.xxl</code> breakpoint and up
// .xxl-icon- - Small, beginning at the <code>.xxl</code> breakpoint and up
// .xxl-icon - Default, beginning at the <code>.xxl</code> breakpoint and up
// .xxl-icon+ - Large, beginning at the <code>.xxl</code> breakpoint and up
// .xxl-icon++ - Extra-large, beginning at the <code>.xxl</code> breakpoint and up
//
// Markup:
// <svg class="icon icon-logo {$modifiers}" role="presentation">
//   <use xlink:href="#icon-logo"></use>
// </svg>
//
// Styleguide 8.3

.icon- {
  .to-rem(width, @icon-size-small);
  .to-rem(height, @icon-size-small);
}

.icon-- {
  .to-rem(width, @icon-size-x-small);
  .to-rem(height, @icon-size-x-small);
}

.icon\+ {
  .to-rem(width, @icon-size-large);
  .to-rem(height, @icon-size-large);
}

.icon\+\+ {
  .to-rem(width, @icon-size-x-large);
  .to-rem(height, @icon-size-x-large);
}

.screens({
  .xs-icon {
    .to-rem(width, @icon-size-base);
    .to-rem(height, @icon-size-base);
  }

  .xs-icon- {
    .to-rem(width, @icon-size-small);
    .to-rem(height, @icon-size-small);
  }

  .xs-icon-- {
    .to-rem(width, @icon-size-x-small);
    .to-rem(height, @icon-size-x-small);
  }

  .xs-icon\+ {
    .to-rem(width, @icon-size-large);
    .to-rem(height, @icon-size-large);
  }

  .xs-icon\+\+ {
    .to-rem(width, @icon-size-x-large);
    .to-rem(height, @icon-size-x-large);
  }
},{
  .sm-icon {
    .to-rem(width, @icon-size-base);
    .to-rem(height, @icon-size-base);
  }

  .sm-icon- {
    .to-rem(width, @icon-size-small);
    .to-rem(height, @icon-size-small);
  }

  .sm-icon-- {
    .to-rem(width, @icon-size-x-small);
    .to-rem(height, @icon-size-x-small);
  }

  .sm-icon\+ {
    .to-rem(width, @icon-size-large);
    .to-rem(height, @icon-size-large);
  }

  .sm-icon\+\+ {
    .to-rem(width, @icon-size-x-large);
    .to-rem(height, @icon-size-x-large);
  }
},{
  .md-icon {
    .to-rem(width, @icon-size-base);
    .to-rem(height, @icon-size-base);
  }

  .md-icon- {
    .to-rem(width, @icon-size-small);
    .to-rem(height, @icon-size-small);
  }

  .md-icon-- {
    .to-rem(width, @icon-size-x-small);
    .to-rem(height, @icon-size-x-small);
  }

  .md-icon\+ {
    .to-rem(width, @icon-size-large);
    .to-rem(height, @icon-size-large);
  }

  .md-icon\+\+ {
    .to-rem(width, @icon-size-x-large);
    .to-rem(height, @icon-size-x-large);
  }
},{
  .lg-icon {
    .to-rem(width, @icon-size-base);
    .to-rem(height, @icon-size-base);
  }

  .lg-icon- {
    .to-rem(width, @icon-size-small);
    .to-rem(height, @icon-size-small);
  }

  .lg-icon-- {
    .to-rem(width, @icon-size-x-small);
    .to-rem(height, @icon-size-x-small);
  }

  .lg-icon\+ {
    .to-rem(width, @icon-size-large);
    .to-rem(height, @icon-size-large);
  }

  .lg-icon\+\+ {
    .to-rem(width, @icon-size-x-large);
    .to-rem(height, @icon-size-x-large);
  }
},{
  .xl-icon {
    .to-rem(width, @icon-size-base);
    .to-rem(height, @icon-size-base);
  }

  .xl-icon- {
    .to-rem(width, @icon-size-small);
    .to-rem(height, @icon-size-small);
  }

  .xl-icon-- {
    .to-rem(width, @icon-size-x-small);
    .to-rem(height, @icon-size-x-small);
  }

  .xl-icon\+ {
    .to-rem(width, @icon-size-large);
    .to-rem(height, @icon-size-large);
  }

  .xl-icon\+\+ {
    .to-rem(width, @icon-size-x-large);
    .to-rem(height, @icon-size-x-large);
  }
},{
  .xxl-icon {
    .to-rem(width, @icon-size-base);
    .to-rem(height, @icon-size-base);
  }

  .xxl-icon- {
    .to-rem(width, @icon-size-small);
    .to-rem(height, @icon-size-small);
  }

  .xxl-icon-- {
    .to-rem(width, @icon-size-x-small);
    .to-rem(height, @icon-size-x-small);
  }

  .xxl-icon\+ {
    .to-rem(width, @icon-size-large);
    .to-rem(height, @icon-size-large);
  }

  .xxl-icon\+\+ {
    .to-rem(width, @icon-size-x-large);
    .to-rem(height, @icon-size-x-large);
  }
});

