/* ========================================================================== *\
   Project -> Images ($project-images)
\* ========================================================================== */

// Images
//
// Styleguide 6.

// Styles
//
// By default, images are responsive and maintain their aspect ratio. The
// following classes can be used to change the default behavior.
//
// .image-full-bleed - force image to fill 100% of its parent width
//
// Markup:
// <div class="{$modifiers}"><img src="http://placehold.it/640x360" alt=""></div>
//
// Styleguide 6.1

.image-full-bleed {
  img {
    width: 100%;
  }
}
