/* ========================================================================== *\
   Project -> Lazyloads ($project-lazyloads)
\* ========================================================================== */

.lazyload {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 0.35s ease;
}
