/* ========================================================================== *\
   Project -> Lists ($project-lists)
\* ========================================================================== */

// Lists
//
// Common formats and styles for elements that typically occur in list format.
//
// Styleguide 5.

// Basic
//
// Basic list styles
//
// .list-bare - Remove default styles
// .list-inline - Place <code>&lt;li&gt;</code> elements side-by-side
// .list-inline.list-inline-delimited - Separate <code>&lt;li&gt;</code> elements with a comma.
// .list-inline-block - Place <code>&lt;li&gt;</code> elements side-by-side, but with <code>inline-block</code> context.
//
// Markup:
// <ul class="{$modifiers}">
//   <li>List Item</li>
//   <li>List Item</li>
//   <li>List Item</li>
//   <li>List Item</li>
// </ul>
//
// Styleguide 5.1

.list-inline-block {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin-left: 0;
  }
}
