/* ========================================================================== *\
   Project -> Logos ($project-logos)
\* ========================================================================== */

// Logos
//
// Visual and textual representations of the Big Room Studios brand.
//
// Styleguide 11.

@logo-image-size: 32;
@logo-text-font-size: @font-size-xx-large;
@logo-tagline-font-weight: 400;
@logo-text-color: @color-black;
@logo-inverse-text-color: @color-white;

// Styles
//
// The default logo used in the website includes a black icon and text.
//
// .logo-inverse - White icon and text
// .logo-rotate-hover - Add a rotate animation on hover
//
// Markup:
// <a href="/" class="logo {$modifiers} dib vam">
//   <svg class="logo-image dib vam icon icon-logo icon+ lg-icon++" role="presentation"><use xlink:href="#icon-logo"></use></svg>
//   <h1 class="logo-text dn xs-dib vam mb0 ml-">
//     Big Room Studios
//     <span class="logo-tagline dn xl-dib ml- fz-">Creative / Technology</span>
//   </h1>
// </a>
//
// Styleguide 11.1

.logo {
  color: @logo-text-color;
  text-decoration: none;
}

.logo-inverse {
  &,
  & .logo-text,
  & .logo-tagline {
    color: @logo-inverse-text-color;
  }
}

.logo-text {
  .to-rem(font-size, @logo-text-font-size);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.logo-tagline {
  font-weight: @logo-tagline-font-weight;
}

.logo-rotate-hover {
  .logo-image {
    transition: transform 0.5s;
  }

  &:hover .logo-image {
    transform: rotate(-360deg);
  }
}
