/* ========================================================================== *\
   Project -> Paging ($project-paging)
\* ========================================================================== */

// Paging
//
// Paging is a type of navigation that allows a user to view the next/previous
// item from a feed of items.
//
// Styleguide 18.

// Single
//
// Singular pagination is used on individual blog and work post pages, to
// indicate which posts come before and after the current post (if any).
//
// Markup:
// <div class="paging paging-single dt">
//   <a href="#!" class="paging-prev paging-link dtc vat 1/3">
//     <span class="sm-dn">
//       <svg class="icon-arrow-left icon icon- mr--" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left"></use></svg>
//       Prev
//     </span>
//     <span class="paging-date dn sm-db mb-- lg-mb-">Feb 23, 2015</span>
//     <h3 class="paging-title dn sm-db">A Look Behind, and a Leap Forward</h3>
//   </a>
//   <a href="#!" class="paging-index paging-link dtc vam 1/3 tc">
//     <span class="db sm-mb--">
//       <svg class="icon-home icon sm-icon++" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-home"></use></svg>
//     </span>
//     <span class="dn sm-di">Blog Index</span>
//   </a>
//   <a href="#!" class="paging-next paging-link dtc vat 1/3 tr">
//     <span class="sm-dn">
//       Next
//       <svg class="icon-arrow-right icon icon- ml--" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use></svg>
//     </span>
//     <span class="paging-date dn sm-db mb-- lg-mb-">Feb 25, 2015</span>
//     <h3 class="paging-title dn sm-db">Another Test Post</h3>
//   </a>
// </div>
//
// Styleguide 18.1

@paging-single-link-background-color: @color-tertiary;
@paging-single-link-text-color: @color-white;
@paging-single-link-font-weight: 700;

.paging-single {
  .paging-link {
    display: block;
    text-decoration: none;
    background-color: @paging-single-link-background-color;
    .to-rem(padding, @spacing-half @spacing-two-thirds);
    font-weight: @paging-single-link-font-weight;
    transition: background-color 0.25s;

    &:hover {
      background-color: fade(@paging-single-link-background-color, 80%);
    }

    .antialiasing();

    .paging-date {
      .to-rem(font-size, @font-size-x-small);
    }

    &,
    & .paging-title {
      color: @paging-single-link-text-color;
      line-height: 1.333;
      margin-bottom: 0;
    }
  }

  .paging-date,
  .paging-index {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  .paging-index {
    .to-rem(border-left, 1, solid @color-white);
    .to-rem(border-right, 1, solid @color-white);
  }

  .paging-inactive {
    &,
    &:hover {
      background-color: fade(@paging-single-link-background-color, 50%);
    }
  }
}

.screen-sm-min({
  .paging-single {
    .to-rem(min-height, 224);

    .paging-link {
      .to-rem(padding, @spacing-base);
    }
  }
});

.screen-lg-min({
  .paging-single {
    .to-rem(min-height, 256);

    .paging-title {
      .to-rem(font-size, @font-size-heading-2);
    }

    .paging-index {
      .to-rem(font-size, @font-size-heading-4);

      .icon {
        .to-rem(width, @icon-size-xx-large);
        .to-rem(height, @icon-size-xx-large);
      }
    }
  }
});

.paging-overlay {
  .paging-menu {
    margin-bottom: 0;
    list-style: none;
  }

  .paging-link {
    position: absolute;
    top: 0;
    height: 100%;
    .to-rem(padding, @spacing-half);
    margin-left: 0;
    z-index: @z-index-3;
    transition: background-color 0.15s ease;

    &:hover {
      background-color: fade(@color-black, 50%);
    }

    svg {
      .vertically-centered();
      transform-style: preserve-3d;
    }
  }

  .paging-prev .paging-link {
    left: 0;
  }

  .paging-next .paging-link {
    right: 0;
  }
}

.screen-sm-min({
  .paging-overlay {
    .paging-link {
      .to-rem(padding, @spacing-base);
    }
  }
});

.screen-md-min({
  .paging-overlay {
    .paging-link {
      .to-rem(padding, @spacing-base-plus-half);
    }
  }
});
