/* ========================================================================== *\
   Project -> Persons ($project-persons)
\* ========================================================================== */

// Persons
//
// Visual and textual information used to represent a person.
//
// Styleguide 15.

@person-text-color: @color-tertiary;
@person-icon-fill-color: @color-gray;
@person-icon-hover-opacity: 0.8;
@person-toggle-icon-fill-color: @color-gray;
@person-toggle-active-icon-fill-color: @color-primary;
@person-toggle-transition-duration: 0.25s;
@person-toggle-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

// Styles
//
// A person object consists of a square image, name, occupation, and social
// media icons.
//
// Markup:
// <div class="person">
//   <div class="person-image"><img src="http://placehold.it/320x320" alt=""></div>
//   <div class="person-info p- md-p">
//     <h3 class="person-heading mb0">Mickey Mouse</h3>
//     <div class="person-tagline mb--">Cartoon Character</div>
//     <ul class="person-social list-bare list-inline-block mb0">
//       <li><a href="#!" title="Twitter" class="dib" target="_blank"><svg class="icon-twitter-circle icon icon- md-icon" role="presentation"><use xlink:href="#icon-twitter-circle"></use></svg></a></li>
//     </ul>
//   </div>
// </div>
//
// Styleguide 15.1

.person {
  // perspective: 800px;
  position: relative;
  display: block;
  height: 100%;
  transform-style: preserve-3d;

  &,
  & .person-heading {
    color: @person-text-color;
  }

  .icon {
    fill: @person-icon-fill-color;

    &:hover {
      opacity: @person-icon-hover-opacity;
    }
  }

  &.is-flipped .person-front {
    transform: rotateY(180deg);
  }

  &.is-flipped .person-back {
    transform: rotateY(0);
  }
}

.person-front,
.person-back {
  backface-visibility: hidden;
  transition: transform 0.35s ease;
}

.person-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}

// .person-image {
//   position: relative;
//   display: block;
//   height: 100%;
//   transform-style: preserve-3d;

//   .person-image-front,
//   .person-image-back {
//     backface-visibility: hidden;
//     transition: transform 0.35s ease;
//   }

//   .person-image-back {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transform: rotateY(180deg);
//   }

//   &.is-flipped .person-image-front {
//     transform: rotateY(180deg);
//   }

//   &.is-flipped .person-image-back {
//     transform: rotateY(0);
//   }
// }

.person-heading {
  .to-rem(font-size, @font-size);
}

.person-tagline {
  .to-rem(font-size, @font-size-xxx-small);
}

.person-social {
  li {
    .to-rem(margin-right, @spacing-micro);
  }
}

.screen-lg-min({
  .person-heading {
    .to-rem(font-size, @font-size-heading-3);
  }

  .person-tagline {
    .to-rem(font-size, @font-size-x-small);
  }
});

// Toggle
//
// A toggle button that flips around person images to reveal another image.
// 
// Markup:
// <button class="person-toggle btn btn-bare js-person-toggle">
//   <svg class="icon-cat icon md-icon++" role="presentation"><use xlink:href="#icon-cat"></use></svg>
//   <span class="person-toggle-text">Pet Mode</span>
// </button>
// 
// Styleguide 15.2

.person-toggle {
  display: inline-block;

  .icon {
    fill: @person-toggle-icon-fill-color;
    transform: translate3d(73px, 0, 0);
    transition: 
      transform @person-toggle-transition-duration @person-toggle-transition-timing-function,
      fill @person-toggle-transition-duration @person-toggle-transition-timing-function;
  }

  .person-toggle-text {
    display: inline-block;
    opacity: 0;
    .to-rem(padding-left, @spacing-fourth);
    font-weight: 700;
    .to-rem(font-size, @font-size-xxx-small);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 
      opacity @person-toggle-transition-duration @person-toggle-transition-timing-function,
      transform @person-toggle-transition-duration @person-toggle-transition-timing-function;

    .antialiasing();
  }

  &:focus {
    outline: none;
  }

  &.is-active {
    .icon {
      fill: @person-toggle-active-icon-fill-color;
      transform: translate3d(0, 0, 0);
    }

    .person-toggle-text {
      opacity: 1;
      transform: scale(1);
      transition-delay: 0s;
    }
  }
}

.screen-sm-min({
  .person-toggle {
    .icon {
      transform: translate3d(94px, 0, 0);
    }

    .person-toggle-text {
      .to-rem(font-size, @font-size-x-small);
      .to-rem(padding-left, @spacing-half);
      transform: scale(0);
    }
  }
});
