/* ========================================================================== *\
   Project -> Posts ($project-posts)
\* ========================================================================== */

@post-link-text-color: @color-gray-dark;
@post-link-hover-background-color: #292a29;
@post-link-hover-text-color: @color-white;
@post-meta-divider-width: 144;
@post-meta-divider-height: 1;
@post-meta-divider-background-color: @color-gray-light;
@post-teaser-text-color: @color-gray-darker;
@post-teaser-font-weight: 400;

.post-link {
  display: block;
  text-decoration: none;
  color: @post-link-text-color;
  transition: all 0.25s;

  .antialiasing();

  &:hover {
    background-color: @post-link-hover-background-color;

    &,
    & .post-title,
    & .post-teaser {
      color: @post-link-hover-text-color;
    }
  }
}

.post-title {
  line-height: 1.333;
}

// .post-sharing {
//   .clearfix();
  
//   .sharing-item {
//     float: left;
//     margin-top: 0;
//     .to-rem(margin-right, @spacing-1px);
//   }

//   &:last-child {
//     margin-right: 0;
//   }
// }

.post-meta {
  position: relative;
  .to-rem(font-size, @font-size-xx-small);

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    .to-rem(margin-left, -(@post-meta-divider-width / 2));
    .to-rem(width, @post-meta-divider-width);
    .to-rem(height, @post-meta-divider-height);
    background-color: @post-meta-divider-background-color;
  }
}

.post-teaser {
  .to-rem(font-size, @font-size);
  color: @post-teaser-text-color;
  font-weight: @post-teaser-font-weight;
}

.post-content {
  & > *:last-child {
    margin-bottom: 0;
  }

  // Embedded tweets
  & .twitter-tweet-rendered {
    .to-rem(margin, 0 auto @spacing-base, ~"!important");
  }
}

.screen-sm-min({
  .post-meta {
    .to-rem(font-size, @font-size);
  }

  .post-teaser {
    .to-rem(font-size, @font-size-xx-large);
  }
});

.screen-md-min({
  .post-title {
    .to-rem(font-size, @font-size-deca);
  }
});

.screen-lg-min({
  .post {
    .page-heading {
      .to-rem(font-size, @font-size-hecto);
    }
  }

  .post-title {
    .to-rem(font-size, @font-size-kilo);
  }

  .post-teaser {
    .to-rem(font-size, @font-size-heading-3);
  }

  .post-sharing {
    position: absolute;
    left: 100%;
  }

  .post-sharing.sharing-horizontal {
    position: static;
    left: auto;
  }
});

.screen-xl-min({
  .post {
    .page-heading {
      .to-rem(font-size, @font-size-mega);
    }
  }
});
