/* ========================================================================== *\
   Project -> Sharing ($project-sharing)
\* ========================================================================== */

// Sharing
//
// A collection of links that can be used to share the current webpage.
//
// Styleguide 12.

@sharing-item-margin: 1;
@sharing-link-background-color: fade(@color-black, 40%);
@sharing-link-hover-background-color: fade(@color-black, 60%);
@sharing-link-padding: @spacing-half @spacing-two-thirds;
@sharing-icon-fill-color: @color-white;

// Default
//
// The default arrangement for the sharing object is vertical.
//
// Markup:
// <ul class="sharing list-bare">
//   <li class="sharing-item">
//     <a href="https://www.facebook.com/sharer/sharer.php?u=[PAGE-URL]" class="sharing-link" target="_blank">
//       <svg class="sharing-icon icon-facebook icon icon-" role="presentation">
//         <use xlink:href="#icon-facebook"></use>
//       </svg>
//     </a>
//   </li>
//   <li class="sharing-item">
//     <a href="https://twitter.com/intent/tweet?text=[PAGE-TITLE]&url=[PAGE-URL]&via=[TWITTER-HANDLE]" class="sharing-link" target="_blank">
//       <svg class="sharing-icon icon-twitter icon icon-" role="presentation">
//         <use xlink:href="#icon-twitter"></use>
//       </svg>
//     </a>
//   </li>
//   <li class="sharing-item">
//     <a href="mailto:?subject=[PAGE-TITLE]&body=Check out this web page: [PAGE-URL]" class="sharing-link" target="_blank">
//       <svg class="sharing-icon icon-email icon icon-" role="presentation">
//         <use xlink:href="#icon-email"></use>
//       </svg>
//     </a>
//   </li>
// </ul>
//
// Styleguide 12.1

// Horizontal
//
// The default arrangement for the sharing object is vertical.
//
// Markup:
// <ul class="sharing sharing-horizontal list-bare">
//   <li class="sharing-item">
//     <a href="https://www.facebook.com/sharer/sharer.php?u=[PAGE-URL]" class="sharing-link" target="_blank">
//       <svg class="sharing-icon icon-facebook icon icon-" role="presentation">
//         <use xlink:href="#icon-facebook"></use>
//       </svg>
//     </a>
//   </li>
//   <li class="sharing-item">
//     <a href="https://twitter.com/intent/tweet?text=[PAGE-TITLE]&url=[PAGE-URL]&via=[TWITTER-HANDLE]" class="sharing-link" target="_blank">
//       <svg class="sharing-icon icon-twitter icon icon-" role="presentation">
//         <use xlink:href="#icon-twitter"></use>
//       </svg>
//     </a>
//   </li>
//   <li class="sharing-item">
//     <a href="mailto:?subject=[PAGE-TITLE]&body=Check out this web page: [PAGE-URL]" class="sharing-link" target="_blank">
//       <svg class="sharing-icon icon-email icon icon-" role="presentation">
//         <use xlink:href="#icon-email"></use>
//       </svg>
//     </a>
//   </li>
// </ul>
//
// Styleguide 12.2

.sharing {
  display: block;
}

.sharing-item {
  margin-top: (@sharing-item-margin * 1px);

  &:first-child {
    margin-top: 0;
  }
}

.sharing-link {
  display: inline-block;
  line-height: 1;
  .to-rem(padding, @sharing-link-padding);
  background-color: @sharing-link-background-color;

  &:hover {
    background-color: @sharing-link-hover-background-color;
  }
}

.sharing-icon {
  fill: @sharing-icon-fill-color;
}

.sharing-horizontal {
  .clearfix();

  .sharing-item {
    float: left;
    margin-top: 0;
    margin-right: (@sharing-item-margin * 1px);

    &:last-child {
      margin-right: 0;
    }
  }
}
