/* ========================================================================== *\
   Project -> Spinners ($project-spinners)
\* ========================================================================== */

// Spinners
//
// Animated icons used to inform users that something is loading.
//
// Styleguide 10.

@spinner-size: 50;
@spinner-zoom: 2;
@spinner-color-primary: @color-primary;
@spinner-color-secondary: @color-secondary;
@spinner-color-tertiary: @color-tertiary;
@spinner-color-quaternary: @color-quaternary;

// Default
//
// The default spinner is an SVG using CSS animations. It mimics Google Material
// Design’s spinner.
//
// Markup:
// <div class="spinner is-visible">
//   <svg class="spinner-circle">
//     <circle class="spinner-path" cx="50%" cy="50%" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
//   </svg>
// </div>
//
// Styleguide 10.1

.spinner {
  position: relative;
  display: none;
  margin: 0 auto;
  width: (@spinner-size * 1px);
  height: (@spinner-size * 1px);
  zoom: @spinner-zoom;

  &.is-visible {
    display: block;
  }
}

.spinner-circle {
  position: relative;
  width: (@spinner-size * 1px);
  height: (@spinner-size * 1px);
  animation: spinnerRotate 2s linear infinite;
}

.spinner-path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation:
   spinnerDash 1.6s ease-in-out infinite,
   spinnerColor 6.4s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes spinnerRotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinnerDash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes spinnerColor {
  100%,
  0% {
    stroke: @spinner-color-primary;
  }

  40% {
    stroke: @spinner-color-secondary;
  }

  66% {
    stroke: @spinner-color-tertiary;
  }

  80%,
  90% {
    stroke: @spinner-color-quaternary;
  }
}
