/* ========================================================================== *\
   Project -> Tables ($project-tables)
\* ========================================================================== */

// Tables
//
// Display content or data in a tabular format.
//
// Styleguide 7.

// Styles
//
// By default, tables are given minimal treatment. By adding classes, you can
// introduce structure and styles to them. <code>&lt;thead&gt;</code> elements
// will be given a light gray background color.
//
// .table - Adds some cell padding and other minimal styles
// .table.table-border - Outer border
// .table.table-border-rows - Table row borders
// .table.table-border.table-border-rows - Outer + row borders
// .table.table-border-cells - Table cell borders
// .table.table-border.table-border-cells - Outer + cell borders
//
// Markup:
// <table class="{$modifiers}">
//   <caption>Table Caption</caption>
//   <thead>
//     <th scope="col">#</th>
//     <th scope="col">Thing 1</th>
//     <th scope="col">Thing 2</th>
//     <th scope="col">Thing 3</th>
//   </thead>
//   <tbody>
//     <tr>
//       <td>1</td>
//       <td>1246</td>
//       <td>Hello</td>
//       <td>true</td>
//     </tr>
//     <tr>
//       <td>2</td>
//       <td>4652</td>
//       <td>Goodbye</td>
//       <td>false</td>
//     </tr>
//     <tr>
//       <td>3</td>
//       <td>1657</td>
//       <td>Cheers</td>
//       <td>false</td>
//     </tr>
//     <tr>
//       <td>4</td>
//       <td>1498</td>
//       <td>Beers</td>
//       <td>true</td>
//     </tr>
//     <tr>
//       <td>5</td>
//       <td>3286</td>
//       <td>Awesome</td>
//       <td>true</td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide 7.1

// Inner Cells
//
// Create a simple grid layout with inner cell borders for variable-height
// content areas.
//
// .table-inner-grid - modify existing inner cell styles
//
// Markup:
// <table class="table table-border-cells {$modifiers} tc">
//   <tbody>
//     <tr>
//       <td class="1/2 p- xs-p sm-p+">
//         <h3 class="table-heading mb-">Consultation</h3>
//         <ul class="list-bare mb0 fz-- sm-fz+ lg-fz++">
//         <li>Business</li>
//         <li>Startup</li>
//         <li>Technical</li>
//         <li>Security</li>
//         <li>Information Architecture</li>
//         <li>Content</li>
//         </ul>
//       </td>
//       <td class="1/2 p- xs-p sm-p+">
//         <h3 class="table-heading mb-">Creative Work</h3>
//         <ul class="list-bare mb0 fz-- sm-fz+ lg-fz++">
//         <li>Brand Identity</li>
//         <li>Print Design</li>
//         <li>Product Design</li>
//         <li>UI / UX Design</li>
//         </ul>
//       </td>
//     </tr>
//     <tr>
//       <td class="1/2 p- xs-p sm-p+">
//         <h3 class="table-heading mb-">Development</h3>
//         <ul class="list-bare mb0 fz-- sm-fz+ lg-fz++">
//         <li>Web Applications</li>
//         <li>Mobile Apps</li>
//         <li>iOS / Android</li>
//         <li>Native Apps</li>
//         <li>Video Games</li>
//         <li>Data Integration</li>
//         <li>E-Commerce</li>
//         </ul>
//       </td>
//       <td class="1/2 p- xs-p sm-p+">
//         <h3 class="table-heading mb-">Systems</h3>
//         <ul class="list-bare mb0 fz-- sm-fz+ lg-fz++">
//         <li>System Administration</li>
//         <li>Database Administration</li>
//         <li>Data Migrations</li>
//         <li>Cloud Deployment</li>
//         <li>Massively Scalable Systems</li>
//         <li>Service-Oriented Architecture</li>
//         </ul>
//       </td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide 7.2

.table-inner-grid {
  tbody tr:first-child td {
    border-top: 0;
  }

  .table-heading {
    .to-rem(font-size, @font-size-x-large);
  }
}

.screen-sm-min({
  .table-inner-grid {
    .table-heading {
      .to-rem(font-size, @font-size-heading-3);
    }
  }
});

.screen-lg-min({
  .table-inner-grid {
    .table-heading {
      .to-rem(font-size, @font-size-heading-1);
    }
  }
});
