/* ========================================================================== *\
   Project -> Toolbars ($project-toolbars)
\* ========================================================================== */

// Toolbars
//
// An area that typically rests at the top or bottom of a website, containing
// navigation and other useful links or actionable items.
//
// Styleguide 13.

@toolbar-bg-color: @color-white;
@toolbar-primary-bg-color: @color-primary;
@toolbar-primary-text-color: @color-white;
@toolbar-fixed-z-index: @z-index-10;

// Default
//
// The default toolbar has a background color, and uses a faux-table layout for
// easy side-by-side vertical alignment. You are encouraged to use the
// included <a href="https://github.com/cbracco/cardinal/tree/master/utilities">Cardinal utility classes</a>
// to build complex layouts.
//
// .toolbar - Default toolbar styles, side-by-side vertical alignment
//
// Markup:
// <div class="toolbar {$modifiers}">
//   <div class="toolbar-container">
//     <div class="toolbar-item 1/2"><span class="dib p-">Toolbar Item</span></div>
//     <div class="toolbar-item 1/2 tr"><a href="#!" class="dib p-">Toolbar Link</a></div>
//   </div>
// </div>
//
// Styleguide 13.1

.toolbar {
  background-color: @toolbar-bg-color;
}

.toolbar-container {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.toolbar-item {
  display: table-cell;
  vertical-align: middle;
}

// Skins
//
// Change the background color of the toolbar.
//
// .toolbar-primary - Use primary brand color as the background color
//
// Markup:
// <div class="toolbar {$modifiers}">
//   <div class="toolbar-container">
//     <div class="toolbar-item 1/2"><span class="dib p-">Toolbar Item</span></div>
//     <div class="toolbar-item 1/2 tr"><a href="#!" class="dib p-">Toolbar Link</a></div>
//   </div>
// </div>
//
// Styleguide 13.2

.toolbar-primary {
  background-color: @toolbar-primary-bg-color;

  &,
  & h1,
  & .h1,
  & h2,
  & .h2,
  & h3,
  & .h3,
  & h4,
  & .h4,
  & h5,
  & .h5,
  & h6,
  & .h6,
  & a {
    color: @toolbar-primary-text-color;
  }
}

/* Fixes toolbar to the top of the viewport */
.toolbar-fixed {
  position: fixed;
  z-index: @toolbar-fixed-z-index;
  top: 0;
  left: 0;
  width: 100%;
}
