/* ========================================================================== *\
   Project -> Triptychs ($project-triptychs)
\* ========================================================================== */

// Triptychs
//
// A collection of three image panels arranged in a grid format.
//
// Styleguide 14.

// Default
//
// The triptych layout changes depending on the size of the device. On small
// devices, the two aside images are stacked beneath the main image. On larger
// devices, the asides are vertically stacked and placed beside the main image.
//
// You can reverse the layout direction of the triptych on larger devices by
// using the <code>.grid-reverse</code> class on the <code>.grid</code> element.
//
// .triptych-reverse - reverse the layout direction of the triptych.
//
// Markup:
// <a href="#!" class="triptych {$modifiers}">
//   <div class="triptych-main">
//     <div class="triptych-image">
//       <img src="http://placehold.it/1280x720/222/666/&text=Main" alt="">
//       <div class="triptych-caption">
//         <h1 class="triptych-heading">Example Triptych Heading</h1>
//         <span class="triptych-more">View Project</span>
//       </div>
//     </div>
//   </div>
//   <div class="triptych-aside">
//     <div class="triptych-image">
//       <img src="http://placehold.it/640x540/333/fff/&text=Aside" alt="">
//     </div>
//     <div class="triptych-image">
//       <img src="http://placehold.it/640x540/444/fff/&text=Aside" alt="">
//     </div>
//   </div>
// </a>
//
// Styleguide 14.1

@triptych-background-color: @color-black;
@triptych-text-color: @color-white;
@triptych-main-width: 75%;
@triptych-aside-width: 25%;
@triptych-caption-max-width: 85%;
@triptych-caption-z-index: @z-index-1;

.triptych {
  display: block;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  .antialiasing();
  .clearfix();

  &,
  & a,
  & .triptych-heading {
    color: @triptych-text-color;
  }
}

// Main image
.triptych-main {
  display: block;
  position: relative;

  // Gradient overlay
  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(
      top,
      rgba(0,0,0,0) 33.333%,
      rgba(0,0,0,0.45) 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(33.333%,rgba(0,0,0,0)),
      color-stop(100%,rgba(0,0,0,0.45))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(0,0,0,0) 33.333%,
      rgba(0,0,0,0.45) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(0,0,0,0) 33.333%,
      rgba(0,0,0,0.45) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(0,0,0,0) 33.333%,
      rgba(0,0,0,0.45) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(0,0,0,0) 33.333%,
      rgba(0,0,0,0.45) 100%
    );
    filter:progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#00000000',
      endColorstr='#66000000',
      GradientType=0
    );
  }

  img {
    width: 100%;
  }
}

.triptych-aside {
  .triptych-image {
    float: left;
    width: 50%;
  }

  img {
    width: 100%;
  }
}

.triptych-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: @triptych-caption-z-index;
  display: inline-block;
  width: 100%;
  max-width: @triptych-caption-max-width;

  .to-rem(padding, @spacing-fourth);

  .triptych-reverse & {
    text-align: right;
    left: auto;
    right: 0;
    max-width: 55%;
  }
}

.triptych-heading {
  margin: 0;
  .to-rem(font-size, @font-size-xx-small);
}

.triptych-more {
  .to-rem(font-size, @font-size-xxx-small);
}

.screen-xs-min({
  .triptych-main {
    float: right;
    width: 75%;

    // 1. Widescreen (16:9) ratio
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 56.25%; // 1
    }

    .triptych-reverse & {
      float: left;
      text-align: right;
    }

    .triptych-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .triptych-aside {
    float: left;
    width: 25%;

    .triptych-reverse & {
      float: right;
    }

    // 1. Set aspect ratio for image
    .triptych-image {
      width: auto;
      float: none;
      position: relative;      // 1
      height: 0;               // 1
      padding-bottom: 84.375%; // 1

      img {                    // 1
        position: absolute;    // 1
        top: 0;                // 1
        left: 0;               // 1
        width: 100%;           // 1
        height: 100%;          // 1
      }                        // 1
    }
  }

  .triptych-caption {
    .triptych-reverse & {
      right: 0;
      left: auto;
    }
  }
});

// Increase caption padding
.screen-sm-min({
  .triptych-caption {
    .to-rem(padding, @spacing-half);
  }
});

// Increase caption font size and padding
.screen-md-min({
  .triptych-caption {
    .to-rem(padding, @spacing-base);
  }

  .triptych-heading {
    .to-rem(font-size, @font-size-heading-3);
  }

  .triptych-more {
    .to-rem(font-size, @font-size-xx-small);
  }
});

// Increase caption font size
.screen-lg-min({
  .triptych-heading {
    .to-rem(font-size, @font-size-heading-2);
  }

  .triptych-more {
    .to-rem(font-size, @font-size-x-small);
  }
});

// Hover Effect
//
// You can add a subtle hover effect to your triptych by simply adding the
// <code>.triptych-hover-effect</code> class to your markup.
//
// .triptych-hover-effect - add a subtle hover effect
//
// Markup:
// <a href="#!" class="triptych {$modifiers}">
//   <div class="triptych-main">
//     <div class="triptych-image">
//       <img src="http://placehold.it/1280x720/222/666/&text=Main" alt="">
//       <div class="triptych-caption">
//         <h1 class="triptych-heading">Example Triptych Heading</h1>
//         <span class="triptych-more">View Project</span>
//       </div>
//     </div>
//   </div>
//   <div class="triptych-aside">
//     <div class="triptych-image">
//       <img src="http://placehold.it/640x540/333/fff/&text=Aside" alt="">
//     </div>
//     <div class="triptych-image">
//       <img src="http://placehold.it/640x540/444/fff/&text=Aside" alt="">
//     </div>
//   </div>
// </a>
//
// Styleguide 14.2

.triptych-hover-effect {
  .triptych-main {
    overflow: hidden;
  }

  // 1. Slowly zoom out
  .triptych-main {
    img {
      transition: transform 1s; // 1
      transform: scale(1.1);
    }
  }

  // Perform slow zoom on hover
  &:hover .triptych-main {
    img {
      transform: scale(1.0);
    }
  }

  .triptych-heading {
    transition: transform 0.35s ease;
    transform: translate3d(0, 24px, 0);
  }

  &:hover .triptych-heading {
    transform: translate3d(0, 0, 0);
  }

  .triptych-more {
    opacity: 0;
    transition: opacity 0.25s ease, transform 0.35s ease;
    transform: translate3d(0, 24px, 0);
  }

  &:hover .triptych-more {
    opacity: 1;
    transition-delay: 0.1s;
    transition-duration: 0.35s;
    transform: translate3d(0, 0, 0);
  }
}
