/* ========================================================================== *\
   Project -> Videos ($project-videos)
\* ========================================================================== */

@video-overlay-background-color: fade(#191a19, 66%);

.video-bg {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  // Overlay
  // &.video-overlay {
  //   &:after {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     content: "";
  //     background-color: @video-overlay-background-color;
  //   }
  // }
}
