/* ========================================================================== *\
   Project -> Works ($project-works)
\* ========================================================================== */

// Works
//
// A visual representation of a project that we have done in the past.
//
// Styleguide 19.

// Styles
//
// Work items are typically arranged in a grid format, and display more information if the
// user hovers over an item with the mouse cursor.
//
// Markup:
// <ul class="grid gutter-1/2 sm-gutter-1">
//   <li class="grid-item 1/2 xs-1/3 mb- sm-mb">
//     <a href="#!" class="work tc">
//       <img src="http://placehold.it/360x360" alt="">
//       <div class="work-overlay">
//         <div class="dt h100">
//           <div class="dtc vam p-- sm-p- md-p">
//             <h1 class="work-heading">Heading</h1>
//           </div>
//         </div>
//       </div>
//     </a>
//   </li>
//   <li class="grid-item 1/2 xs-1/3 mb- sm-mb">
//     <a href="#!" class="work tc">
//       <img src="http://placehold.it/360x360" alt="">
//       <div class="work-overlay">
//         <div class="dt h100">
//           <div class="dtc vam p-- sm-p- md-p">
//             <h1 class="work-heading">Heading</h1>
//           </div>
//         </div>
//       </div>
//     </a>
//   </li>
//   <li class="grid-item 1/2 xs-1/3 mb- sm-mb">
//     <a href="#!" class="work tc">
//       <img src="http://placehold.it/360x360" alt="">
//       <div class="work-overlay">
//         <div class="dt h100">
//           <div class="dtc vam p-- sm-p- md-p">
//             <h1 class="work-heading">Heading</h1>
//           </div>
//         </div>
//       </div>
//     </a>
//   </li>
// </ul>
//
// Styleguide 19.1

.work {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;

  img {
    transition: opacity 0.35s ease, transform 0.35s ease;
    transform: scale(1);
    opacity: 1;
  }

  &:hover {
    img {
      transform: scale(1.1);
      opacity: 0.9;
    }

    .work-overlay {
      visibility: visible;
      transition: opacity 0.35s ease;
      opacity: 1;
    }

    .work-heading {
      transform: scale(1);
      opacity: 1;
    }

    .work-meta {
      transform: translate3d(0, 0, 0);
    }
  }
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: opacity 0.35s ease, visibility 0s 0.35s ease;
  opacity: 0;
  color: @color-white;
  background-color: fade(@color-black, 60%);
  // background-color: fade(@color-secondary, 92%);
  .antialiasing();
}

.work-heading {
  line-height: 1.333;
  margin-bottom: 0;
  transition: opacity 0.35s ease, transform 0.35s ease;
  transform: scale(1.3);
  opacity: 0;
  color: @color-white;
  .to-rem(font-size, @font-size);
}

.work-meta {
  line-height: 1.333;
  position: absolute;
  .to-rem(left, @spacing-half);
  .to-rem(bottom, @spacing-half);
  .to-rem(font-size, @font-size-xx-small);
  text-align: left;
  transition: transform 0.45s 0.07s ease;
  transform: translate3d(-24px, 0, 0);

  li {
    display: inline-block;
    .to-rem(margin-right, @spacing-fourth);
  }
}

.screen-sm-min({
  .work-heading {
    .to-rem(font-size, @font-size-heading-4);
  }
});

.screen-md-min({
  .work-heading {
    .to-rem(font-size, @font-size-heading-2);
  }

  .work-meta {
    .to-rem(left, @spacing-base);
    .to-rem(bottom, @spacing-base);
    .to-rem(font-size, @font-size);
  }
});

.screen-lg-min({
  .work-heading {
    .to-rem(font-size, @font-size-heading-1);
  }
});

.screen-xl-min({
  .work-meta {
    li {
      display: block;
      margin-right: 0;
    }
  }
});
